<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>نمودارها</title>
    <!-- jQuery -->
    <script src="/app/assets/bzamani/jquery-1.10.2.min.js"></script>

    <script src="/app/view/core/charts/js/highcharts.js"></script>
    <script src="/app/view/core/charts/js/exporting.js"></script>
    <script src="/app/view/core/charts/js/export-data.js"></script>
    <script src="/app/view/core/charts/js/accessibility.js"></script>

    <style>
        .highcharts-figure, .highcharts-data-table table {
            min-width: 320px;
            max-width: 100%;
            margin: 1em auto;
        }
    </style>
    <script>
        var contextPath = "/app";
        $(function () {
            fillChart1()
            fillChart2();
            fillChart3();
        });

        function toPersian(englishStatus) {
            if (englishStatus == "initialSaved")
                return "پذیرش در مطب";
            else if (englishStatus == "referred")
                return "ارجاع شده به کلینیک";
            else if (englishStatus == "initialReception")
                return "پذیرش اولیه در کلینیک";
            else if (englishStatus == "finishedWork")
                return "پایان کار بیمار در کلینیک";
            else if (englishStatus == "settlementDone")
                return "تکمیل شده";
            else if (englishStatus == "revoked")
                return "ابطال شده";
        }

        function fillChart1() {
            let chartData = [];
            $.getJSON(contextPath + "/rest/refer/chart/getAllRefersCountGroupByStatus", null, function (entities) {
                $.each(entities, function (index, value) {
                    chartData.push({
                        name: toPersian(value.status),
                        y: value.percent
                    });
                });
                Highcharts.chart('container1', {
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie'
                    },
                    title: {
                        text: 'نمودار درصد ارجاعات به تفکیک وضعیت'
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.0f}</b>'
                    },
                    accessibility: {
                        point: {
                            valueSuffix: '%'
                        }
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.percentage:.0f}'
                            }
                        }
                    },
                    series: [{
                        name: 'درصد',
                        colorByPoint: true,
                        data: chartData
                    }]
                });
            });
        }

        function fillChart2() {
            let chartData = [];
            $.getJSON(contextPath + "/rest/refer/chart/getAllRefersGroupByDoctors", null, function (entities) {
                $.each(entities, function (index, value) {
                    chartData.push({
                        name: value.key,
                        data: [value.value]
                    });
                });
                Highcharts.chart('container2', {
                    chart: {
                        type: 'column',
                        zoomType: "x"
                    },
                    title: {
                        text: 'نمودار رتبه بندی پزشکان از لحاظ تعداد ارجاعات به کلینیک ها'
                    },
                    subtitle: {
                        text: 'medik'
                    },
                    xAxis: {
                        categories: [
                            'تعداد ارجاعات'
                        ],
                        crosshair: true
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: 'تعداد ارجاعات'
                        }
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                            '<td style="padding:0"><b>{point.y:.0f}</b></td></tr>',
                        footerFormat: '</table>',
                        shared: true,
                        useHTML: true
                    },
                    plotOptions: {
                        column: {
                            pointPadding: 0.2,
                            borderWidth: 0
                        }
                    },
                    series: chartData
                });
            });
        }

        function fillChart3() {
            let chartData = [];
            $.getJSON(contextPath + "/rest/refer/chart/getAllRefersGroupByClinics", null, function (entities) {
                $.each(entities, function (index, value) {
                    chartData.push({
                        name: value.key,
                        data: [value.value]
                    });
                });
                Highcharts.chart('container3', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'نمودار رتبه بندی کلینیک ها از لحاظ تعداد پایان کار'
                    },
                    subtitle: {
                        text: 'medik'
                    },
                    xAxis: {
                        categories: [
                            'تعداد پایان کار'
                        ],
                        crosshair: true
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: 'تعداد پایان کار'
                        }
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                            '<td style="padding:0"><b>{point.y:.0f}</b></td></tr>',
                        footerFormat: '</table>',
                        shared: true,
                        useHTML: true
                    },
                    plotOptions: {
                        column: {
                            pointPadding: 0.2,
                            borderWidth: 0
                        }
                    },
                    series: chartData
                });
            });
        }


    </script>
</head>
<body dir="rtl">
<figure class="highcharts-figure">
    <div id="container1"></div>
</figure>

<figure class="highcharts-figure">
    <div id="container2"></div>
</figure>

<figure class="highcharts-figure">
    <div id="container3"></div>
</figure>

</body>
</html>




