<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>پست ها</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/bzamani/bootstrap.css">

    <!-- Fontawesome CSS -->
    <!--<link rel="stylesheet" href="/assets/admin/css/font-awesome.min.css">-->

    <!-- Main CSS -->
    <link rel="stylesheet" href="/assets/bzamani/style-admin.css">

    <!-- jQuery -->
    <script src="/assets/bzamani/jquery-1.10.2.min.js"></script>
    <script src="/assets/bzamani/jquery.template.js"></script>
    <script src="/assets/bzamani/grid-utility.js"></script>
    <script src="/assets/bzamani/general-utility.js"></script>
    <script src="/assets/plugins/fontawesome/css/all5.js"></script>

    <!-- pace mask -->
    <script>
        paceOptions = {
            elements: false,
            document: true, // disabled
            eventLag: false, // disabled
            ajax: {
                trackMethods: ['GET', 'POST', 'DELETE', 'PUT'],
                trackWebSockets: false
            },
            restartOnPushState: true,
            restartOnRequestAfter: true
        };
        $(function () {
            $("body").prepend("<div class='pace-cover' style='display: none;'></div>");
            Pace.on("start", function () {
                $(".pace-cover").fadeIn();
            });
            Pace.on("done", function () {
                $(".pace-cover").fadeOut();
            });
        });
    </script>
    <script type="text/javascript" src="/assets/bzamani/components/pace/pace.min.js"></script>
    <link rel="stylesheet" href="/assets/bzamani/components/pace/themes/blue/pace-theme-flash.css"/>
    <style>
        .pace-cover {
            position: fixed;
            left: 0px;
            top: 1px;
            width: 100%;
            height: 100%;
            z-index: 99999;
            background: rgba(0, 0, 0, 0.4);
        }
    </style>
    <!-- /pace mask -->

    <!-- sweet alert -->
    <script type="text/javascript" src="/assets/bzamani/components/sweetalert/sweetalert2.min.js"></script>
    <script type="text/javascript" src="/assets/bzamani/components/sweetalert/sweetAlertConfirm.js"></script>
    <link rel="stylesheet" href="/assets/bzamani/components/sweetalert/sweetalert2.min.css">
    <!-- /sweet alert -->

    <script>

        var emptyEntityData = {
            "id": '',
            "title": '',
            "category": {"id": ''},
            "body": '',
            "tags": '',
            "allowLikeOrComment": '',
            "fileCode": ''
        };
        var entityData;

        var searchFilters = {
            "searchBox": '',
            "categoryId": -1,
            "confirmedPost": null,
            "confirmedComment": null,
            "sort": "id,desc",
            "page": 0,
            "size": 8
        };

        $(function () {
            refreshGrid();
            fillComboBaseInfo(4, "cmbCategory");

            $('#cmbPageSize').change(function () {
                searchFilters.size = $(this).val();
                refreshGrid();
            });

            $('.searchFilter').keydown(function (e) {
                if (e.which == 13)  // the enter key code
                    searchPost();
            });

            $('#cmbSearchConfirmedPost').change(function () {
                if ($(this).val() == -1)
                    searchFilters.confirmedPost = null;
                else
                    searchFilters.confirmedPost = $(this).val();
                searchPost();
            });

            $('#cmbSearchConfirmedComment').change(function () {
                if ($(this).val() == -1)
                    searchFilters.confirmedComment = null;
                else
                    searchFilters.confirmedComment = $(this).val();
                searchPost();
            });

            reFillCategories();

        });

        function reFillCategories() {
            $.getJSON("/api/public/portal/post/getAllUsedPostCategories", searchFilters, function (res) {
                $("#categoryList > li").remove();
                $("#categoryTemplate").tmpl(res).appendTo("#categoryList");
            });
        }

        function searchPost() {
            searchFilters.searchBox = $("#txtSearchBox").val();
            refreshGrid();
        }

        function clearSearch() {
            $('#cmbPageSize').val(8);
            searchFilters = {
                "searchBox": '',
                "categoryId": -1,
                "confirmedPost": null,
                "confirmedComment": null,
                "sort": "id,desc",
                "page": 0,
                "size": 8
            };
            $('.searchFilter').val('');
            $(".categoryElement").css("backgroundColor", "white");
            $(".categoryElement").css("color", "black");
            refreshGrid();
        }

        function next() {
            searchFilters.page = searchFilters.page + 1;
            refreshGrid();
        }

        function previous() {
            searchFilters.page = searchFilters.page - 1;
            refreshGrid();
        }

        function goTo(pageNumber) {
            searchFilters.page = pageNumber;
            refreshGrid();
        }

        function deleteEntity() {
            if ($('#hiddenFieldId').val() > 0)
                $.ajax({
                    url: "/rest/portal/post/delete/" + $('#hiddenFieldId').val(),
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    type: 'DELETE',
                    success: function (res) {
                        refreshGrid();
                        showMessage("حذف با موفقیت انجام شد.", "", "success");
                    },
                    error: function (err) {
                        showMessage("خطا در حذف اطلاعات", "", "error");
                    }
                });
            else
                showMessage("هیچ رکوردی انتخاب نشده است.", "", "error");
        }

        function refreshGrid() {
            reFillCategories();
            $.getJSON("/api/public/portal/post/searchPost", searchFilters, function (entities) {
                if (entities.entityList) {
                    $('#postList :not(script)').remove();
                    $('#postTemplate').tmpl(entities.entityList).prependTo('#postList');
                }
                if (entities.totalRecords == 0) {
                    showMessage("موردی یافت نشد.", "", "info");
                }
                $('#totalRecords').html(entities.totalRecords);
                $('#currentPage').html(entities.currentPage + 1);
                $('#totalPages').html(entities.totalPages);
                $('#pagingList > li').remove();

                if (entities.currentPage == 0)
                    $('#pagingList').append('<li class="page-item"><a class="page-link disabled" style="color: grey" > قبلی </a></li>');
                else
                    $('#pagingList').append('<li class="page-item"><a class="page-link" style="cursor: pointer;color:black;" onclick="previous()"> قبلی </a></li>');

                for (let i = 0; i < entities.totalPages; i++) {
                    if (entities.currentPage == i)
                        $('#pagingList').append('<li class="page-item active"><a class="page-link" style="color:black;" href="#">' + ++i + '<span class="sr-only">(current)</span></a></li>');
                    else
                        $('#pagingList').append('<li class="page-item"><a class="page-link" onclick="goTo(' + i + ')">' + ++i + '</a></li>');
                    --i;
                }

                if (entities.currentPage == entities.totalPages - 1)
                    $('#pagingList').append('<li class="page-item"><a class="page-link disabled" style="color: grey" > بعدی </a></li>');
                else
                    $('#pagingList').append('<li class="page-item"><a class="page-link" style="cursor: pointer;color: black" onclick="next()"> بعدی </a></li>');

            });
        }

        function rowSelected(id) {
            $('#hiddenFieldId').val(id);
        }

        function rowDeselected() {
            $('#hiddenFieldId').val();
        }

        function loadEntity(id) {
            clearEntity();
            $.ajax({
                url: "/api/public/portal/post/load/" + id,
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                type: 'GET',
                success: function (res) {
                    setInputsByEntity(res);
                },
                error: function (err) {
                }
            });
        }

        function saveEntity() {
            if (validateForm() == 'ok') {
                setEntityFromInputs();
                $.ajax({
                    url: "/rest/portal/post/save",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(entityData),
                    type: 'POST',
                    success: function (res) {
                        $('#hiddenFieldId').val(res.id);
                        showMessage("ثبت با موفقیت انجام شد.", "", "success");
                        $('#btnCloseModal').click();
                    },
                    error: function (err) {

                    }
                });
            } else showMessage(validateForm(), "", "warning");
        }

        function confirmPost(id) {
            if (id > 0) {
                $.ajax({
                    url: "/rest/portal/post/confirmPost/" + id,
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    type: 'POST',
                    success: function (res) {
                        if (res > 0) {
                            showMessage("تایید انتشار پست، با موفقیت انجام شد.", "", "success");
                            refreshGrid();
                        }
                    },
                    error: function (err) {
                        showMessage("خطا", err.responseJSON.message, "error");

                    }
                });
            } else showMessage("هیچ پستی انتخاب نشده است.", "", "warning");
        }

        function validateForm() {
            if ($('#txtTitle').val() == '' || !$('#cmbCategory').val() > 0 || $('#txtBody').val() == '' || $('#hiddenFieldfileCode').val() == '')
                return "پرکردن فیلدهای ستاره دار الزامی است.";
            else return 'ok';
        }

        function clearEntity() {
            entityData = emptyEntityData;
            setInputsByEntity(emptyEntityData);
        }

        function setInputsByEntity(entity) {
            $("#hiddenFieldId").val(entity.id);
            $("#txtTitle").val(entity.title);
            $("#txtBody").val(entity.body);
            $("#txtTags").val(entity.tags);
            $("#cmbCategory").val(entity.category.id);
            entity.allowLikeOrComment == true ? $('#enable_switch').prop("checked", "checked") : $('#enable_switch').prop("checked", "");
            if (entity.fileCode != null && entity.fileCode.length > 0) {
                $('#uploadedImage').prop("src", "/rest/core/file/download/" + entity.fileCode + "/false");
                $("#hiddenFieldfileCode").val(entity.fileCode);
            }
            else{
                $('#uploadedImage').prop("src", "");
                $("#hiddenFieldfileCode").val('');
            }
        }

        function setEntityFromInputs() {
            entityData = {
                "id": $('#hiddenFieldId').val(),
                "title": $('#txtTitle').val(),
                "body": $('#txtBody').val(),
                "category": {"id": $('#cmbCategory').val()},
                "tags": $('#txtTags').val(),
                "allowLikeOrComment": $('#enable_switch').prop("checked"),
                "fileCode": $('#hiddenFieldfileCode').val()
            }
        }

        function uploadFile() {
            $.ajax({
                url: "/rest/core/file/upload",
                type: "POST",
                data: new FormData($("#upload-file-form")[0]),
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false,
                cache: false,
                dataType: "text",
                success: function (fileCode) {
                    if (fileCode != null && fileCode.length > 0) {
                        $('#uploadedImage').prop("src", "/rest/core/file/download/" + fileCode + "/false");
                        $('#hiddenFieldfileCode').val(fileCode);
                        $('.submit-btn').show();
                    }
                },
                error: function (err) {
                    if (err.responseText && err.responseText.toLowerCase().includes('SizeLimitExceededException'.toLowerCase()))
                        showMessage('خطا! حداکثر حجم تصویر شما می تواند ' + parseInt(err.responseText.substring(err.responseText.lastIndexOf('(') + 1, err.responseText.lastIndexOf(')'))) / 1048576 + ' مگابایت باشد.', "", "error");
                }
            });
        }

        function selectCategory(id) {
            searchFilters.categoryId = id;
            refreshGrid();

            $(".categoryElement").css("backgroundColor", "white");
            $(".categoryElement").css("color", "black");
            $("#category_" + id).css("backgroundColor", "#00d0f1");
            $("#category_" + id).css("border-radius", "3px");
            $("#category_" + id).css("color", "white");
            $("#category_" + id).css("fontWeight", "bold");
        }

        function showComments(postId) {
            document.location = "showPostCommentsToAdmin.html?postId=" + postId;
        }

    </script>
</head>
<body style="background-color: #00121e;">

<!-- Main Wrapper -->
<div class="main-wrapper">

    <!-- Page Content -->
    <div class="content" style="margin-right: -.1em">
        <div style="margin-left: 1em;margin-right: 1em;margin-top: 1em">
            <div class="row">
                <!-- Blog Sidebar -->
                <div class="col-lg-3 col-md-12 sidebar-right theiaStickySidebar">

                    <!-- Search -->
                    <div class="card search-widget">
                        <div class="card-body">
                            <div class="input-group pt-1">
                                <div class="input-group-append">
                                    <button onclick="clearSearch()" class="btn btn-secondary"
                                            style="border-radius: 0px 7px 7px 0px"><i
                                            class="fa fa-eraser"></i>
                                    </button>
                                </div>
                                <input type="text" placeholder="عبارت جستجو ... " class="form-control searchFilter"
                                       id="txtSearchBox">
                                <div class="input-group-append">
                                    <button onclick="searchPost()" class="btn btn-primary"
                                            style="border-radius: 7px 0px 0px 7px"><i
                                            class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="input-group pt-1">
                                <select class="form-control searchFilter" id="cmbSearchConfirmedPost">
                                    <option value="-1"> وضعیت پست ...</option>
                                    <option value="true">تایید شده</option>
                                    <option value="false">در انتظار تایید</option>
                                </select>
                            </div>
                            <div class="input-group pt-1">
                                <select class="form-control searchFilter" id="cmbSearchConfirmedComment">
                                    <option value="-1"> وضعیت نظر ...</option>
                                    <option value="true">تایید شده</option>
                                    <option value="false">در انتظار تایید</option>
                                </select>

                            </div>
                        </div>
                    </div>
                    <!-- /Search -->

                    <a href="#add_edit_modal" data-toggle="modal" title="افزودن پست جدید"
                       onclick="clearEntity();"
                       class="btn btn-info  btn-sm mb-4"><i class="fa fa-plus"></i></a>

                    <!-- Categories -->
                    <div class="card category-widget">
                        <div class="card-header">
                            <h5 class="card-title"> دسته‌بندی ها </h5>
                        </div>
                        <div class="card-body">
                            <ul class="categories" id="categoryList">
                                <script id="categoryTemplate" type="text/x-jquery-tmpl">
                                <li id="category_${id}" class="categoryElement" style="cursor:pointer" onclick="selectCategory(${id})">
                                       <a> ${title} (${numberOfPosts})</a>
                                </li>




















                                </script>
                            </ul>
                        </div>
                    </div>
                    <!-- /Categories -->

                </div>
                <!-- /Blog Sidebar -->

                <div class="col-lg-9 col-md-12">
                    <div class="row blog-grid-row" id="postList">
                        <!-- Blog Post -->
                        <script id="postTemplate" type="text/x-jquery-tmpl">
                         <div class="col-md-6 col-sm-12" >
                            <div class="blog grid-blog">
                                <div class="blog-image">
                                    <a><img class="img-fluid" style="width: 25em;height:17em"
                                             src={{if fileCode!=null}}"/rest/core/file/download/${fileCode}/false"
                                                 {{else}}"/assets/img/3.png"
                                                 {{/if}}
                                             alt="post Image"></a>
                                </div>
                                <div class="blog-content">
                                    <ul class="entry-meta meta-item col-sm-12 float-left">
                                        <div class="blog-info clearfix">
                                            <div class="post-left">
                                                <ul>
                                                    <li class="col-md-6 col-sm-12 float-left">
                                                        <div class="post-author">
                                                            <a href="javascript:void(0);">
                                                            <img src= {{if author.male && author.fileCode==null}}"/assets/img/man.png"{{/if}}
                                                              {{if !author.male && author.fileCode==null}}"/assets/img/woman.png"{{/if}}
                                                              {{if author.fileCode!=null}}"/rest/core/file/download/${author.fileCode}/false"{{/if}}
                                                               alt="Post Author">
                                                            <span>${author.firstname} ${author.lastname}</span></a>
                                                        </div>
                                                    </li>
                                                    <li style="display:flex;white-space:nowrap;" class="col-md-4 col-sm-12 float-left"><i class="far fa-calendar"></i>${createDateShamsi}</li>
                                                    <li style="display:flex;white-space:nowrap;" class="col-md-3 col-sm-12 float-left">{{if allowLikeOrComment}}<i class="far fa-comments"></i>${commentsCount} نظر{{/if}}</li>
                                                    <li style="display:flex;white-space:nowrap;" class="col-md-2 col-sm-12 float-left">{{if allowLikeOrComment}}<i class="fa fa-heart text-danger"></i>${likesCount}{{/if}}</li>
                                                    <li style="display:flex;white-space:nowrap;" class="col-md-12 col-sm-12 float-left"><i class="fa fa-tags"></i>${category.title}</li>
                                                </ul>
                                            </div>
									    </div>
                                    </ul>
                                    <h3 class="blog-title"><a style="font-weight:bolder">${title}</a></h3>
                                    <p class="mb-0">${body.substring(0,40)} ... </p>
                                    <a href="#delete_post_modal" onclick="rowSelected(${id})"  data-toggle="modal" class="btn btn-danger  btn-sm">حذف</a>
                                    <a href="#add_edit_modal" onclick="loadEntity(${id})"  data-toggle="modal" class="btn btn-warning  btn-sm">ویرایش</a>
                                    <a href="#comments_modal" onclick="showComments(${id})"  data-toggle="modal" class="btn btn-secondary  btn-sm">بررسی نظرات</a>
                                    {{if !confirmed}}<button class="btn btn-success  btn-sm" onclick="confirmPost(${id})"><span style="color: black">تایید انتشار</span></button>{{/if}}
                                </div>
                            </div>
                        </div>


















                        </script>
                        <!-- /Blog Post -->
                    </div>
                </div>
            </div>
            <!-- paging -->
            <div class="row col-lg-12 col-md-12 card-body pl-5" style="text-align: center!important;color: white">
                <span class="float-left pt-2"> صفحه &nbsp;</span>
                <span class="float-left pt-2" id="currentPage"></span>
                <span class="float-left pt-2">&nbsp;از &nbsp;</span>
                <span class="float-left pt-2" id="totalPages"></span>&nbsp;

                <ul class="pagination float-left" id="pagingList"></ul>&nbsp;

                <span class="float-left pt-2" id="totalRecords"></span>
                <span class="float-left pt-2"> مورد &nbsp;</span>

                <select id="cmbPageSize" class="float-left"
                        style="height: 35px;border-radius: 8px;cursor: pointer">
                    <option value="5">5</option>
                    <option value="8" selected>8</option>
                    <option value="10">10</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
            <!-- paging -->
        </div>
    </div>
    <!-- /Page Content -->

    <!-- Add/Edit Modal -->
    <div class="modal fade custom-modal" id="add_edit_modal" aria-hidden="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-white">افزودن / ویرایش پست </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnCloseModal"
                            onclick="clearSearch()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Add Post -->
                    <input type="hidden" id="hiddenFieldId"/>
                    <div class="service-fields mb-3">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>عنوان پست <span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" id="txtTitle" required="">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>دسته بندی<span class="text-danger">*</span></label>
                                    <select id="cmbCategory" class="form-control"> </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>کلمات کلیدی</label>
                                    <input class="form-control" type="text" id="txtTags">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group float-left">
                                    <label>امکان نطردهی<span class="text-danger">*</span></label>
                                    <div class="status-toggle">
                                        <label class="switch" for="enable_switch">
                                            <input type="checkbox" id="enable_switch">
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="service-fields mb-3">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>شرح پست<span class="text-danger">*</span></label>
                                        <textarea type="text" id="txtBody" class="form-control service-desc"
                                                  maxlength="4000"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="service-fields mb-3">
                            <div class="row">

                            </div>
                        </div>

                        <div class="service-fields mb-3">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="submit-section">
                                        <button class="btn btn-primary submit-btn" onclick="saveEntity()"> ثبت
                                        </button>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="service-upload">
                                        <i class="fas fa-cloud-upload-alt"></i>
                                        <span>بارگذاری تصویر<span class="text-danger">*</span></span>
                                        <form id="upload-file-form">
                                            <input id="upload-file-input" type="file" name="attachment"
                                                   accept="image/*"
                                                   onchange="uploadFile();$('.submit-btn').hide();"/>
                                            <img id="uploadedImage"
                                                 style="width: 8em;border: 1px solid;border-radius: 10px;box-shadow: 0px 0px 10px 1px;"/>
                                            <input type="hidden" id="hiddenFieldfileCode"/>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Add Post -->
                </div>
            </div>
        </div>
    </div>
    <!-- /Add/Edit Modal -->

    <!-- Delete Modal -->
    <div class="modal fade" id="delete_post_modal" aria-hidden="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-content p-2">
                        <h4 class="modal-title">تاییدیه حذف</h4>
                        <p class="mb-4">آیا از حدف اطمینان کافی دارید؟</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"
                                onclick="deleteEntity()">بله
                        </button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"
                                onclick="rowDeselected()">خیر
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Delete Modal -->

</div>
<!-- /Main Wrapper -->


<!-- Bootstrap Core JS -->
<script src="/assets/admin/chart/popper.min.js"></script>

<!-- Bootstrap Core JS -->
<script src="/assets/bzamani/bootstrap.min.js"></script>

<!-- Custom JS -->
<script src="/assets/admin/chart/script.js"></script>

</body>
</html>