<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>بررسی نظرات ثبت شده روی پست</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <!-- Favicons -->
    <link href="/app/assets/img/favicon.png" rel="icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/app/assets/bzamani/bootstrap.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/app/assets/admin/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/app/assets/plugins/fontawesome/css/all.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="/app/assets/bzamani/style-admin.css">

    <!-- jQuery -->
    <script src="/app/assets/bzamani/jquery-1.10.2.min.js"></script>
    <script src="/app/assets/bzamani/jquery.template.js"></script>
    <script src="/app/assets/bzamani/general-utility.js"></script>

    <!-- pace mask -->
    <script>
        paceOptions = {
            elements: false,
            document: true, // disabled
            eventLag: false, // disabled
            ajax: {
                trackMethods: ['GET', 'POST', 'DELETE', 'PUT'],
                trackWebSockets: false
            },
            restartOnPushState: true,
            restartOnRequestAfter: true
        };
        $(function () {
            $("body").prepend("<div class='pace-cover' style='display: none;'></div>");
            Pace.on("start", function () {
                $(".pace-cover").fadeIn();
            });
            Pace.on("done", function () {
                $(".pace-cover").fadeOut();
            });
        });
    </script>
    <script type="text/javascript" src="/app/assets/bzamani/components/pace/pace.min.js"></script>
    <link rel="stylesheet" href="/app/assets/bzamani/components/pace/themes/blue/pace-theme-flash.css"/>
    <style>
        .pace-cover {
            position: fixed;
            left: 0px;
            top: 1px;
            width: 100%;
            height: 100%;
            z-index: 99999;
            background: rgba(0, 0, 0, 0.4);
        }
    </style>
    <!-- /pace mask -->

    <!-- sweet alert -->
    <script type="text/javascript" src="/app/assets/bzamani/components/sweetalert/sweetalert2.min.js"></script>
    <script type="text/javascript" src="/app/assets/bzamani/components/sweetalert/sweetAlertConfirm.js"></script>
    <link rel="stylesheet" href="/app/assets/bzamani/components/sweetalert/sweetalert2.min.css">
    <!-- /sweet alert -->

    <script>
        var contextPath = "/app";
        var postId = getUrlParameter("postId");
        var searchFilters = {
            "postId": postId,
            "confirmed": false,
            "sort": "id,desc",
            "page": 0,
            "size": 1000
        }

        $(function () {
            loadPost(postId);

            $('#cmbCommentConfirmed').change(function () {
                if ($(this).val() == -1)
                    searchFilters.confirmed = null;
                else
                    searchFilters.confirmed = $(this).val();
                getAllCommentsByPostId();
            });
        });

        function loadPost(id) {
            $.ajax({
                url: contextPath + "/api/public/portal/post/load/" + id,
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                type: 'GET',
                success: function (res) {
                    $("#hiddenFieldId").val(res.id);
                    $("#postDetailDiv > div").remove();
                    $("#postDetailTemplate").tmpl(res).appendTo("#postDetailDiv");
                    getAllCommentsByPostId();
                },
                error: function (err) {
                }
            });
        }


        function getAllCommentsByPostId() {
            $.getJSON(contextPath + "/rest/portal/comment/getAllCommentsByPostId", searchFilters, function (res) {
                $('#lblAllCommentsCount').html(res.totalRecords);
                $("#commentsList > li").remove();
                $("#commentsTemplate").tmpl(res.entityList).appendTo("#commentsList");
            });
        }

        function confirmComment(id, status) {
            $.ajax({
                url: contextPath + "/rest/portal/comment/changeStatus/" + id + "/" + status,
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                type: 'POST',
                success: function (res) {
                    getAllCommentsByPostId();
                    if (res > 0 && status == true)
                        showMessage("تایید موفق", "این نظر تایید شد و در پورتال قابل مشاهده خواهد بود.", "success");
                    if (res > 0 && status == false)
                        showMessage("عدم تایید موفق", "این نظر به حالت تایید نشده تغییر وضعیت داده شد و دیگر در پورتال قابل مشاهده نخواهد بود.", "success");
                },
                error: function (err) {
                    showMessage("خطا", err.responseJSON.message, "error");
                }
            });
        }

        function returnToPosts() {
            document.location = "index.html"
        }

        function deleteComment(id) {
            showConfirm('تاییدیه حذف نظر', 'آیا از این کار اطمینان دارید؟', function () {
                $.ajax({
                    url: contextPath + "/rest/portal/comment/delete/" + id,
                    type: 'DELETE',
                    contentType: 'application/json; charset=utf-8',
                    success: function (res) {
                        if (res == true)
                            showMessage("نظر با موفقیت حذف شد.", "", "success");
                        getAllCommentsByPostId();
                    },
                    error: function () {
                        showMessage("خطا", err.responseJSON.message, "error");
                    }
                });
            });
        }

    </script>
</head>
<body style="background-color: #00121e;margin-top: 1em">

<!-- Main Wrapper -->
<div class="main-wrapper">
    <!-- show Post -->
    <input type="hidden" id="hiddenFieldId"/>
    <div class="row">
        <div class="col-sm-12">
            <!-- Blog Details-->
            <div class="blog-view" id="postDetailDiv">
                <script id="postDetailTemplate" type="text/x-jquery-tmpl">
                                <div class="blog blog-single-post">
                                    <div class="text-center">
                                        <a href="javascript:void(0);">
                                        <img src={{if fileCode!=null}}"/app/rest/core/file/download/${fileCode}/false" style="max-width: 100%"
                                                 {{else}}"/app/assets/img/3.png"
                                                 {{/if}}
                                             alt="post Image"></a>
                                    </div>
                                    <h4 class="card-title">${title}</h4>
                                    <div class="blog-info clearfix">
                                        <div class="post-left">
                                            <ul>
                                                <li>
                                                    <div class="post-author">
                                                        <a href="javascript:void(0);"><img src= {{if author.male && author.fileCode==null}}"/app/assets/img/man.png"{{/if}}
                                                              {{if !author.male && author.fileCode==null}}"/app/assets/img/woman.png"{{/if}}
                                                              {{if author.fileCode!=null}}"/app/rest/core/file/download/${author.fileCode}/false"{{/if}}
                                                               alt="Post Author"><span>${author.firstname} ${author.lastname}</span></a>
                                                    </div>
                                                </li>
                                                <li><i class="far fa-calendar text-success"></i>${createDateShamsi}</li>
                                                <li><i class="far fa-comments"></i>${commentsCount} نظر تایید شده </li>
                                                <li><i class="fa fa-tags text-warning"></i>${category.title}</li>
                                                <li><i class="fa fa-heart text-danger" ></i>${likesCount}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="blog-content">
                                        <p>${body}</p>
                                    </div>
                                </div>












                </script>
            </div>
            <!-- /Blog Details-->

            <div class="card blog-comments clearfix">
                <div class="card-header">
                    <h4 class="card-title">نظرات کاربران</h4>
                </div>
                <div class="float-left">
                    <select class="form-control searchFilter col-md-2 col-sm-12 float-left" id="cmbCommentConfirmed">
                        <option value="-1"> همه نظرات</option>
                        <option value="true">نظرات تایید شده</option>
                        <option value="false" selected>نظرات در انتظار تایید</option>
                    </select>
                    <span id="lblAllCommentsCount" class="float-left">0</span>
                    <span>نظر </span>
                </div>
                <div class="card-body pb-0">
                    <ul class="comments-list" id="commentsList">
                        <script id="commentsTemplate" type="text/x-jquery-tmpl">
                                        <li>
                                            <div class="comment">
                                                <div class="comment-author">
                                                    <img class="avatar" src= {{if commenter.male && commenter.fileCode==null}}"/app/assets/img/man.png"{{/if}}
                                                         {{if !commenter.male && author.fileCode==null}}"/app/assets/img/woman.png"{{/if}}
                                                         {{if commenter.fileCode!=null}}"/app/rest/core/file/download/${commenter.fileCode}/false"{{/if}}
                                                         alt="commenter image">
                                                </div>
                                                <div class="comment-block float-left">
													<span class="comment-by">
														<span class="blog-author-name">${commenter.firstname} ${commenter.lastname}</span>
													</span>
                                                    <p class="blog-date">${createDateShamsi}</p>
                                                    <p>${description}</p>
                                                    <div style="display:flex;white-space:nowrap;">
                                                        {{if confirmed==true}}<span class="badge badge-pill bg-info inv-badge" style="padding-top: 1em">تایید شده</span>{{/if}}
                                                        {{if confirmed==false}}<span class="badge badge-pill bg-secondary inv-badge" style="padding-top: 1em">در انتظار تایید</span>{{/if}}
                                                        <span class="col-md-1 col-sm-6"></span>
                                                        {{if confirmed==false}}<a onclick="confirmComment(${id},true)"  class="btn btn-success  btn-sm mr-1">تایید نظر</a>{{/if}}
                                                        {{if confirmed==true}}<a onclick="confirmComment(${id},false)"  class="btn btn-warning  btn-sm mr-1">رد نظر</a>{{/if}}
                                                        <a onclick="deleteComment(${id})"  class="btn btn-danger  btn-sm mr-1">حذف</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>























                        </script>
                    </ul>
                </div>
                <div style="text-align: left">
                    <button class="btn btn-secondary submit-btn col-md-2 col-sm-12" onclick="returnToPosts()">بازگشت
                    </button>
                </div>
            </div>


        </div>
    </div>

    <!-- /show Post -->

</div>
<!-- /Main Wrapper -->


<!-- Bootstrap Core JS -->
<script src="/app/assets/admin/chart/popper.min.js"></script>

<!-- Bootstrap Core JS -->
<script src="/app/assets/bzamani/bootstrap.min.js"></script>

<!-- Custom JS -->
<script src="/app/assets/admin/chart/script.js"></script>

</body>
</html>