<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>لیست پزشکان</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/app/assets/img/favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/app/assets/admin/plugins/bootstrap-rtl/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/app/assets/admin/css/font-awesome.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="/app/assets/admin/css/style.css">

    <!--[if lt IE 9]>
    <script src="/app/assets/js/html5shiv.min.js"></script>
    <script src="/app/assets/js/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery -->
    <script src="/app/assets/admin/js/jquery-3.2.1.min.js"></script>

    <!-- pace mask -->
    <script>
        paceOptions = {
            elements: false,
            document: true, // disabled
            eventLag: false, // disabled
            ajax: {
                trackMethods: ['GET', 'POST', 'DELETE', 'PUT'],
                trackWebSockets: false
            },
            restartOnPushState: true,
            restartOnRequestAfter: true
        };
        $(function () {
            $("body").prepend("<div class='pace-cover' style='display: none;'></div>");
            Pace.on("start", function () {
                $(".pace-cover").fadeIn();
            });
            Pace.on("done", function () {
                $(".pace-cover").fadeOut();
            });
        });
    </script>
    <script type="text/javascript" src="/app/view/components/pace/pace.min.js"></script>
    <link rel="stylesheet" href="/app/view/components/pace/themes/blue/pace-theme-flash.css"/>
    <style>
        .pace-cover {
            position: fixed;
            left: 0px;
            top: 1px;
            width: 100%;
            height: 100%;
            z-index: 99999;
            background: rgba(0, 0, 0, 0.4);
        }
    </style>
    <!-- /pace mask -->

    <!-- sweet alert -->
    <script type="text/javascript" src="/app/view/components/sweetalert/sweetalert2.min.js"></script>
    <script type="text/javascript" src="/app/view/components/sweetalert/sweetAlertConfirm.js"></script>
    <link rel="stylesheet" href="/app/view/components/sweetalert/sweetalert2.min.css">
    <!-- /sweet alert -->

    <script src="/app/assets/js/jquery.template.js"></script>
    <script src="/app/assets/js/grid-utility.js"></script>

    <script>
        var contextPath = "/app";
        var entityData = {
            "id": '',
            "male": '',
            "firstname": '',
            "lastname": '',
            "medicalNationalNumber": '',
            "speciality": {"id": ''},
            "state": {"id": ''},
            "city": {"id": ''},
            "region": {"id": ''},
            "address": '',
            "telephone": '',
            "fileCode": ''
        };

        var searchFilters = {
            "specialityTitle": '',
            "sort": "id,desc",
            "page": 0,
            "size": 8
        };

        $(function () {
            fillGrid('doctorTemplate', 'doctorList', contextPath + "/rest/doctor/searchDoctors", searchFilters);

            $('.sort-grid').on("click", function () {
                searchFilters.sort = $(this).attr("order");
                fillGrid('doctorTemplate', 'doctorList', contextPath + "/rest/doctor/searchDoctors", searchFilters);
            });

            $('#cmbPageSize').change(function () {
                searchFilters.size = $(this).val();
                fillGrid('doctorTemplate', 'doctorList', contextPath + "/rest/doctor/searchDoctors", searchFilters);
            });

            $('#txtSearchDoctor').keydown(function (e) {
                if (e.which == 13)  // the enter key code
                    searchDoctor();
            });

            fillComboSpeciality();
            fillComboState();

            $("#cmbState").change(function () {
                fillComboCity($(this).val());
                $("#cmbRegion").html("<select class='select' id='cmbRegion'></select>");
            });

            $("#cmbCity").change(function () {
                fillComboRegion($(this).val());
            });
        });

        function searchDoctor() {
            searchFilters.specialityTitle = $("#txtSearchDoctor").val();
            fillGrid('doctorTemplate', 'doctorList', contextPath + "/rest/doctor/searchDoctors", searchFilters);
        }

        function clearSearch() {
            $('#cmbPageSize').val(8);
            searchFilters = {
                "specialityTitle": '',
                "sort": "id,desc",
                "page": 0,
                "size": 8
            };
            $('.searchFilter').val('');
            fillGrid('doctorTemplate', 'doctorList', contextPath + "/rest/doctor/searchDoctors", searchFilters);
        }

        function next() {
            searchFilters.page = searchFilters.page + 1;
            fillGrid('doctorTemplate', 'doctorList', contextPath + "/rest/doctor/searchDoctors", searchFilters);
        }

        function previous() {
            searchFilters.page = searchFilters.page - 1;
            fillGrid('doctorTemplate', 'doctorList', contextPath + "/rest/doctor/searchDoctors", searchFilters);
        }

        function goTo(pageNumber) {
            searchFilters.page = pageNumber;
            fillGrid('doctorTemplate', 'doctorList', contextPath + "/rest/doctor/searchDoctors", searchFilters);
        }

        function deleteEntity() {
            if ($('#hiddenFieldId').val() > 0)
                $.ajax({
                    url: contextPath + "/rest/doctor/delete/" + $('#hiddenFieldId').val(),
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    type: 'DELETE',
                    success: function (res) {
                        fillGrid('doctorTemplate', 'doctorList', contextPath + "/rest/doctor/searchDoctors", searchFilters);
                        showMessage("حذف با موفقیت انجام شد.", "", "success");
                    },
                    error: function (err) {
                        showMessage("خطا در حذف اطلاعات", "", "error");
                    }
                });
            else
                showMessage("هیچ رکوردی انتخاب نشده است.", "", "error");
        }

        function rowSelected(id) {
            $('#hiddenFieldId').val(id);
        }

        function rowDeselected() {
            $('#hiddenFieldId').val();
        }

        function loadEntity(id) {
            clearInputs();
            clearEntity();
            $.ajax({
                url: contextPath + "/rest/doctor/load/" + id,
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                type: 'GET',
                success: function (res) {
                    setInputsByEntity(res);
                },
                error: function (err) {
                }
            });
        }

        function saveEntity() {
            if (validateForm() == 'ok') {
                setEntityFromInputs();
                $.ajax({
                    url: contextPath + "/rest/doctor/save",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(entityData),
                    type: 'POST',
                    success: function (res) {
                        $('#hiddenFieldId').val(res.id);
                        showMessage("ثبت با موفقیت انجام شد.", "", "success");
                        $('#btnCloseModal').click();
                    },
                    error: function (err) {
                        showMessage("خطا در ثبت اطلاعات", "", "error");
                    }
                });
            } else showMessage("پرکردن فیلدهای ستاره دار الزامی است.", "", "warning");
        }

        function validateForm() {
            if ($('#txtFirstname').val() == '' || $('#txtLastname').val() == '' || $('#txtAddress').val() == '' || $('#txtPhone').val() == ''
                || !$('#cmbSpeciality').val() > 0 || !$('#cmbState').val() > 0 || !$('#cmbCity').val() > 0 || !$('#cmbRegion').val() > 0)
                return;
            else return 'ok';
        }

        function fillComboState() {
            $.ajax({
                type: "GET",
                url: contextPath + "/api/public/baseinfo/getAllByHeaderId/1",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (res) {
                    $("#cmbState").append("<option value=-1>...</option>");
                    $.each(res, function (index, value) {
                        $("#cmbState").append("<option value=" + value.id + ">" + value.title + "</option>");
                    });
                },
                error: function (err) {
                }
            });
        }

        function fillComboCity(stateId, callBackFunction) {
            $.ajax({
                type: "GET",
                url: contextPath + "/api/public/baseinfo/getAllByParentId/" + stateId,
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (res) {
                    $("#cmbCity").html("<select class='select' id='cmbCity'></select>");
                    $("#cmbCity").append("<option value=-1>...</option>");
                    $.each(res, function (index, value) {
                        $("#cmbCity").append("<option value=" + value.id + ">" + value.title + "</option>");
                    });
                    if (callBackFunction != null && typeof callBackFunction == 'function')
                        callBackFunction();
                },
                error: function (err) {
                }
            });
        }

        function fillComboRegion(cityId, callBackFunction) {
            $.ajax({
                type: "GET",
                url: contextPath + "/api/public/baseinfo/getAllByParentId/" + cityId,
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (res) {
                    $("#cmbRegion").html("<select class='select' id='cmbRegion'></select>");
                    $("#cmbRegion").append("<option value=-1>...</option>");
                    $.each(res, function (index, value) {
                        $("#cmbRegion").append("<option value=" + value.id + ">" + value.title + "</option>");
                    });
                    if (callBackFunction != null && typeof callBackFunction == 'function')
                        callBackFunction();
                },
                error: function (err) {
                }
            });
        }

        function fillComboSpeciality() {
            $.ajax({
                type: "GET",
                url: contextPath + "/api/public/baseinfo/getAllByHeaderId/1000",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (res) {
                    $("#cmbSpeciality").append("<option value=-1>...</option>");
                    $.each(res, function (index, value) {
                        $("#cmbSpeciality").append("<option value=" + value.id + ">" + value.title + "</option>");
                    });
                },
                error: function (err) {
                }
            });
        }

        function clearEntity() {
            entityData = {
                "id": '',
                "male": '',
                "firstname": '',
                "lastname": '',
                "medicalNationalNumber": '',
                "speciality": {"id": ''},
                "state": {"id": ''},
                "city": {"id": ''},
                "region": {"id": ''},
                "address": '',
                "telephone": '',
                "fileCode": ''
            };
        }

        function setInputsByEntity(entity) {
            $("#hiddenFieldId").val(entity.id);
            $("#txtFirstname").val(entity.firstname);
            $("#txtLastname").val(entity.lastname);
            $("#txtMedicalNationalNumber").val(entity.medicalNationalNumberl);
            $("#cmbGender").val(entity.male.toString());
            $("#cmbState").val(entity.state.id);
            fillComboCity(entity.state.id, function () {
                fillComboRegion(entity.city.id, function () {
                    $("#cmbCity").val(entity.city.id);
                    $("#cmbRegion").val(entity.region.id);
                });
            });

            $("#cmbSpeciality").val(entity.speciality.id);
            $("#txtAddress").val(entity.id);
            $("#txtPhone").val(entity.id);
            if (entity.fileCode != null && entity.fileCode.length > 0) {
                $('#uploadedImage').prop("src", "/app/rest/core/file/download/" + entity.fileCode + "/false");
                $("#hiddenFieldfileCode").val(entity.fileCode);
            }
        }

        function setEntityFromInputs() {
            clearEntity();
            entityData = {
                "id": $('#hiddenFieldId').val(),
                "male": $('#cmbGender').val(),
                "firstname": $('#txtFirstname').val(),
                "lastname": $('#txtLastname').val(),
                "medicalNationalNumber": $('#txtMedicalNationalNumber').val(),
                "speciality": {"id": $('#cmbSpeciality').val()},
                "state": {"id": $('#cmbState').val()},
                "city": {"id": $('#cmbCity').val()},
                "region": {"id": $('#cmbRegion').val()},
                "address": $('#txtAddress').val(),
                "telephone": $('#txtPhone').val(),
                "fileCode": $('#hiddenFieldfileCode').val()
            }
        }

        function uploadFile() {
            $.ajax({
                url: contextPath + "/rest/core/file/upload",
                type: "POST",
                data: new FormData($("#upload-file-form")[0]),
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false,
                cache: false,
                dataType: "text",
                success: function (fileCode) {
                    if (fileCode != null && fileCode.length > 0) {
                        $('#uploadedImage').prop("src", "/app/rest/core/file/download/" + fileCode + "/false");
                        $('#hiddenFieldfileCode').val(fileCode);
                        $('.submit-btn').show();
                    }
                },
                error: function (err) {
                    if (err.responseText && err.responseText.toLowerCase().includes('SizeLimitExceededException'.toLowerCase()))
                        showMessage('خطا! حداکثر حجم تصویر شما می تواند ' + parseInt(err.responseText.substring(err.responseText.lastIndexOf('(') + 1, err.responseText.lastIndexOf(')'))) / 1048576 + ' مگابایت باشد.', "", "error");
                }
            });
        }

        function setImagePath(fileCode) {
            $('#image_full_size').attr("src", "/app/rest/core/file/download/" + fileCode + "/false");
        }

    </script>

<body>
<div class="row">
    <div class="col-md-12 d-flex">
        <!-- Grid -->
        <div class="card card-table flex-fill">
            <div class="col-sm-12">
                <div class="float-left mt-1">
                    <h5>لیست پزشکان</h5>
                </div>
                <div class="float-left col-sm-3 col-md-5 col-lg-8 col-xl-8">
                    <input type="text" id="txtSearchDoctor" class="form-control searchFilter"
                           placeholder="جستجو براساس تخصص ...">
                </div>
                <div class="float-left">
                    <a href="javascript:void(0)" onclick="searchDoctor();"
                       class="btn btn-block btn-outline-info">جستجو</a>
                </div>
                <div class="float-left">
                    <a href="javascript:void(0)" onclick="clearSearch();" class="btn btn-block btn-outline-danger">پاک
                        کردن</a>
                </div>
                <div class="float-left">
                    <a href="#add_edit_modal" data-toggle="modal"
                       onclick="clearEntity();clearInputs();"
                       class="btn btn-block btn-outline-success">جدید</a>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-center mb-0">
                        <thead>
                        <tr>
                            <th class="text-center">ردیف</th>
                            <th>تصویر
                                <i class="fa fa-sort-up sort-grid" order="fileCode,asc"></i>
                                <i class="fa fa-sort-down sort-grid" order="fileCode,desc"></i>
                            </th>
                            <th>نام
                                <i class="fa fa-sort-up sort-grid" order="firstname,asc"></i>
                                <i class="fa fa-sort-down sort-grid" order="firstname,desc"></i>
                            </th>
                            <th>نام خانوادگی
                                <i class="fa fa-sort-up sort-grid" order="lastname,asc"></i>
                                <i class="fa fa-sort-down sort-grid" order="lastname,desc"></i>
                            </th>
                            <th>تخصص
                                <i class="fa fa-sort-up sort-grid" order="speciality.title,asc"></i>
                                <i class="fa fa-sort-down sort-grid" order="speciality.title,desc"></i>
                            </th>
                            <th>استان
                                <i class="fa fa-sort-up sort-grid" order="state.title,asc"></i>
                                <i class="fa fa-sort-down sort-grid" order="state.title,desc"></i>
                            </th>
                            <th>شهر
                                <i class="fa fa-sort-up sort-grid" order="city.title,asc"></i>
                                <i class="fa fa-sort-down sort-grid" order="city.title,desc"></i>
                            </th>
                            <th>منطقه
                                <i class="fa fa-sort-up sort-grid" order="region.title,asc"></i>
                                <i class="fa fa-sort-down sort-grid" order="region.title,desc"></i>
                            </th>
                            <th>آدرس
                                <i class="fa fa-sort-up sort-grid" order="address,asc"></i>
                                <i class="fa fa-sort-down sort-grid" order="address,desc"></i>
                            </th>
                            <th>تلفن
                                <i class="fa fa-sort-up sort-grid" order="telephone,asc"></i>
                                <i class="fa fa-sort-down sort-grid" order="telephone,desc"></i>
                            </th>
                            <th>عملیات</th>
                        </tr>
                        </thead>
                        <tbody id="doctorList">
                        <script id="doctorTemplate" type="text/x-jquery-tmpl">
                                    <tr>
                                        <td class="text-center"><span class="tmplRowIndex"></span></td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a href="#image_modal" data-toggle="modal" class="avatar avatar-sm mr-2"><img onclick="setImagePath('${fileCode}')"
                                                        class="avatar-img rounded-circle"
                                                        src={{if male && fileCode==null}}"/app/assets/img/man.png"{{/if}}
                                                            {{if !male && fileCode==null}}"/app/assets/img/woman.png"{{/if}}
                                                            {{if fileCode!=null}}"/app/rest/core/file/download/${fileCode}/false"{{/if}}
                                                        alt="User Image"></a>
                                            </h2>
                                        </td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a href="javascript:void(0)">${firstname}</a>
                                            </h2>
                                        </td>
                                        <td>
                                            <h2 class="table-avatar">
                                               <a href="javascript:void(0)">${lastname}</a>
                                            </h2>
                                        </td>
                                        <td>${speciality.title}</td>
                                        <td>${state.title}</td>
                                        <td>${city.title}</td>
                                        <td>${region.title}</td>
                                        <td title="${address}">${address.substring(0,25)}</td>
                                        <td>${telephone}</td>
                                        <td class="text-right">
                                            <a class="btn btn-sm bg-success-light" data-toggle="modal" href="#add_edit_modal" onclick="loadEntity(${id})" >
												<i class="fe fe-pencil"></i> ویرایش
											</a>
											<a  data-toggle="modal" href="#delete_doctor_modal" class="btn btn-sm bg-danger-light" onclick="rowSelected(${id})" >
												<i class="fe fe-trash"></i> حذف
											</a>
                                        </td>
                                    </tr>














                        </script>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /Grid -->
    </div>

    <!-- paging -->
    <div class="row col-md-12 card-body">
        <div class="col-md-9">
            <ul class="pagination" id="pagingList">

            </ul>
        </div>
        <div class="col-md-3 dataTables_length" id="DataTables_Table_0_length">
            <span class="col-sm-4">تعداد</span>
            <select id="cmbPageSize" name="DataTables_Table_0_length" aria-controls="DataTables_Table_0"
                    class="custom-select custom-select-sm form-control form-control-sm col-sm-3">
                <option value="5">5</option>
                <option value="8" selected>8</option>
                <option value="10">10</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
            <span class="col-xs-2 col-md-2 col-sm-6">از</span>
            <span class="col-xs-2 col-md-2 col-sm-6" id="totalRecords"></span>
        </div>
    </div>
    <!-- paging -->


    <!-- Add/Edit Modal -->
    <div class="modal fade custom-modal" id="add_edit_modal" aria-hidden="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">افزودن / ویرایش پزشک </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnCloseModal"
                            onclick="fillGrid('doctorTemplate', 'doctorList', contextPath + '/rest/doctor/searchDoctors', searchFilters)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Add Doctor -->
                    <input type="hidden" id="hiddenFieldId"/>
                    <div class="service-fields mb-3">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>نام <span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" id="txtFirstname" required="">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>نام خانوادگی <span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" id="txtLastname" required="">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>نظام پزشکی </label>
                                    <input class="form-control" type="text" id="txtMedicalNationalNumber">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>جنسیت<span class="text-danger">*</span></label>
                                    <select id="cmbGender" class="form-control">
                                        <option value="..."></option>
                                        <option value="true">مرد</option>
                                        <option value="false">زن</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="service-fields mb-3">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>استان<span class="text-danger">*</span></label>
                                        <select class="form-control" id="cmbState" required=""></select>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>شهر<span class="text-danger">*</span></label>
                                        <select class="form-control" id="cmbCity" required=""></select>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>منطقه<span class="text-danger">*</span></label>
                                        <select class="form-control" id="cmbRegion" required=""></select>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>تخصص<span class="text-danger">*</span></label>
                                        <select class="form-control" id="cmbSpeciality"
                                                required=""></select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="service-fields mb-3">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="form-group">
                                        <label>آدرس<span class="text-danger">*</span></label>
                                        <textarea id="txtAddress"
                                                  class="form-control service-desc"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>تلفن<span class="text-danger">*</span></label>
                                        <textarea id="txtPhone"
                                                  class="form-control service-desc"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="service-fields mb-3">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="service-upload">
                                        <i class="fas fa-cloud-upload-alt"></i>
                                        <span>بارگذاری تصویر</span>
                                        <form id="upload-file-form">
                                            <input id="upload-file-input" type="file" name="attachment"
                                                   accept="image/*"
                                                   onchange="uploadFile();$('.submit-btn').hide();"/>
                                            <img id="uploadedImage" style="width: 8em"/>
                                            <input type="hidden" id="hiddenFieldfileCode"/>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="submit-section">
                                        <button class="btn btn-primary submit-btn" onclick="saveEntity()"> ثبت
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Add Doctor -->
                </div>
            </div>
        </div>
    </div>
    <!-- /Add/Edit Modal -->

    <!-- Delete Modal -->
    <div class="modal fade" id="delete_doctor_modal" aria-hidden="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-content p-2">
                        <h4 class="modal-title">تاییدیه حذف</h4>
                        <p class="mb-4">آیا از حدف اطمینان کافی دارید؟</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"
                                onclick="deleteEntity()">بله
                        </button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"
                                onclick="rowDeselected()">خیر
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Delete Modal -->

    <!-- image_modal -->
    <div class="modal fade custom-modal" id="image_modal" aria-hidden="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">تصویر پزشک </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <img src="" class="img-fluid" alt="هنوز تصویری برای این شخص آپلود نشده است." id="image_full_size">
                </div>
            </div>
        </div>
    </div>
    <!-- /image_modal -->

</div>
<!-- /Page Wrapper -->

<!-- Bootstrap Core JS -->
<script src="/app/assets/admin/plugins/bootstrap-rtl/js/bootstrap.min.js"></script>

</body>
</html>