<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>لیست کاربران</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/app/assets/img/favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/app/assets/bzamani/bootstrap.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/app/assets/admin/css/font-awesome.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="/app/assets/bzamani/style-admin.css">

    <!--[if lt IE 9]>
    <script src="/app/assets/js/html5shiv.min.js"></script>
    <script src="/app/assets/js/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery -->
    <script src="/app/assets/bzamani/jquery-1.10.2.min.js"></script>
    <!-- fancybox -->
    <script src="/app/assets/bzamani/components/fancybox/jquery.fancybox.js"></script>
    <link rel="stylesheet" href="/app/assets/bzamani/components/fancybox/jquery.fancybox.css"/>

    <!-- pace mask -->
    <script>
        paceOptions = {
            elements: false,
            document: true, // disabled
            eventLag: false, // disabled
            ajax: {
                trackMethods: ['GET', 'POST', 'DELETE', 'PUT'],
                trackWebSockets: false
            },
            restartOnPushState: true,
            restartOnRequestAfter: true
        };
        $(function () {
            $("body").prepend("<div class='pace-cover' style='display: none;'></div>");
            Pace.on("start", function () {
                $(".pace-cover").fadeIn();
            });
            Pace.on("done", function () {
                $(".pace-cover").fadeOut();
            });
        });
    </script>
    <script type="text/javascript" src="/app/assets/bzamani/components/pace/pace.min.js"></script>
    <link rel="stylesheet" href="/app/assets/bzamani/components/pace/themes/blue/pace-theme-flash.css"/>
    <style>
        .pace-cover {
            position: fixed;
            left: 0px;
            top: 1px;
            width: 100%;
            height: 100%;
            z-index: 99999;
            background: rgba(0, 0, 0, 0.4);
        }
    </style>
    <!-- /pace mask -->

    <!-- sweet alert -->
    <script type="text/javascript" src="/app/assets/bzamani/components/sweetalert/sweetalert2.min.js"></script>
    <script type="text/javascript" src="/app/assets/bzamani/components/sweetalert/sweetAlertConfirm.js"></script>
    <link rel="stylesheet" href="/app/assets/bzamani/components/sweetalert/sweetalert2.min.css">
    <!-- /sweet alert -->

    <script src="/app/assets/bzamani/jquery.template.js"></script>
    <script src="/app/assets/bzamani/grid-utility.js"></script>
    <script src="/app/assets/bzamani/general-utility.js"></script>

    <script>
        var contextPath = "/app";
        var entityData = {
            "id": '',
            "medicalNationalNumber": '',
            "personel": {"id": ''},
            "speciality": {"id": ''}
        };

        var searchFilters = {
            "firstname": '',
            "lastname": '',
            "specialityTitle": '',
            "sort": "id,desc",
            "page": 0,
            "size": 8
        };

        $(function () {
            refreshGrid();
            fillComboBaseInfo(1000, "cmbSpeciality");
            $('.sort-grid').on("click", function () {
                searchFilters.sort = $(this).attr("order");
                refreshGrid();
            });

            $('#cmbPageSize').change(function () {
                searchFilters.size = $(this).val();
                refreshGrid();
            });

            $('.searchFilter').keydown(function (e) {
                if (e.which == 13)  // the enter key code
                    searchDoctor();
            });
        });

        function searchDoctor() {
            searchFilters.firstname = $("#txtSearchFirstname").val();
            searchFilters.lastname = $("#txtSearchLastname").val();
            searchFilters.specialityTitle = $("#txtSearchSpecialityTitle").val();
            refreshGrid();
        }

        function clearSearch() {
            $('#cmbPageSize').val(8);
            searchFilters = {
                "firstname": '',
                "lastname": '',
                "specialityTitle": '',
                "sort": "id,desc",
                "page": 0,
                "size": 8
            };
            $('.searchFilter').val('');
            refreshGrid();
        }

        function next() {
            searchFilters.page = searchFilters.page + 1;
            refreshGrid();
        }

        function previous() {
            searchFilters.page = searchFilters.page - 1;
            refreshGrid();
        }

        function goTo(pageNumber) {
            searchFilters.page = pageNumber;
            refreshGrid();
        }

        function deleteEntity() {
            if ($('#hiddenFieldId').val() > 0)
                $.ajax({
                    url: contextPath + "/rest/doctor/delete/" + $('#hiddenFieldId').val(),
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    type: 'DELETE',
                    success: function (res) {
                        refreshGrid();
                        showMessage("حذف با موفقیت انجام شد.", "", "success");
                    },
                    error: function (err) {
                        if (err.responseJSON.message.includes("Forbidden"))
                            showMessage("خطای سطح دسترسی", " شما مجوز انجام این کار را ندارید.", "error");
                        else
                            showMessage("خطا در حذف اطلاعات", "", "error");
                    }
                });
            else
                showMessage("هیچ رکوردی انتخاب نشده است.", "", "error");
        }

        function rowSelected(id) {
            $('#hiddenFieldId').val(id);
        }

        function rowDeselected() {
            $('#hiddenFieldId').val();
        }

        function loadEntity(id) {
            clearInputs();
            clearEntity();
            $.ajax({
                url: contextPath + "/rest/doctor/load/" + id,
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                type: 'GET',
                success: function (res) {
                    setInputsByEntity(res);
                },
                error: function (err) {
                }
            });
        }

        function saveEntity() {
            if (validateForm() == 'ok') {
                setEntityFromInputs();
                $.ajax({
                    url: contextPath + "/rest/doctor/save",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(entityData),
                    type: 'POST',
                    success: function (res) {
                        $('#hiddenFieldId').val(res.id);
                        showMessage("ثبت با موفقیت انجام شد.", "", "success");
                        $('#btnCloseModal').click();
                    },
                    error: function (err) {
                        if (err.responseText.includes("unq_doctor_personel_"))
                            showMessage("خطا. این پزشک قبلا ثبت شده است.", "", "error");
                        else if (err.responseJSON.message.includes("Forbidden"))
                            showMessage("خطای سطح دسترسی", " شما مجوز انجام این کار را ندارید.", "error");

                    }
                });
            }
        }

        function validateForm() {
            if ($('#txtMedicalNationalNumber').val() == '' || !$('#hiddenFieldPersonelId').val() > 0 || !$('#cmbSpeciality').val() > 0) {
                showMessage("پرکردن فیلدهای ستاره دار الزامی است.", "", "warning");
                return;
            } else return 'ok';
        }

        function clearEntity() {
            entityData = {
                "id": '',
                "medicalNationalNumber": '',
                "personel": {"id": ''},
                "speciality": {"id": ''}
            };
        }

        function clearInputs() {
            $("#hiddenFieldId").val("");
            $("#txtMedicalNationalNumber").val("");
            $("#hiddenFieldPersonelId").val("");
            $("#txtPersonelTitle").val("");
            $("#cmbSpeciality").val("");
            $('#uploadedImage').prop("src", "");
        }

        function setInputsByEntity(entity) {
            $("#hiddenFieldId").val(entity.id);
            $("#txtMedicalNationalNumber").val(entity.medicalNationalNumber);
            $("#hiddenFieldPersonelId").val(entity.personel.id);
            $("#txtPersonelTitle").val(entity.personel.firstname + " " + entity.personel.lastname);
            $("#cmbSpeciality").val(entity.speciality.id);
            if (entity.personel.fileCode != null && entity.personel.fileCode.length > 0) {
                $('#uploadedImage').prop("src", "/app/rest/core/file/download/" + entity.personel.fileCode + "/false");
            }
        }

        function setEntityFromInputs() {
            clearEntity();
            entityData = {
                "id": $('#hiddenFieldId').val(),
                "medicalNationalNumber": $('#txtMedicalNationalNumber').val(),
                "personel": {"id": $('#hiddenFieldPersonelId').val()},
                "speciality": {"id": $('#cmbSpeciality').val()}
            }
        }


        function setImagePath(fileCode) {
            if (fileCode)
                $('#image_full_size').attr("src", "/app/rest/core/file/download/" + fileCode + "/false");
            else
                $('#image_full_size').attr("src", "");
        }

        function setPersonel(id, firstname, lastname, fileCode) {
            $('#hiddenFieldPersonelId').val(id);
            $('#txtPersonelTitle').val(firstname + " " + lastname);
            if (fileCode)
                $('#uploadedImage').attr("src", "/app/rest/core/file/download/" + fileCode + "/false");
            else
                $('#uploadedImage').prop("src", "");
        }

        function refreshGrid() {
            fillGrid('doctorTemplate', 'doctorList', contextPath + "/rest/doctor/searchDoctor", searchFilters);
        }

    </script>

<body>
<div class="row">
    <div class="col-md-12 d-flex">
        <!-- Grid -->
        <div class="card card-table flex-fill">
            <div class="col-sm-12" style="border-radius: 10px 10px 0px 0px">
                <div class="float-left mt-1">
                    <h5>لیست پزشکان</h5>
                </div>
                <div class="float-right">
                    <a href="#add_edit_modal" data-toggle="modal" title="جدید"
                       onclick="clearEntity();clearInputs();"
                       class="btn btn-block btn-outline-secondary btn-rounded"><i class="fa fa-plus"></i></a>
                </div>
                <div class="float-right">
                    <a href="javascript:void(0)" onclick="clearSearch();" data-toggle="tooltip" title="پاک کردن فیلترها"
                       class="btn btn-block btn-outline-secondary btn-rounded"><i class="fa fa-eraser"></i></a>
                </div>
                <div class="float-right search-section" style="display: none">
                    <a href="javascript:void(0)" onclick="searchDoctor();" data-toggle="tooltip" title="جستجو"
                       class="btn btn-block btn-rounded btn-outline-secondary"><i class="fa fa-filter"></i></a>
                </div>
                <div class="float-right">
                    <a href="javascript:void(0)" onclick="$('.search-section').slideToggle();"
                       class="btn btn-block btn-rounded btn-outline-secondary"><i class="fa fa-search"></i></a>
                </div>
            </div>
            <div class="col-sm-12 search-section" style="display: none">
                <label class="float-left" style="padding-top: .5em">فیلتر کردن نتایج براساس : </label>
                <div class="float-left col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <input type="text" id="txtSearchFirstname" class="form-control searchFilter" placeholder="نام ...">
                </div>
                <div class="float-left col-sm-2 col-md-3 col-lg-2 col-xl-2">
                    <input type="text" id="txtSearchLastname" class="form-control searchFilter"
                           placeholder="نام خانوادگی ...">
                </div>
                <div class="float-left col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <input type="text" id="txtSearchSpecialityTitle" class="form-control searchFilter"
                           placeholder="تخصص ...">
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-center mb-0">
                        <thead>
                        <tr>
                            <th class="text-center">ردیف</th>
                            <th>تصویر
                                <i class="fa fa-sort-up sort-grid" order="personel.fileCode,asc"></i>
                                <i class="fa fa-sort-down sort-grid" order="personel.fileCode,desc"></i>
                            </th>
                            <th>نام
                                <i class="fa fa-sort-up sort-grid" order="personel.firstname,asc"></i>
                                <i class="fa fa-sort-down sort-grid" order="personel.firstname,desc"></i>
                            </th>
                            <th>نام خانوادگی
                                <i class="fa fa-sort-up sort-grid" order="personel.lastname,asc"></i>
                                <i class="fa fa-sort-down sort-grid" order="personel.lastname,desc"></i>
                            </th>
                            <th>واحد سازمانی
                                <i class="fa fa-sort-up sort-grid" order="personel.organization.title,asc"></i>
                                <i class="fa fa-sort-down sort-grid" order="personel.organization.title,desc"></i>
                            </th>
                            <th>تخصص
                                <i class="fa fa-sort-up sort-grid" order="speciality.title,asc"></i>
                                <i class="fa fa-sort-down sort-grid" order="speciality.title,desc"></i>
                            </th>
                            <th>عملیات</th>
                        </tr>
                        </thead>
                        <tbody id="doctorList">
                        <script id="doctorTemplate" type="text/x-jquery-tmpl">
                                    <tr>
                                        <td class="text-center"><span class="tmplRowIndex"></span></td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a href="#image_modal" data-toggle="modal" class="avatar avatar-sm mr-2"><img onclick="setImagePath('${personel.fileCode}')"
                                                        class="avatar-img rounded-circle"
                                                        src={{if personel.male && personel.fileCode==null}}"/app/assets/img/man.png"{{/if}}
                                                            {{if !personel.male && personel.fileCode==null}}"/app/assets/img/woman.png"{{/if}}
                                                            {{if personel.fileCode!=null}}"/app/rest/core/file/download/${personel.fileCode}/false"{{/if}}
                                                        alt="Personel Image"></a>
                                            </h2>
                                        </td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a href="javascript:void(0)">${personel.firstname}</a>
                                            </h2>
                                        </td>
                                        <td>
                                            <h2 class="table-avatar">
                                               <a href="javascript:void(0)">${personel.lastname}</a>
                                            </h2>
                                        </td>
                                        <td>${personel.organization.title}</td>
                                         <td>${speciality.title}</td>
                                        <td class="text-center">
                                            <div class="float-right">
                                                <div class="float-right">
                                                     <a href="#delete_doctor_modal" onclick="rowSelected(${id})"  data-toggle="modal" title="حذف"
                                                                    class="btn btn-block btn-outline-secondary btn-rounded"><i class="fa fa-trash"></i></a>
                                                </div>
                                                <div class="float-right">
                                                     <a href="#add_edit_modal" onclick="loadEntity(${id})"  data-toggle="modal" title="ویرایش"
                                                                    class="btn btn-block btn-outline-secondary btn-rounded"><i class="fa fa-pencil"></i></a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>






















                        </script>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /Grid -->
    </div>

    <!-- paging -->
    <div class="row col-md-12 card-body pl-5" style="text-align: center!important;">
        <span class="float-left pt-2"> صفحه &nbsp;</span>
        <span class="float-left pt-2" id="currentPage"></span>
        <span class="float-left pt-2">&nbsp;از &nbsp;</span>
        <span class="float-left pt-2" id="totalPages"></span>&nbsp;

        <ul class="pagination float-left" id="pagingList"></ul>&nbsp;

        <span class="float-left pt-2" id="totalRecords"></span>
        <span class="float-left pt-2"> مورد &nbsp;</span>

        <select id="cmbPageSize" class="float-left" style="height: 35px;border-radius: 8px;cursor: pointer">
            <option value="5">5</option>
            <option value="8" selected>8</option>
            <option value="10">10</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>
    <!-- paging -->

    <!-- Add/Edit Modal -->
    <div class="modal fade custom-modal" id="add_edit_modal" aria-hidden="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-white">افزودن / ویرایش پزشک </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnCloseModal"
                            onclick="fillGrid('doctorTemplate', 'doctorList', contextPath + '/rest/doctor/searchDoctor', searchFilters)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Add doctor -->
                    <input type="hidden" id="hiddenFieldId"/>
                    <div class="service-fields mb-3">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <input type="hidden" id="hiddenFieldPersonelId"/>
                                    <label>انتخاب فرد<span class="text-danger">*</span></label>
                                    <div style="display: flex;white-space: nowrap">
                                        <input disabled type="text" class="form-control" id="txtPersonelTitle">
                                        <button class="btn btn-primary form-control"
                                                style="width: 3rem"
                                                onclick="viewFancyBox('/app/view/core/personel/personelSelect.html','90%','90%')">
                                            000
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>نظام پزشکی<span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" id="txtMedicalNationalNumber" required="">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>تخصص<span class="text-danger">*</span></label>
                                    <select class="form-control" id="cmbSpeciality"></select>
                                </div>
                            </div>
                        </div>

                        <div class="service-fields mb-3">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="submit-section">
                                        <button class="btn btn-primary submit-btn" onclick="saveEntity()"> ثبت
                                        </button>
                                    </div>
                                </div>
                                <div class="col-lg-4 text-center">
                                    <img id="uploadedImage"
                                         style="width: 8em;border: 1px solid;border-radius: 10px;box-shadow: 0px 0px 10px 1px;"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Add doctor -->
                </div>
            </div>
        </div>
    </div>
    <!-- /Add/Edit Modal -->

    <!-- Delete Modal -->
    <div class="modal fade" id="delete_doctor_modal" aria-hidden="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-content p-2">
                        <h4 class="modal-title">تاییدیه حذف</h4>
                        <p class="mb-4">آیا از حدف اطمینان کافی دارید؟</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"
                                onclick="deleteEntity()">بله
                        </button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"
                                onclick="rowDeselected()">خیر
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Delete Modal -->

    <!-- image_modal -->
    <div class="modal fade custom-modal" id="image_modal" aria-hidden="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">تصویر کاربر </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <img src="" class="img-fluid" alt="هنوز تصویری برای این شخص آپلود نشده است." id="image_full_size">
                </div>
            </div>
        </div>
    </div>
    <!-- /image_modal -->

</div>
<!-- /Page Wrapper -->

<!-- Bootstrap Core JS -->
<script src="/app/assets/bzamani/bootstrap.min.js"></script>

</body>
</html>