<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>مدیریت ارجاعات</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/app/assets/img/favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/app/assets/bzamani/bootstrap.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/app/assets/admin/css/font-awesome.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="/app/assets/bzamani/style-admin.css">

    <!--[if lt IE 9]>
    <script src="/app/assets/js/html5shiv.min.js"></script>
    <script src="/app/assets/js/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery -->
    <script src="/app/assets/bzamani/jquery-1.10.2.min.js"></script>
    <!-- fancybox -->
    <script src="/app/assets/bzamani/components/fancybox/jquery.fancybox.js"></script>
    <link rel="stylesheet" href="/app/assets/bzamani/components/fancybox/jquery.fancybox.css"/>

    <!-- pace mask -->
    <script>
        paceOptions = {
            elements: false,
            document: true, // disabled
            eventLag: false, // disabled
            ajax: {
                trackMethods: ['GET', 'POST', 'DELETE', 'PUT'],
                trackWebSockets: false
            },
            restartOnPushState: true,
            restartOnRequestAfter: true
        };
        $(function () {
            $("body").prepend("<div class='pace-cover' style='display: none;'></div>");
            Pace.on("start", function () {
                $(".pace-cover").fadeIn();
            });
            Pace.on("done", function () {
                $(".pace-cover").fadeOut();
            });
        });
    </script>
    <script type="text/javascript" src="/app/assets/bzamani/components/pace/pace.min.js"></script>
    <link rel="stylesheet" href="/app/assets/bzamani/components/pace/themes/blue/pace-theme-flash.css"/>
    <style>
        .pace-cover {
            position: fixed;
            left: 0px;
            top: 1px;
            width: 100%;
            height: 100%;
            z-index: 99999;
            background: rgba(0, 0, 0, 0.4);
        }
    </style>
    <!-- /pace mask -->

    <!-- sweet alert -->
    <script type="text/javascript" src="/app/assets/bzamani/components/sweetalert/sweetalert2.min.js"></script>
    <script type="text/javascript" src="/app/assets/bzamani/components/sweetalert/sweetAlertConfirm.js"></script>
    <link rel="stylesheet" href="/app/assets/bzamani/components/sweetalert/sweetalert2.min.css">
    <!-- /sweet alert -->

    <!-- datepicker  -->
    <script src="/app/assets/bzamani/components/datepicker/persian-date.js"></script>
    <script src="/app/assets/bzamani/components/datepicker/persian-datepicker.js"></script>
    <link rel="stylesheet" href="/app/assets/bzamani/components/datepicker/persian-datepicker.css">
    <!-- /datepicker  -->

    <!-- thousand separator onKeyup of text box and textArea  -->
    <script src="/app/assets/bzamani/simple.money.format.js"></script>
    <!-- /thousand separator onKeyup of text box and textArea  -->

    <script src="/app/assets/bzamani/jquery.template.js"></script>
    <script src="/app/assets/bzamani/grid-utility.js"></script>
    <script src="/app/assets/bzamani/general-utility.js"></script>

    <script>
        var contextPath = "/app";
        var form = getUrlParameter("form");

        var emptyEntityData = {
            "id": '',
            "referDateShamsi": '',
            "doctor": {"id": -1, "personel": {"firstname": '', "lastname": ''}},
            "patient": {"id": -1, "firstname": '', "lastname": ''},
            "clinic": {"id": -1, "organization": {"title": ''}},
            "sickness": {"id": -1},
            "treatment": {"id": -1},
            "sessionCountToDo": '',
            "fileCode": ''
        };
        var entityData;

        var searchFilters = {
            "referDateShamsiFrom": '',
            "referDateShamsiTo": '',
            "receptionDateShamsiFrom": '',
            "receptionDateShamsiTo": '',
            "finishDateShamsiFrom": '',
            "finishDateShamsiTo": '',
            "doctorId": -1,
            "patientId": -1,
            "clinicId": -1,
            "id": -1,
            "status": -1,
            "sort": "id,desc",
            "page": 0,
            "size": 10
        };

        $(function () {
            initializeDatePicker();
            refreshGrid();
            fillComboBaseInfo(1001, "cmbSickness");
            fillComboBaseInfo(1002, "cmbTreatment");

            $('.sort-grid').on("click", function () {
                searchFilters.sort = $(this).attr("order");
                refreshGrid();
            });

            $('#cmbPageSize').change(function () {
                searchFilters.size = $(this).val();
                refreshGrid();
            });

            $('.searchFilter').keydown(function (e) {
                if (e.which == 13)  // the enter key code
                    searchRefer();
            });

            $('#txtId').keydown(function (e) {
                if (e.which == 13)  // the enter key code
                    searchRefer();
            });
        });

        function searchRefer() {
            searchFilters.referDateShamsiFrom = $("#txtReferDateShamsiFrom").val();
            searchFilters.referDateShamsiTo = $("#txtReferDateShamsiTo").val();
            searchFilters.receptionDateShamsiFrom = $("#txtReceptionDateShamsiFrom").val();
            searchFilters.receptionDateShamsiTo = $("#txtReceptionDateShamsiTo").val();
            searchFilters.finishDateShamsiFrom = $("#txtFinishDateShamsiFrom").val();
            searchFilters.finishDateShamsiTo = $("#txtFinishDateShamsiTo").val();
            searchFilters.doctorId = $("#hiddenFieldDoctorIdInSearch").val();
            searchFilters.patientId = $("#hiddenFieldPatientIdInSearch").val();
            searchFilters.clinicId = $("#hiddenFieldClinicIdInSearch").val();
            searchFilters.id = $("#txtId").val();
            searchFilters.status = $("#cmbStatusInSearch").val();
            refreshGrid();
        }

        function clearSearch() {
            $('#cmbPageSize').val(10);
            searchFilters = {
                "referDateShamsiFrom": '',
                "referDateShamsiTo": '',
                "doctorId": -1,
                "patientId": -1,
                "clinicId": -1,
                "receptionDateShamsiFrom": '',
                "receptionDateShamsiTo": '',
                "finishDateShamsiFrom": '',
                "finishDateShamsiTo": '',
                "id": -1,
                "status": '',
                "sort": "id,desc",
                "page": 0,
                "size": 10
            };
            $('.searchFilter').val('');
            $('#hiddenFieldClinicIdInSearch').val(-1);
            $('#hiddenFieldDoctorIdInSearch').val(-1);
            $('#hiddenFieldPatientIdInSearch').val(-1);
            $('#cmbStatusInSearch').val(-1);
            $('#txtId').val("");
            refreshGrid();
        }

        function next() {
            searchFilters.page = searchFilters.page + 1;
            refreshGrid();
        }

        function previous() {
            searchFilters.page = searchFilters.page - 1;
            refreshGrid();
        }

        function goTo(pageNumber) {
            searchFilters.page = pageNumber;
            refreshGrid();
        }

        function deleteEntity() {
            if ($('#hiddenFieldId').val() > 0)
                $.ajax({
                    url: contextPath + "/rest/refer/delete/" + $('#hiddenFieldId').val(),
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    type: 'DELETE',
                    success: function (res) {
                        refreshGrid();
                        showMessage("حذف با موفقیت انجام شد.", "", "success");
                    },
                    error: function (err) {
                        if (err.responseJSON.message.includes("Forbidden"))
                            showMessage("خطای سطح دسترسی", " شما مجوز انجام این کار را ندارید.", "error");
                        else
                            showMessage("خطا در حذف اطلاعات", err.responseJSON.message, "error");
                    }
                });
            else
                showMessage("هیچ رکوردی انتخاب نشده است.", "", "error");
        }

        function rowSelected(id) {
            $('#hiddenFieldId').val(id);
        }

        function rowDeselected() {
            $('#hiddenFieldId').val();
        }

        function loadEntity(id) {
            clearEntity();
            $.ajax({
                url: contextPath + "/rest/refer/load/" + id,
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                type: 'GET',
                success: function (res) {
                    setInputsByEntity(res);
                },
                error: function (err) {
                }
            });
        }

        function saveEntity() {
            if (validateForm() == 'ok') {
                setEntityFromInputs();
                $.ajax({
                    url: contextPath + "/rest/refer/save",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(entityData),
                    type: 'POST',
                    success: function (res) {
                        $('#hiddenFieldId').val(res.id);
                        showMessage("ثبت با موفقیت انجام شد.", "", "success");
                        $('#btnCloseModal').click();
                    },
                    error: function (err) {

                    }
                });
            }
        }

        function validateForm() {
            if ($('#txtReferDateShamsi').val() == '' || !$('#hiddenFieldDoctorId').val() > 0
                || !$('#hiddenFieldPatientId').val() > 0 || !$('#hiddenFieldClinicId').val() > 0
                || !($('#cmbSickness').val() > 0) || !($('#cmbTreatment').val() > 0) || $('#txtSessionCountToDo').val() == '') {
                showMessage("پرکردن فیلدهای ستاره دار الزامی است.", "", "warning");
                return;
            } else return 'ok';
        }

        function clearEntity() {
            entityData = emptyEntityData;
            setInputsByEntity(emptyEntityData);
        }

        function setInputsByEntity(entity) {
            $("#hiddenFieldId").val(entity.id);
            $("#hiddenFieldPatientId").val(entity.patient.id);
            $("#txtPatientTitle").val(entity.patient.firstname + " " + entity.patient.lastname);
            $("#hiddenFieldClinicId").val(entity.clinic.id);
            $("#txtClinicTitle").val(entity.clinic.organization.title);
            $('#cmbSickness').val(entity.sickness.id);
            $('#cmbTreatment').val(entity.treatment.id);
            $("#txtSessionCountToDo").val(entity.sessionCountToDo);

            if (entity.id > 0) {
                $("#hiddenFieldDoctorId").val(entity.doctor.id);
                $("#txtDoctorTitle").val(entity.doctor.personel.firstname + " " + entity.doctor.personel.lastname);
                $("#txtReferDateShamsi").val(entity.referDateShamsi);
            } else {
                getAuthenticatedDoctor();
                getCurrentDateShamsi();
            }

            if (entity.fileCode != null && entity.fileCode.length > 0) {
                $("#hiddenFieldFileCode").val(entity.fileCode);
            } else {
                $("#hiddenFieldFileCode").val(null);
            }
        }

        function getAuthenticatedDoctor() {
            $.ajax({
                url: contextPath + "/rest/refer/getAuthenticatedDoctor",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                type: 'GET',
                success: function (res) {
                    if (res != null) {
                        $('#hiddenFieldDoctorId').val(res.id);
                        $('#txtDoctorTitle').val(res.personel.firstname + " " + res.personel.lastname);
                    } else {
                        $('#hiddenFieldDoctorId').val(-1);
                        $('#txtDoctorTitle').val('');
                    }
                },
                error: function (err) {
                }
            });
        }

        function getCurrentDateShamsi() {
            $.get(contextPath + "/api/public/getCurrentDateShamsi", function (res) {
                $('#txtReferDateShamsi').val(res);
            });
        }

        function setEntityFromInputs() {
            entityData = {
                "id": $('#hiddenFieldId').val(),
                "referDateShamsi": $('#txtReferDateShamsi').val(),
                "doctor": {"id": $('#hiddenFieldDoctorId').val()},
                "patient": {"id": $('#hiddenFieldPatientId').val()},
                "clinic": {"id": $('#hiddenFieldClinicId').val()},
                "sickness": {"id": $('#cmbSickness').val()},
                "treatment": {"id": $('#cmbTreatment').val()},
                "sessionCountToDo": $('#txtSessionCountToDo').val(),
                "fileCode": $('#hiddenFieldFileCode').val()
            }
        }

        function setDoctor(id, firstname, lastname, fileCode) {
            $('#hiddenFieldDoctorId').val(id);
            $('#txtDoctorTitle').val(firstname + " " + lastname);
        }

        function setDoctorInSearch(id, firstname, lastname, fileCode) {
            $('#hiddenFieldDoctorIdInSearch').val(id);
            $('#txtDoctorTitleInSearch').val(firstname + " " + lastname);
        }

        function setPersonel(id, firstname, lastname) {
            $('#hiddenFieldPatientId').val(id);
            $('#txtPatientTitle').val(firstname + " " + lastname);
        }

        function setPersonelInSearch(id, firstname, lastname) {
            $('#hiddenFieldPatientIdInSearch').val(id);
            $('#txtPatientTitleInSearch').val(firstname + " " + lastname);
        }

        function setClinic(id, title) {
            $('#hiddenFieldClinicId').val(id);
            $('#txtClinicTitle').val(title);
        }

        function setClinicInSearch(id, title) {
            $('#hiddenFieldClinicIdInSearch').val(id);
            $('#txtClinicTitleInSearch').val(title);
        }

        function refreshGrid() {
            fillGrid('referTemplate', 'referList', contextPath + "/rest/refer/searchRefer", searchFilters, function () {
                if (form == 'inbox') {
                    $('.outbox').hide();
                    $('#pageTitle').html("لیست ارجاعات وارده");
                } else if (form == 'outbox') {
                    $('.inbox').hide();
                    $('#pageTitle').html("لیست ارجاعات صادره");
                } else $('#pageTitle').html("مدیریت ارجاعات");
            });
        }

        function changeStatus(id, newStatus, newStatusPersianTitle) {
            showConfirm('تاییدیه تغییر وضعیت به ' + newStatusPersianTitle, 'آیا از انجام این کار اطمینان دارید؟', function () {
                $.ajax({
                    url: contextPath + "/rest/refer/changeStatus/" + id + "/" + newStatus,
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    type: 'POST',
                    success: function (res) {
                        showMessage("تغییر وضعیت با موفقیت انجام شد.", "", "success");
                        refreshGrid();
                    },
                    error: function (err) {
                        showMessage("خطا در تغییر وضعیت", err.responseJSON.message, "error");
                    }
                });
            });
        }

        function showHistory(id) {
            viewFancyBox('/app/view/refer/showHistory.html?referId=' + id, '90%', '90%');
        }

        function showFinishWork(id, doctor, patient, clinic, sessionCountToDo, treatment, referShamsiDate) {
            viewFancyBox('/app/view/refer/showFinishWork.html?referId=' + id + "&clinic=" + clinic + "&patient=" + patient
                + "&referShamsiDate=" + referShamsiDate + "&sessionCountToDo=" + sessionCountToDo + "&doctor=" + doctor + "&treatment=" + treatment, '70%', '90%', function () {
                refreshGrid();
            });
        }

        function uploadFile() {
            $.ajax({
                url: contextPath + "/rest/core/file/upload",
                type: "POST",
                data: new FormData($("#upload-file-form")[0]),
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false,
                cache: false,
                dataType: "text",
                success: function (fileCode) {
                    if (fileCode != null && fileCode.length > 0) {
                        $('#hiddenFieldFileCode').val(fileCode);
                        $('.submit-btn').show();
                    }
                },
                error: function (err) {
                    if (err.responseText && err.responseText.toLowerCase().includes('SizeLimitExceededException'.toLowerCase()))
                        showMessage('خطا! حداکثر حجم تصویر شما می تواند ' + parseInt(err.responseText.substring(err.responseText.lastIndexOf('(') + 1, err.responseText.lastIndexOf(')'))) / 1048576 + ' مگابایت باشد.', "", "error");
                }
            });
        }

        function downloadFile(fileCode) {
            document.location.href = "/app/rest/core/file/download/" + fileCode + "/true"
        }

        function showFullEntity(id) {
            $.ajax({
                url: contextPath + "/rest/refer/load/" + id,
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                type: 'GET',
                success: function (refer) {
                    $('#modalFull').html("مشاهده اطلاعات کامل ارجاع با کد رهگیری " + refer.id);
                    $('#txtDoctorTitleFull').val(refer.doctor.personel.firstname + " " + refer.doctor.personel.lastname);
                    $('#txtPatientTitleFull').val(refer.patient.firstname + " " + refer.patient.lastname);
                    $('#txtClinicTitleFull').val(refer.clinic.organization.title);
                    $('#txtReferDateShamsiFull').val(refer.referDateShamsi);
                    $('#txtSessionCountToDoFull').val(refer.sessionCountToDo);
                    $('#txtTreatmentFull').val(refer.treatment.title);
                    $('#txtSicknessFull').val(refer.sickness.title);
                    $('#txtSessionCountDoneFull').val(refer.sessionCountDone);
                    $('#txtReceptionDateShamsiFull').val(refer.receptionDateShamsi);
                    $('#txtFinishDateShamsiFull').val(refer.finishDateShamsi);
                    $('#txtMedikEarnFull').val(toMoneyFormat(refer.medikEarn));
                    $('#txtPaymentFull').val(toMoneyFormat(refer.payment));
                    $('#txtSettlementDateShamsiFull').val(refer.settlement.settlementDateShamsi);
                },
                error: function (err) {
                }
            });
        }

        function showOperation(id) {
            document.getElementById("operationButton_" + id).classList.toggle("show");
        }

        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }

    </script>

<body>
<div class="row">
    <div class="col-md-12 d-flex">
        <!-- Grid -->
        <div class="card card-table flex-fill">
            <div class="col-sm-12" style="border-radius: 10px 10px 0px 0px">
                <div class="float-left mt-1">
                    <h5><span id="pageTitle"></span></h5>
                </div>
                <div class="float-right outbox">
                    <a href="#add_edit_modal" data-toggle="modal" title="جدید"
                       onclick="clearEntity();"
                       class="btn btn-block btn-outline-secondary btn-rounded"><i class="fa fa-plus"></i></a>
                </div>
                <div class="float-right">
                    <a href="javascript:void(0)" onclick="clearSearch();" data-toggle="tooltip" title="پاک کردن فیلترها"
                       class="btn btn-block btn-outline-secondary btn-rounded"><i class="fa fa-eraser"></i></a>
                </div>
                <div class="float-right search-section" style="display: none">
                    <a href="javascript:void(0)" onclick="searchRefer();" data-toggle="tooltip" title="جستجو"
                       class="btn btn-block btn-rounded btn-outline-secondary"><i class="fa fa-filter"></i></a>
                </div>
                <div class="float-right">
                    <a href="javascript:void(0)" onclick="$('.search-section').slideToggle();"
                       class="btn btn-block btn-rounded btn-outline-secondary"><i class="fa fa-search"></i></a>
                </div>
            </div>
            <div class="col-sm-12 search-section" style="display: none">
                <div class="float-left col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <input type="text" id="txtReferDateShamsiFrom" class="form-control searchFilter myDatepicker"
                           placeholder="ارجاع از تاریخ ...">
                </div>
                <div class="float-left col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <input type="text" id="txtReferDateShamsiTo" class="form-control searchFilter myDatepicker"
                           placeholder="تا تاریخ ...">
                </div>
                <div class="float-left col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <input type="text" id="txtReceptionDateShamsiFrom" class="form-control searchFilter myDatepicker"
                           placeholder="پذیرش از تاریخ ...">
                </div>
                <div class="float-left col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <input type="text" id="txtReceptionDateShamsiTo" class="form-control searchFilter myDatepicker"
                           placeholder="تا تاریخ ...">
                </div>
                <div class="float-left col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <input type="text" id="txtFinishDateShamsiFrom" class="form-control searchFilter myDatepicker"
                           placeholder="پایان کار از تاریخ ...">
                </div>
                <div class="float-left col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <input type="text" id="txtFinishDateShamsiTo" class="form-control searchFilter myDatepicker"
                           placeholder="تا تاریخ ...">
                </div>
                <div class="float-left col-sm-2 col-md-2 col-lg-2 col-xl-2 mt-1 mb-1">
                    <input type="hidden" id="hiddenFieldDoctorIdInSearch" value="-1"/>
                    <div style="display: flex;white-space: nowrap">
                        <input type="text" class="form-control searchFilter" id="txtDoctorTitleInSearch"
                               placeholder="فیلتر براساس پزشک ..."
                               onclick="viewFancyBox('/app/view/doctor/doctorSelectAuthorize.html?isSearch=true','90%','90%')">
                    </div>
                </div>
                <div class="float-left col-sm-2 col-md-2 col-lg-2 col-xl-2 mt-1 mb-1">
                    <input type="hidden" id="hiddenFieldPatientIdInSearch" value="-1"/>
                    <div style="display: flex;white-space: nowrap">
                        <input type="text" class="form-control searchFilter" id="txtPatientTitleInSearch"
                               placeholder="فیلتر براساس بیمار ..."
                               onclick="viewFancyBox('/app/view/core/personel/personelSelect.html?isSearch=true','90%','90%')">
                    </div>
                </div>
                <div class="float-left col-sm-2 col-md-2 col-lg-2 col-xl-2 mt-1 mb-1">
                    <input type="hidden" id="hiddenFieldClinicIdInSearch" value="-1"/>
                    <div style="display: flex;white-space: nowrap">
                        <input type="text" class="form-control searchFilter" id="txtClinicTitleInSearch"
                               placeholder="فیلتر براساس کلینیک ..."
                               onclick="viewFancyBox('/app/view/clinic/clinicSelect.html?isSearch=true','90%','90%')">
                    </div>
                </div>
                <div class="float-left col-sm-2 col-md-2 col-lg-2 col-xl-2 mt-1 mb-1">
                    <input type="text" id="txtId" class="form-control"
                           placeholder="کد رهگیری ...">
                </div>
                <div class="float-left col-sm-2 col-md-2 col-lg-2 col-xl-2 mt-1 mb-1">
                    <select class="form-control" id="cmbStatusInSearch">
                        <option value="-1">...</option>
                        <option value="0">ثبت اولیه</option>
                        <option value="1">ارجاع شده</option>
                        <option value="2">پذیرش اولیه</option>
                        <option value="3">پایان کار</option>
                        <option value="4">تسویه شده</option>
                        <option value="5">ابطال شده</option>
                    </select>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive" style="min-height: 400px">
                    <table class="table table-hover table-center mb-0">
                        <thead>
                        <tr>
                            <th class="text-center">ردیف</th>
                            <th>تاریخ ارجاع
                                <i class="fa fa-sort-up sort-grid" order="referDateShamsi,asc"></i>
                                <i class="fa fa-sort-down sort-grid" order="referDateShamsi,desc"></i>
                            </th>
                            <th>کد
                                <i class="fa fa-sort-up sort-grid" order="id,asc"></i>
                                <i class="fa fa-sort-down sort-grid" order="id,desc"></i>
                            </th>
                            <th>پزشک
                                <i class="fa fa-sort-up sort-grid" order="doctor.personel.lastname,asc"></i>
                                <i class="fa fa-sort-down sort-grid" order="doctor.personel.lastname,desc"></i>
                            </th>
                            <th>بیمار
                                <i class="fa fa-sort-up sort-grid" order="patient.lastname,asc"></i>
                                <i class="fa fa-sort-down sort-grid" order="patient.lastname,desc"></i>
                            </th>
                            <th>کلینیک
                                <i class="fa fa-sort-up sort-grid" order="clinic.organization.title,asc"></i>
                                <i class="fa fa-sort-down sort-grid" order="clinic.organization.title,desc"></i>
                            </th>
                            <th>بیماری
                                <i class="fa fa-sort-up sort-grid" order="sickness.title,asc"></i>
                                <i class="fa fa-sort-down sort-grid" order="sickness.title,desc"></i>
                            </th>
                            <th>تجویز
                                <i class="fa fa-sort-up sort-grid" order="treatment.title,asc"></i>
                                <i class="fa fa-sort-down sort-grid" order="treatment.title,desc"></i>
                            </th>
                            <th>وضعیت
                                <i class="fa fa-sort-up sort-grid" order="status,asc"></i>
                                <i class="fa fa-sort-down sort-grid" order="status,desc"></i>
                            </th>
                            <th>نسخه
                                <i class="fa fa-sort-up sort-grid" order="fileCode,asc"></i>
                                <i class="fa fa-sort-down sort-grid" order="fileCode,desc"></i>
                            </th>
                            <th>عملیات</th>
                        </tr>
                        </thead>
                        <tbody id="referList">
                        <script id="referTemplate" type="text/x-jquery-tmpl">
                                    <tr>
                                        <td class="text-center"><span class="tmplRowIndex"></span></td>
                                        <td>
                                            ${referDateShamsi}
                                        </td>
                                        <td>
                                            ${id}
                                        </td>
                                        <td style="white-space: initial">
                                            ${doctor.personel.firstname}  ${doctor.personel.lastname}
                                        </td>
                                        <td style="white-space: initial">
                                            ${patient.firstname}  ${patient.lastname}
                                        </td>
                                        <td style="font-family: iransans-medium;white-space: initial">
                                            ${clinic.organization.title}
                                        </td>
                                        <td style="white-space: initial">
                                            ${sickness.title}
                                        </td>
                                        <td style="white-space: initial">
                                            ${treatment.title}
                                        </td>
                                        <td>
                                            <span class="badge badge-pill
                                            {{if status=='initialSaved'}}bg-primary
                                            {{else status=='referred'}}bg-info text-white
                                            {{else status=='initialReception'}}bg-warning
                                            {{else status=='finishedWork'}}bg-secondary text-white
                                            {{else status=='settlementDone'}}bg-success text-white
                                            {{else status=='revoked'}}bg-danger text-white
                                            {{/if}}">
                                                ${statusPersianTitle}
                                            </span>
                                        </td>
                                        <td>
                                            {{if fileCode}}
                                            <span class="fa fa-file-archive-o" style="cursor:pointer" onclick="downloadFile('${fileCode}')" />
                                            {{/if}}
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                              <button onclick="showOperation(${id})" class="dropbtn"> . . . <i class="fa fa-sort-down"></i></button>
                                              <div id="operationButton_${id}" class="dropdown-content">
                                              {{if status=='initialSaved'}}
                                                <a href="#add_edit_modal" onclick="loadEntity(${id})"  class="outbox" data-toggle="modal" ><i class="fa fa-pencil"></i>&nbsp;ویرایش</a>
                                                <a href="#delete_refer_modal" onclick="rowSelected(${id})"  class="outbox"  data-toggle="modal" ><i class="fa fa-remove"></i>&nbsp;حذف</a>
                                                <a onclick="changeStatus(${id},'referred','ارجاع به کلینیک')" class="outbox"><i class="fa fa-reply"></i>&nbsp;ارجاع به کلینیک</a>
                                              {{/if}}
                                              {{if status=='referred'}}
                                                <a onclick="changeStatus(${id},'initialReception','پذیرش اولیه')"  class="inbox"><i class="fa fa-ambulance"></i>&nbsp;پذیرش اولیه</a>
                                              {{/if}}
                                              {{if status=='initialReception'}}
                                                <a onclick="showFinishWork(${id},'${doctor.personel.firstname} ${doctor.personel.lastname}', '${patient.firstname} ${patient.lastname}','${clinic.organization.title}', ${sessionCountToDo}, '${treatment.title}','${referDateShamsi}')" class="inbox" ><i class="fa fa-wheelchair-alt"></i>&nbsp;پایان کار</a>
                                              {{/if}}
                                              <!--{{if status=='finishedWork'}}
                                                <a onclick="changeStatus(${id},'settlementDone','تسویه حساب')" ><i class="fa fa-money"></i>&nbsp;تسویه حساب</a>
                                              {{/if}}-->
                                              {{if status!='initialSaved' &&  status!='settlementDone'}}
                                                <a onclick="changeStatus(${id},'revoked','ابطال')" ><i class="fa fa-minus-circle"></i>&nbsp;ابطال</a>
                                              {{/if}}
                                                <a onclick="showHistory(${id})" ><i class="fa fa-history"></i>&nbsp;تاریخچه اقدامات</a>
                                                <a data-toggle="modal" href="#show_full_modal" onclick="showFullEntity(${id})" ><i class="fa fa-history"></i>&nbsp;مشاهده کامل</a>
                                              </div>
                                            </div>
                                        </td>
                                    </tr>













































































                        </script>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /Grid -->
    </div>

    <!-- paging -->
    <div class="row col-md-12 card-body pl-5" style="text-align: center!important;">
        <span class="float-left pt-2"> صفحه &nbsp;</span>
        <span class="float-left pt-2" id="currentPage"></span>
        <span class="float-left pt-2">&nbsp;از &nbsp;</span>
        <span class="float-left pt-2" id="totalPages"></span>&nbsp;

        <ul class="pagination float-left" id="pagingList"></ul>&nbsp;

        <span class="float-left pt-2" id="totalRecords"></span>
        <span class="float-left pt-2"> مورد &nbsp;</span>

        <select id="cmbPageSize" class="float-left" style="height: 35px;border-radius: 8px;cursor: pointer">
            <option value="5">5</option>
            <option value="10" selected>10</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>
    <!-- paging -->

    <!-- Add/Edit Modal -->
    <div class="modal fade custom-modal" id="add_edit_modal" aria-hidden="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-white">ثبت ارجاع </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnCloseModal"
                            onclick="refreshGrid()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Add refer -->
                    <input type="hidden" id="hiddenFieldId"/>
                    <div class="service-fields mb-3">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <input type="hidden" id="hiddenFieldDoctorId"/>
                                    <label>پزشک<span class="text-danger">*</span></label>
                                    <div style="display: flex;white-space: nowrap">
                                        <input disabled type="text" class="form-control" id="txtDoctorTitle">
                                        <button class="btn btn-primary form-control"
                                                style="width: 3rem"
                                                onclick="viewFancyBox('/app/view/doctor/doctorSelectAuthorize.html','90%','90%')">
                                            000
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <input type="hidden" id="hiddenFieldPatientId"/>
                                    <label>بیمار<span class="text-danger">*</span></label>
                                    <div style="display: flex;white-space: nowrap">
                                        <input disabled type="text" class="form-control" id="txtPatientTitle">
                                        <button class="btn btn-primary form-control"
                                                style="width: 3rem"
                                                onclick="viewFancyBox('/app/view/core/personel/personelSelect.html','90%','90%')">
                                            000
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <input type="hidden" id="hiddenFieldClinicId"/>
                                    <label>کلینیک<span class="text-danger">*</span></label>
                                    <div style="display: flex;white-space: nowrap">
                                        <input disabled type="text" class="form-control" id="txtClinicTitle">
                                        <button class="btn btn-primary form-control"
                                                style="width: 3rem"
                                                onclick="viewFancyBox('/app/view/clinic/clinicSelect.html?patientId='+$('#hiddenFieldPatientId').val(),'90%','90%')">
                                            000
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>تاریخ ارجاع<span class="text-danger">*</span></label>
                                    <input class="form-control myDatepicker" type="text" id="txtReferDateShamsi"
                                           required="">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>بیماری<span class="text-danger">*</span></label>
                                    <select class="form-control" id="cmbSickness"></select>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>تجویز<span class="text-danger">*</span></label>
                                    <select class="form-control" id="cmbTreatment"></select>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>تعداد جلسه<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="txtSessionCountToDo"></input>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="service-upload">
                                    <i class="fas fa-cloud-upload-alt"></i>
                                    <span>بارگذاری نسخه</span>
                                    <form id="upload-file-form">
                                        <input id="upload-file-input" type="file" name="attachment"
                                               onchange="uploadFile();$('.submit-btn').hide();"/>
                                        <input type="hidden" id="hiddenFieldFileCode"/>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="submit-section text-center">
                                    <button class="btn btn-primary submit-btn" onclick="saveEntity()"> ثبت
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Add refer -->
                </div>
            </div>
        </div>
    </div>
    <!-- /Add/Edit Modal -->

    <!-- Delete Modal -->
    <div class="modal fade" id="delete_refer_modal" aria-hidden="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-content p-2">
                        <h4 class="modal-title">تاییدیه حذف</h4>
                        <p class="mb-4">آیا از حدف اطمینان کافی دارید؟</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"
                                onclick="deleteEntity()">بله
                        </button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"
                                onclick="rowDeselected()">خیر
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Delete Modal -->

    <!-- show full Modal -->
    <div class="modal fade custom-modal" id="show_full_modal" aria-hidden="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-white"><span id="modalFull"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnCloseFullModal"
                            onclick="refreshGrid()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="service-fields mb-3">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>پزشک</label>
                                    <div>
                                        <input type="text" class="form-control" id="txtDoctorTitleFull"
                                               style="box-shadow: 0px 0px 5px 2px darkcyan">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>بیمار</label>
                                    <div>
                                        <input type="text" class="form-control" id="txtPatientTitleFull"
                                               style="box-shadow: 0px 0px 5px 2px darkcyan">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>کلینیک</label>
                                    <div>
                                        <input type="text" class="form-control" id="txtClinicTitleFull"
                                               style="box-shadow: 0px 0px 5px 2px darkcyan">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>تاریخ ارجاع</label>
                                    <input class="form-control" type="text" id="txtReferDateShamsiFull"
                                           style="box-shadow: 0px 0px 5px 2px darkcyan">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>بیماری</label>
                                    <input type="text" class="form-control" id="txtSicknessFull"
                                           style="box-shadow: 0px 0px 5px 2px darkcyan">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>تجویز</label>
                                    <input type="text" class="form-control" id="txtTreatmentFull"
                                           style="box-shadow: 0px 0px 5px 2px darkcyan">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>تعداد جلسه تجویز شده</label>
                                    <input type="text" class="form-control" id="txtSessionCountToDoFull"
                                           style="box-shadow: 0px 0px 5px 2px darkcyan">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>تاریخ پذیرش</label>
                                    <input class="form-control" type="text" id="txtReceptionDateShamsiFull"
                                           style="box-shadow: 0px 0px 5px 2px darkcyan">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>تعداد جلسات انجام شده</label>
                                    <input type="text" class="form-control" id="txtSessionCountDoneFull"
                                           style="box-shadow: 0px 0px 5px 2px darkcyan"></input>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>پرداخت بیمار(ریال)</label>
                                    <input type="text" class="form-control" id="txtPaymentFull"
                                           style="box-shadow: 0px 0px 5px 2px darkcyan"></input>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>سهم مدیک(ریال)</label>
                                    <input type="text" class="form-control" id="txtMedikEarnFull"
                                           style="box-shadow: 0px 0px 5px 2px darkcyan"></input>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>تاریخ پایان کار</label>
                                    <input class="form-control" type="text" id="txtFinishDateShamsiFull"
                                           style="box-shadow: 0px 0px 5px 2px darkcyan">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>تاریخ تسویه حساب</label>
                                    <input type="text" class="form-control" id="txtSettlementDateShamsiFull"
                                           style="box-shadow: 0px 0px 5px 2px darkcyan"></input>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /show full Modal -->


</div>
<!-- /Page Wrapper -->

<!-- Bootstrap Core JS -->
<script src="/app/assets/bzamani/bootstrap.min.js"></script>

</body>
</html>