<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>ثبت پایان کار بیمار در کلینیک</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/bzamani/bootstrap.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/assets/admin/css/font-awesome.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="/assets/bzamani/style-admin.css">

    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.min.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery -->
    <script src="/assets/bzamani/jquery-1.10.2.min.js"></script>

    <!-- pace mask -->
    <script>
        paceOptions = {
            elements: false,
            document: true, // disabled
            eventLag: false, // disabled
            ajax: {
                trackMethods: ['GET', 'POST', 'DELETE', 'PUT'],
                trackWebSockets: false
            },
            restartOnPushState: true,
            restartOnRequestAfter: true
        };
        $(function () {
            $("body").prepend("<div class='pace-cover' style='display: none;'></div>");
            Pace.on("start", function () {
                $(".pace-cover").fadeIn();
            });
            Pace.on("done", function () {
                $(".pace-cover").fadeOut();
            });
        });
    </script>
    <script type="text/javascript" src="/assets/bzamani/components/pace/pace.min.js"></script>
    <link rel="stylesheet" href="/assets/bzamani/components/pace/themes/blue/pace-theme-flash.css"/>
    <style>
        .pace-cover {
            position: fixed;
            left: 0px;
            top: 1px;
            width: 100%;
            height: 100%;
            z-index: 99999;
            background: rgba(0, 0, 0, 0.4);
        }
    </style>
    <!-- /pace mask -->

    <!-- sweet alert -->
    <script type="text/javascript" src="/assets/bzamani/components/sweetalert/sweetalert2.min.js"></script>
    <script type="text/javascript" src="/assets/bzamani/components/sweetalert/sweetAlertConfirm.js"></script>
    <link rel="stylesheet" href="/assets/bzamani/components/sweetalert/sweetalert2.min.css">
    <!-- /sweet alert -->

    <!-- datepicker  -->
    <script src="/assets/bzamani/components/datepicker/persian-date.js"></script>
    <script src="/assets/bzamani/components/datepicker/persian-datepicker.js"></script>
    <link rel="stylesheet" href="/assets/bzamani/components/datepicker/persian-datepicker.css">
    <!-- /datepicker  -->

    <!-- thousand separator onKeyup of text box and textArea  -->
    <script src="/assets/bzamani/simple.money.format.js"></script>
    <!-- /thousand separator onKeyup of text box and textArea  -->

    <script src="/assets/bzamani/jquery.template.js"></script>
    <script src="/assets/bzamani/general-utility.js"></script>

    <script>

        var referId = getUrlParameter("referId");
        var referShamsiDate = getUrlParameter("referShamsiDate");
        var clinic = getUrlParameter("clinic");
        var patient = getUrlParameter("patient");
        var doctor = getUrlParameter("doctor");
        var sessionCountToDo = getUrlParameter("sessionCountToDo");
        var treatment = getUrlParameter("treatment");

        $(function () {
            setReferData();
            initializeDatePicker();
            initializeThousandSeparatorOnKeyup();
            getClinicPercent();
            $('#txtSessionCountDone').focus();
            getCurrentDateShamsi();

            $('#txtPayment').keyup(function () {
                if (removeMoneyFormat($(this).val()) > 0)
                    $('#txtMedikEarn').val(toMoneyFormat(parseFloat(parseFloat($('#txtPercent').val()) * parseFloat(removeMoneyFormat($(this).val())) / parseFloat(100))));
                else
                    $('#txtMedikEarn').val(0);
            });

        });

        function setReferData(){
            $('#referInfo').html("ثبت پایان کار بیمار در کلینیک برای ارجاع " + referId + " مورخ " + referShamsiDate);
            $('#txtDoctor').val(doctor);
            $('#txtPatient').val(patient);
            $('#txtClinic').val(clinic);
            $('#txtSessionCountToDo').val(sessionCountToDo);
            $('#txtTreatment').val(treatment);
        }

        function saveFinishWork() {
            if (validateForm() == 'ok') {
                let params = {
                    "id": referId,
                    "finishDateShamsi": $('#txtFinishDateShamsi').val(),
                    "sessionCountDone": $('#txtSessionCountDone').val(),
                    "payment": removeMoneyFormat($('#txtPayment').val()),
                    "medikEarn": removeMoneyFormat($('#txtMedikEarn').val())
                };


                $.ajax({
                    url: "/rest/refer/finishWork",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(params),
                    type: 'POST',
                    success: function (res) {
                        if (res != null) {
                            showMessage("ثبت پایان کار بیمار در کلینیک با موفقیت انجام شد.", "", "success");
                            $('#btnSave').hide();
                        }
                    },
                    error: function (err) {
                        if (err.responseJSON.message.includes("Forbidden"))
                            showMessage("خطای سطح دسترسی", " شما مجوز انجام این کار را ندارید.", "error");
                        else
                            showMessage("خطا در حذف اطلاعات", err.responseJSON.message, "error");
                    }
                });
            } else
                showMessage(validateForm(), "", "warning")
        }

        function validateForm() {
            if (!($('#txtFinishDateShamsi').val() == '') && !($('#txtSessionCountDone').val() == '')
                && !($('#txtPayment').val() == '') && !($('#txtMedikEarn').val() == ''))
                return 'ok';
            else
                showMessage("پر کردن فیلدهای ستاره دار اجباری است.", "", "warning");
        }

        function getClinicPercent() {
            $.getJSON("/rest/refer/getClinicPercent/" + referId, function (percent) {
                $('#txtPercent').val(percent);
            });
        }

        function getCurrentDateShamsi() {
            $.get("/api/public/getCurrentDateShamsi", function (res) {
                $('#txtFinishDateShamsi').val(res);
            });
        }

    </script>

<body>
<div class="col-sm-12">
    <div class="float-left col-lg-12 col-md-12 col-sm-12 mt-1 text-center">
        <h5 class="p-2 col-lg-12 col-md-12 col-sm-12 badge-pill bg-primary text-black" id="referInfo"></h5>
    </div>
    <div class="float-left col-sm-12 mt-1">
        <div class="row">
            <div class="float-left mt-1 col-sm-8">
                <label>پزشک </label>
                <input class="form-control" type="text" id="txtDoctor" disabled>
            </div>
            <div class="float-left mt-1 col-sm-4">
                <label>تعداد جلسات برگزار شده<span class="text-danger">*</span></label>
                <input class="form-control" type="text" id="txtSessionCountDone" required="">
            </div>
        </div>
        <div class="row">
            <div class="float-left mt-1 col-sm-8">
                <label>بیمار </label>
                <input class="form-control" type="text" id="txtPatient" disabled>
            </div>
            <div class="float-left mt-1 col-sm-4">
                <label>تاریخ پایان کار<span class="text-danger">*</span></label>
                <input class="form-control myDatepicker" type="text" id="txtFinishDateShamsi" required="">
            </div>
        </div>
        <div class="row">
            <div class="float-left mt-1 col-sm-8">
                <label>کلینیک </label>
                <input class="form-control" type="text" id="txtClinic" disabled>
            </div>
            <div class="float-left mt-1 col-sm-4">
                <label>پرداخت بیمار(ریال)<span class="text-danger">*</span></label>
                <input class="form-control money" type="text" id="txtPayment" required="">
            </div>
        </div>
        <div class="row">
            <div class="float-left mt-1 col-sm-8">
                <label>تجویز </label>
                <input class="form-control" type="text" id="txtTreatment" disabled>
            </div>
            <div class="float-left mt-1 col-sm-4">
                <label>درصد پورسانت کلینیک<span class="text-danger">*</span></label>
                <input class="form-control" type="text" id="txtPercent" required="" disabled>
            </div>
        </div>
        <div class="row">
            <div class="float-left mt-1 col-sm-8">
                <label>تعداد جلسات تجویز شده </label>
                <input class="form-control" type="text" id="txtSessionCountToDo" disabled>
            </div>
            <div class="float-left mt-1 col-sm-4">
                <label>سهم مدیک(ریال)<span class="text-danger">*</span></label>
                <input class="form-control money" type="text" id="txtMedikEarn" required="" disabled>
            </div>
        </div>
        <div class="col-sm-12 text-center mt-3">
            <button class="btn btn-primary" style="color: black" onclick="saveFinishWork()" id="btnSave">ثبت پایان
                کار
            </button>
        </div>
    </div>
</div>
<!-- Bootstrap Core JS -->
<script src="/assets/bzamani/bootstrap.min.js"></script>

</body>
</html>