<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>تاریخچه اقدامات انجام شده روی ارجاع</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/bzamani/bootstrap.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/assets/admin/css/font-awesome.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="/assets/bzamani/style-admin.css">

    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.min.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery -->
    <script src="/assets/bzamani/jquery-1.10.2.min.js"></script>

    <!-- pace mask -->
    <script>
        paceOptions = {
            elements: false,
            document: true, // disabled
            eventLag: false, // disabled
            ajax: {
                trackMethods: ['GET', 'POST', 'DELETE', 'PUT'],
                trackWebSockets: false
            },
            restartOnPushState: true,
            restartOnRequestAfter: true
        };
        $(function () {
            $("body").prepend("<div class='pace-cover' style='display: none;'></div>");
            Pace.on("start", function () {
                $(".pace-cover").fadeIn();
            });
            Pace.on("done", function () {
                $(".pace-cover").fadeOut();
            });
        });
    </script>
    <script type="text/javascript" src="/assets/bzamani/components/pace/pace.min.js"></script>
    <link rel="stylesheet" href="/assets/bzamani/components/pace/themes/blue/pace-theme-flash.css"/>
    <style>
        .pace-cover {
            position: fixed;
            left: 0px;
            top: 1px;
            width: 100%;
            height: 100%;
            z-index: 99999;
            background: rgba(0, 0, 0, 0.4);
        }
    </style>
    <!-- /pace mask -->

    <script src="/assets/bzamani/jquery.template.js"></script>
    <script src="/assets/bzamani/general-utility.js"></script>

    <script>

        var form = getUrlParameter("form");

        $(function () {
            findAllByReferId(getUrlParameter("referId"));
            $('#lblReferId').html(getUrlParameter("referId"));
        });


        function findAllByReferId(id) {
            $.ajax({
                type: "GET",
                url: "/rest/refer/referLog/findAllByReferId/" + id,
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (res) {
                    $("#logList > div").remove();
                    $("#logTemplate").tmpl(res).appendTo("#logList");
                    if (form == 'outbox') {
                        $('.logs').each(function () {
                            if ($(this).attr("newStatus").includes("تکمیل شده"))
                                $(this).hide();
                        });
                    }
                },
                error: function (err) {
                    console.log("error ---- " + err);
                }
            });
        }

    </script>

<body>
<div class="row">
    <div class="col-md-12 d-flex">
        <!-- Grid -->
        <div class="card card-table flex-fill">
            <div class="col-sm-12" style="border-radius: 10px 10px 0px 0px">
                <div class="float-left mt-1">
                    <h5>تاریخچه اقدامات انجام شده روی ارجاع <span id="lblReferId"></span></h5>
                </div>
            </div>
            <div class="col-md-12 col-lg-12 col-xl-12" id="logList">
                <script id="logTemplate" type="text/x-jquery-tmpl">
                    <div class="row logs" id="log_${id}" newStatus="${newStatusPersianTitle}">
                       <p>
                       در تاریخ
                       ${operationDateShamsi}،
                       ساعت
                       ${operationTime}،
                       عملیات
                       ${operation}،
                       توسط
                        <span class="badge badge-pill bg-secondary text-white">
                           ${operator.firstname} ${operator.lastname}
                        </span>
                       انجام شد و
                       {{if oldStatusPersianTitle != newStatusPersianTitle}}
                           وضعیت ارجاع
                           {{if oldStatusPersianTitle.length > 0}}
                                از
                               ${oldStatusPersianTitle}،
                           {{/if}}
                           به
                           <span class="badge badge-pill bg-primary text-white">
                           ${newStatusPersianTitle}
                        </span>
                           تغییر کرد.
                       {{/if}}
                       </p>
                    </div>





                </script>
            </div>
        </div>
    </div>
    <!-- /Grid -->
</div>
<!-- /Page Wrapper -->

<!-- Bootstrap Core JS -->
<script src="/assets/bzamani/bootstrap.min.js"></script>

</body>
</html>