<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>انتخاب کلینیک</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/bzamani/bootstrap.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/assets/admin/css/font-awesome.min.css">

    <!-- Select2 CSS -->
    <link rel="stylesheet" href="/assets/bzamani/select2.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="/assets/bzamani/style-public.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.min.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery -->
    <script src="/assets/bzamani/jquery-1.10.2.min.js"></script>
    <script src="/assets/bzamani/jquery.template.js"></script>
    <script src="/assets/bzamani/general-utility.js"></script>

    <!-- pace mask -->
    <script>
        paceOptions = {
            elements: false,
            document: true, // disabled
            eventLag: false, // disabled
            ajax: {
                trackMethods: ['GET', 'POST', 'DELETE', 'PUT'],
                trackWebSockets: false
            },
            restartOnPushState: true,
            restartOnRequestAfter: true
        };
        $(function () {
            $("body").prepend("<div class='pace-cover' style='display: none;'></div>");
            Pace.on("start", function () {
                $(".pace-cover").fadeIn();
            });
            Pace.on("done", function () {
                $(".pace-cover").fadeOut();
            });
        });
    </script>
    <script type="text/javascript" src="/assets/bzamani/components/pace/pace.min.js"></script>
    <link rel="stylesheet" href="/assets/bzamani/components/pace/themes/blue/pace-theme-flash.css"/>
    <style>
        .pace-cover {
            position: fixed;
            left: 0px;
            top: 1px;
            width: 100%;
            height: 100%;
            z-index: 99999;
            background: rgba(0, 0, 0, 0.4);
        }
    </style>
    <!-- /pace mask -->


    <style>
        .card:hover {
            border-color: silver;
            background-color: gold;

        }
    </style>

    <script>
        patientId = getUrlParameter("patientId");
        searchFilters = {
            "stateId": -1,
            "cityId": -1,
            "regionId": -1,
            "organizationTitle": '',
            "organizationAddress": '',
            "sort": "id,desc",
            "size": 50
        };

        $(function () {
            $('#txtSearchTitle').focus();
            if (patientId == -1)
                fillComboState(1, null);

            $("#btnMore").click(function () {
                searchFilters.size += 10;
                searchClinic();
            });

            $(".sort-btn").click(function () {
                searchFilters.sort = $(this).attr("sort-order");
                $(".sort-btn").removeClass("bg-primary");
                $(this).addClass("bg-primary");
                searchClinic();
            });

            $("#cmbState").change(function () {
                searchFilters.stateId = $(this).val();
                searchFilters.cityId = -1;
                searchFilters.regionId = -1;
                searchClinic();
                fillComboCity($(this).val());
                $("#cmbRegion").html("<select class='select' id='cmbRegion'></select>");
            });

            $("#cmbCity").change(function () {
                searchFilters.cityId = $(this).val();
                searchFilters.regionId = -1;
                searchClinic();
                fillComboRegion($(this).val());
            });

            $("#cmbRegion").change(function () {
                searchFilters.regionId = $(this).val();
                searchClinic();
            });

            applyPatientLocationFilter();

            $('#txtSearchTitle').keydown(function (e) {
                if (e.which == 13)  // the enter key code
                    searchClinic();
            });

        });

        function fillComboState(headerId, callBackFunction) {
            $.ajax({
                type: "GET",
                url: "/api/public/baseinfo/getAllByHeaderId/" + headerId,
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (res) {
                    $("#cmbState").append("<option value=-1>...</option>");
                    $.each(res, function (index, value) {
                        $("#cmbState").append("<option value=" + value.id + ">" + value.title + "</option>");
                    });
                    if (callBackFunction != null && typeof callBackFunction == 'function')
                        callBackFunction();
                },
                error: function (err) {
                }
            });
        }

        function fillComboCity(stateId, callBackFunction) {
            $.ajax({
                type: "GET",
                url: "/api/public/baseinfo/getAllByParentId/" + stateId,
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (res) {
                    $("#cmbCity").html("<select class='select' id='cmbCity'></select>");
                    $("#cmbCity").append("<option value=-1>...</option>");
                    $.each(res, function (index, value) {
                        $("#cmbCity").append("<option value=" + value.id + ">" + value.title + "</option>");
                    });
                    if (callBackFunction != null && typeof callBackFunction == 'function')
                        callBackFunction();
                },
                error: function (err) {
                }
            });
        }

        function fillComboRegion(cityId, callBackFunction) {
            $.ajax({
                type: "GET",
                url: "/api/public/baseinfo/getAllByParentId/" + cityId,
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (res) {
                    $("#cmbRegion").html("<select class='select' id='cmbRegion'></select>");
                    $("#cmbRegion").append("<option value=-1>...</option>");
                    $.each(res, function (index, value) {
                        $("#cmbRegion").append("<option value=" + value.id + ">" + value.title + "</option>");
                    });
                    $('#cmbRegion').select2();
                    if (callBackFunction != null && typeof callBackFunction == 'function')
                        callBackFunction();
                },
                error: function (err) {
                }
            });
        }

        function searchClinic() {
            searchFilters.organizationAddress = $("#txtSearchAddress").val();
            searchFilters.organizationTitle = $("#txtSearchTitle").val();
            /*if (patientId > 0) {
                if (!$('#cmbState').val() > 0 || !$('#cmbCity').val() > 0 || !$('#cmbRegion').val() > 0)
                    return;
            }*/
            $.ajax({
                type: "GET",
                url: "/api/public/clinic/searchClinic",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                data: searchFilters,
                success: function (res) {
                    $("#clinicList > div").remove();
                    $("#clinicTemplate").tmpl(res.entityList).appendTo("#clinicList");
                    $("#lblTotalRecords").html(res.totalRecords);
                    if (res.totalRecords > searchFilters.size)
                        $('#btnMore').show();
                },
                error: function (err) {
                    console.log("error search " + err);
                }
            });
        }

        function applyPatientLocationFilter() {
            if (patientId > 0) {
                $.ajax({
                    url: "/rest/core/personel/load/" + patientId,
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    type: 'GET',
                    success: function (patient) {
                        if (patient != null) {
                            fillComboState(1, function () {
                                if (patient.state != null) {
                                    $("#cmbState").val(patient.state.id);
                                    searchFilters.stateId = $("#cmbState").val();
                                    fillComboCity(patient.state.id, function () {
                                        $("#cmbCity").val(patient.city != null ? patient.city.id : -1);
                                        searchFilters.cityId = $("#cmbCity").val();
                                        if (patient.city != null) {
                                            fillComboRegion(patient.city.id, function () {
                                                $("#cmbRegion").val(patient.region != null ? patient.region.id : -1);
                                                $('#cmbRegion').trigger('change');
                                                searchFilters.regionId = $("#cmbRegion").val();
                                                searchClinic();
                                            });
                                        }
                                    });
                                }
                            });
                        } else
                            searchClinic();
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            }
        }

        function selectClinic(id, title) {
            if (getUrlParameter("isSearch") != null && getUrlParameter("isSearch") == 'true')
                parent.setClinicInSearch(id, title);
            else
                parent.setClinic(id, title);
            parent.$.fancybox.close();
        }
    </script>

</head>

<body style="color: black;background-color: #f5f5f5">

<!-- Main Wrapper -->
<div class="main-wrapper">

    <!-- Page Content -->
    <div class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-3 col-lg-4 col-xl-3 theiaStickySidebar">

                    <!-- Search Filter -->
                    <div class="search-filter" style="border-radius: 15px;box-shadow:0px 0px 10px 1px silver">
                        <div class="card-header"
                             style="border-radius: 15px 15px 0px 0px;box-shadow:0px 0px 10px 1px silver;display: flex;white-space: nowrap">
                            <h4 class="card-title mb-0"> انتخاب کلینیک</h4>&nbsp;
                            <button class="btn btn-warning btn-rounded btn-sm" onclick="searchClinic()"><i class="fa fa-search"></i></button>
                        </div>
                        <div class="card-body">
                            <div class="filter-widget">
                                <h4>نام کلینیک</h4>
                                <input type="text" class="form-control" id="txtSearchTitle"/>
                            </div>
                            <div class="filter-widget">
                                <h4>استان</h4>
                                <select class="select" id="cmbState">
                                </select>
                            </div>
                            <div class="filter-widget">
                                <h4>شهر</h4>
                                <select class="select" id="cmbCity">
                                </select>
                            </div>
                            <div class="filter-widget">
                                <h4>منطقه / نام محله</h4>
                                <select class="select" id="cmbRegion">
                                </select>
                            </div>
                            <div class="filter-widget">
                                <h4>آدرس</h4>
                                <input type="text" class="form-control" id="txtSearchAddress"/>
                            </div>
                            <div class="btn-search">
                                <button type="button" class="btn btn-block" onclick="searchClinic()">جستجو</button>
                            </div>
                        </div>
                    </div>
                    <!-- /Search Filter -->

                </div>
                <!-- clinic Widget -->
                <div class="col-md-9 col-lg-8 col-xl-9">
                    <div class="col-md-12 col-lg-12 col-xl-12">
                        <div style="display: flex;white-space: nowrap;margin-bottom:1em">
                            <div style="font-weight: bolder">مرتب سازی بر اساس:</div>
                            <div><a class="badge-pill  mr-1  sort-btn bg-primary" sort-order="id,desc">امتیاز</a></div>
                            <div><a class="badge-pill mr-1 sort-btn" sort-order="discount,desc">درصد تخفیف</a>
                            </div>
                            <div><a class="badge-pill mr-1 sort-btn" sort-order="organization.address,asc">آدرس</a>
                            </div>
                            &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                            <div style="font-weight: bolder">تعداد نتایج:</div>
                            <span class="badge-pill bg-info text-white" id="lblTotalRecords"></span>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12 col-xl-12" id="clinicList">
                        <script id="clinicTemplate" type="text/x-jquery-tmpl">
                    <div class="card" style="border-radius: 15px;box-shadow:0px 0px 10px 1px silver" ondblclick="selectClinic(${id},'${organization.title}')">
                        <div class="card-body">
                            <div class="doctor-widget">
                                <div class="doc-info-left">
                                    <div class="doctor-img">
                                        <a>
                                            <img src= {{if organization.fileCode!=null}}"/rest/core/file/download/${organization.fileCode}/false"{{/if}}
                                            class="img-fluid"
                                            alt="Clinic Image">
                                        </a>
                                    </div>
                                    <div class="doc-info-cont">
                                        <h5 class="doc-name">${organization.title}</h5>
                                        <p class="doc-speciality">
                                            <i class="fa fa-stethoscope" aria-hidden="true"></i>
                                            ${organization.state.title}
                                        </p>
                                        <h5 class="doc-department"> تخفیف: ${discount} %</h5>
                                        <div class="rating">
                                            <i class="fa fa-star filled"></i>
                                            <i class="fa fa-star filled"></i>
                                            <i class="fa fa-star filled"></i>
                                            <i class="fa fa-star filled"></i>
                                            <i class="fa fa-star"></i>
                                            <span class="d-inline-block average-rating">(${id})</span>
                                        </div>
                                        <div class="clinic-details">
                                            <p class="doc-location">
                                                <i class="fa fa-map-marker-alt"></i> ${organization.address}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="doc-info-right">
                                    <div class="clini-infos">
                                        <ul>
                                            <li><i class="fa fa-thumbs-up"></i> 95% رضایتمندی بیماران</li>
                                            <li><i class="fa fa-comment"></i> 17 نظر ثبت شده</li>
                                            <li><i class="fa fa-map"></i>{{if organization.city != null }}${organization.city.title}{{/if}} - {{if organization.region != null }}${organization.region.title}{{/if}}</li>
                                            <li><i class="fa fa-phone"></i> ${organization.telephone}</li>
                                            <li><button class="btn btn-primary text-danger main-column" onclick="selectClinic(${id},'${organization.title}')">انتخاب</button></li>
                                        </div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>






















































                        </script>
                    </div>
                </div>
                <!-- /clinic Widget -->
                <div class="text-center col-sm-12">
                    <a class="btn btn-primary btn-md" href="javascript:void(0);" id="btnMore" style="display:none;">بارگذاری
                        بیشتر</a>
                </div>
            </div>

        </div>

    </div>
    <!-- /Page Content -->

</div>
<!-- /Main Wrapper -->

<!-- Bootstrap Core JS -->
<script src="/assets/admin/chart/popper.min.js"></script>
<script src="/assets/bzamani/bootstrap.min.js"></script>

<!-- Sticky Sidebar JS -->


<!-- Select2 JS -->
<script src="/assets/bzamani/select2.min.js"></script>


<!-- Custom JS -->
<script src="/assets/admin/chart/script.js"></script>


</body>

</html>
