<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>مدیک</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/plugins/bootstrap-rtl/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="assets/css/style.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.min.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<!-- Main Wrapper -->
<div class="main-wrapper">

    <!-- Breadcrumb -->
    <div class="breadcrumb-bar">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-12 col-12">
                    <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">خانه</a></li>
                            <li class="breadcrumb-item active" aria-current="page">بلاگ</li>
                        </ol>
                    </nav>
                    <h2 class="breadcrumb-title">‌لیست بلاگ</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- /Breadcrumb -->

    <!-- Page Content -->
    <div class="content">
        <div class="container">

            <div class="row">

                <div class="col-lg-8 col-md-12">

                    <!-- Blog Post -->
                    <div class="blog">
                        <div class="blog-image">
                            <a href="blog-details.html"><img class="img-fluid" src="assets/img/blog/blog-01.jpg"
                                                             alt="Post Image"></a>
                        </div>
                        <h3 class="blog-title"><a href="blog-details.html"> سؤال - بازدید از کلینیک به راحتی </a></h3>
                        <div class="blog-info clearfix">
                            <div class="post-left">
                                <ul>
                                    <li>
                                        <div class="post-author">
                                            <a href="doctor-profile.html"><img
                                                    src="assets/img/doctors/doctor-thumb-01.jpg" alt="Post Author">
                                                <span>پرشک رابی پرین</span></a>
                                        </div>
                                    </li>
                                    <li><i class="far fa-clock"></i>4 مهر 1399</li>
                                    <li><i class="far fa-comments"></i>12 نظر</li>
                                    <li><i class="fa fa-tags"></i>نکته سلامتی</li>
                                </ul>
                            </div>
                        </div>
                        <div class="blog-content">
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط
                                فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. حال و
                                آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای
                                طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p>
                            <a href="blog-details.html" class="read-more">بیشتر بخوانید</a>
                        </div>
                    </div>
                    <!-- /Blog Post -->

                    <!-- Blog Post -->
                    <div class="blog">
                        <div class="blog-image">
                            <a href="blog-details.html"><img class="img-fluid" src="assets/img/blog/blog-02.jpg" alt=""></a>
                        </div>
                        <h3 class="blog-title"><a href="blog-details.html"> فواید رزرو آنلاین پزشک چیست؟ </a></h3>
                        <div class="blog-info clearfix">
                            <div class="post-left">
                                <ul>
                                    <li>
                                        <div class="post-author">
                                            <a href="doctor-profile.html"><img
                                                    src="assets/img/doctors/doctor-thumb-02.jpg" alt="Post Author">
                                                <span>پزشک دارن الدر</span></a>
                                        </div>
                                    </li>
                                    <li><i class="far fa-clock"></i>3 مهر 1399</li>
                                    <li><i class="far fa-comments"></i>7 نظر</li>
                                    <li><i class="fa fa-tags"></i>قلب و عروق</li>
                                </ul>
                            </div>
                        </div>
                        <div class="blog-content">
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط
                                فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. حال و
                                آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای
                                طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p>
                            <a href="blog-details.html" class="read-more">بیشتر بخوانید</a>
                        </div>
                    </div>
                    <!-- /Blog Post -->

                    <!-- Blog Post -->
                    <div class="blog">
                        <div class="blog-image">
                            <div class="video">
                                <iframe src="https://www.youtube.com/embed/nuVqJ_OriR8?rel=0&amp;controls=0&amp;showinfo=0"
                                        width="940" allowfullscreen></iframe>
                            </div>
                        </div>
                        <h3 class="blog-title"><a href="blog-details.html"> مزایای مشاوره با پزشک آنلاین </a></h3>
                        <div class="blog-info clearfix">
                            <div class="post-left">
                                <ul>
                                    <li>
                                        <div class="post-author">
                                            <a href="doctor-profile.html"><img
                                                    src="assets/img/doctors/doctor-thumb-03.jpg" alt="Post Author">
                                                <span>پزشک دبرا انجل</span></a>
                                        </div>
                                    </li>
                                    <li><i class="far fa-clock"></i>3 مهر 1399</li>
                                    <li><i class="far fa-comments"></i>2 نظر</li>
                                    <li><i class="fa fa-tags"></i>مراقبت های بهداشتی</li>
                                </ul>
                            </div>
                        </div>
                        <div class="blog-content">
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط
                                فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. حال و
                                آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای
                                طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p>
                            <a href="blog-details.html" class="read-more">بیشتر بخوانید</a>
                        </div>
                    </div>
                    <!-- /Blog Post -->

                    <!-- Blog Post -->
                    <div class="blog">
                        <div class="blog-image">
                            <div class="video">
                                <iframe src="https://player.vimeo.com/video/133170635" width="940"></iframe>
                            </div>
                        </div>
                        <h3 class="blog-title"><a href="blog-details.html"> 5 دلیل عالی برای استفاده از یک دکتر
                            آنلاین </a></h3>
                        <div class="blog-info clearfix">
                            <div class="post-left">
                                <ul>
                                    <li>
                                        <div class="post-author">
                                            <a href="doctor-profile.html"><img
                                                    src="assets/img/doctors/doctor-thumb-04.jpg" alt="Post Author">
                                                <span>پزشک صوفیا برینت</span></a>
                                        </div>
                                    </li>
                                    <li><i class="far fa-clock"></i>2 مهر 1399</li>
                                    <li><i class="far fa-comments"></i>41 نظر</li>
                                    <li><i class="fa fa-tags"></i>نکته سلامتی</li>
                                </ul>
                            </div>
                        </div>
                        <div class="blog-content">
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط
                                فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. حال و
                                آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای
                                طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p>
                            <a href="blog-details.html" class="read-more">بیشتر بخوانید</a>
                        </div>
                    </div>
                    <!-- /Blog Post -->

                    <!-- Blog Pagination -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="blog-pagination">
                                <nav>
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1"><i
                                                    class="fas fa-angle-double-right"></i></a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">1</a>
                                        </li>
                                        <li class="page-item active">
                                            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">3</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#"><i class="fas fa-angle-double-left"></i></a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <!-- /Blog Pagination -->

                </div>

                <!-- Blog Sidebar -->
                <div class="col-lg-4 col-md-12 sidebar-right theiaStickySidebar">

                    <!-- Search -->
                    <div class="card search-widget">
                        <div class="card-body">
                            <form class="search-form">
                                <div class="input-group">
                                    <input type="text" placeholder="جستجو..." class="form-control">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /Search -->

                    <!-- Latest Posts -->
                    <div class="card post-widget">
                        <div class="card-header">
                            <h4 class="card-title">آخرین پست‌ها</h4>
                        </div>
                        <div class="card-body">
                            <ul class="latest-posts">
                                <li>
                                    <div class="post-thumb">
                                        <a href="blog-details.html">
                                            <img class="img-fluid" src="assets/img/blog/blog-thumb-01.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="post-info">
                                        <h4>
                                            <a href="blog-details.html"> سؤال - بازدید از کلینیک به راحتی </a>
                                        </h4>
                                        <p>4 مهر 1399</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="post-thumb">
                                        <a href="blog-details.html">
                                            <img class="img-fluid" src="assets/img/blog/blog-thumb-02.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="post-info">
                                        <h4>
                                            <a href="blog-details.html"> فواید رزرو آنلاین پزشک چیست؟ </a>
                                        </h4>
                                        <p>3 مهر 1399</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="post-thumb">
                                        <a href="blog-details.html">
                                            <img class="img-fluid" src="assets/img/blog/blog-thumb-03.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="post-info">
                                        <h4>
                                            <a href="blog-details.html"> مزایای مشاوره با پزشک آنلاین </a>
                                        </h4>
                                        <p>3 مهر 1399</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="post-thumb">
                                        <a href="blog-details.html">
                                            <img class="img-fluid" src="assets/img/blog/blog-thumb-04.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="post-info">
                                        <h4>
                                            <a href="blog-details.html"> 5 دلیل عالی برای استفاده از یک دکتر آنلاین </a>
                                        </h4>
                                        <p>2 مهر 1399</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="post-thumb">
                                        <a href="blog-details.html">
                                            <img class="img-fluid" src="assets/img/blog/blog-thumb-05.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="post-info">
                                        <h4>
                                            <a href="blog-details.html"> برنامه زمان بندی قرار ملاقات پزشک آنلاین </a>
                                        </h4>
                                        <p>1 مهر 1399</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /Latest Posts -->

                    <!-- Categories -->
                    <div class="card category-widget">
                        <div class="card-header">
                            <h4 class="card-title"> دسته‌بندی بلاگ </h4>
                        </div>
                        <div class="card-body">
                            <ul class="categories">
                                <li><a href="#">قلب و عروق <span>(62)</span></a></li>
                                <li><a href="#">مراقبت های بهداشتی <span>(27)</span></a></li>
                                <li><a href="#">تغذیه <span>(41)</span></a></li>
                                <li><a href="#">نکات بهداشتی <span>(16)</span></a></li>
                                <li><a href="#">تحقیقات پزشکی <span>(55)</span></a></li>
                                <li><a href="#">درمان بهداشت <span>(07)</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /Categories -->

                    <!-- Tags -->
                    <div class="card tags-widget">
                        <div class="card-header">
                            <h4 class="card-title">برچسب‌ها</h4>
                        </div>
                        <div class="card-body">
                            <ul class="tags">
                                <li><a href="#" class="tag">کودکان</a></li>
                                <li><a href="#" class="tag">بیماری</a></li>
                                <li><a href="#" class="tag">رزرو نوبت</a></li>
                                <li><a href="#" class="tag">رزرو نوبت</a></li>
                                <li><a href="#" class="tag">نوزادان</a></li>
                                <li><a href="#" class="tag">سلامتی</a></li>
                                <li><a href="#" class="tag">فامیل</a></li>
                                <li><a href="#" class="tag">نکته‌ها</a></li>
                                <li><a href="#" class="tag">زمان‌بندی</a></li>
                                <li><a href="#" class="tag">درمان</a></li>
                                <li><a href="#" class="tag">پزشک</a></li>
                                <li><a href="#" class="tag">کلینیک</a></li>
                                <li><a href="#" class="tag">آنلاین</a></li>
                                <li><a href="#" class="tag">مراقبت های بهداشتی</a></li>
                                <li><a href="#" class="tag">مشاوره</a></li>
                                <li><a href="#" class="tag">پزشکان</a></li>
                                <li><a href="#" class="tag">نئورولوژی</a></li>
                                <li><a href="#" class="tag">دندان‌پزشک</a></li>
                                <li><a href="#" class="tag">متخصص</a></li>
                                <li><a href="#" class="tag">مدیک</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /Tags -->

                </div>
                <!-- /Blog Sidebar -->

            </div>
        </div>

    </div>
    <!-- /Page Content -->

</div>
<!-- /Main Wrapper -->

<!-- jQuery -->
<script src="assets/js/jquery.min.js"></script>

<!-- Bootstrap Core JS -->
<script src="assets/js/popper.min.js"></script>
<script src="assets/plugins/bootstrap-rtl/js/bootstrap.min.js"></script>

<!-- Sticky Sidebar JS -->
<script src="assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
<script src="assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

<!-- Custom JS -->
<script src="assets/js/script.js"></script>

</body>
</html>