<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>مدیک</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

	<!-- Favicons -->
	<link href="assets/img/favicon.png" rel="icon">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="assets/plugins/bootstrap-rtl/css/bootstrap.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

	<!-- Daterangepikcer CSS -->
	<link rel="stylesheet" href="assets/plugins/daterangepicker/daterangepicker.css">


	<link rel="stylesheet" href="Jcal/fullcalendar.min.css" type="text/css">
	<link href='Jcal/fullcalendar.css' rel='stylesheet' />
	<link href='Jcal/fullcalendar.print.css' rel='stylesheet' media='print' />


	<!-- Main CSS -->
	<link rel="stylesheet" href="assets/css/style.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->

</head>

<body>

	<!-- Main Wrapper -->
	<div class="main-wrapper">

		<!-- Breadcrumb -->
		<div class="breadcrumb-bar">
			<div class="container-fluid">
				<div class="row align-items-center">
					<div class="col-md-12 col-12">
						<nav aria-label="breadcrumb" class="page-breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html">خانه</a></li>
								<li class="breadcrumb-item active" aria-current="page">رزرو نوبت</li>
							</ol>
						</nav>
						<h2 class="breadcrumb-title">رزرو نوبت</h2>
					</div>
				</div>
			</div>
		</div>
		<!-- /Breadcrumb -->

		<!-- Page Content -->
		<div class="content">
			<div class="container">

				<div class="row">
					<div class="col-12">

						<div class="card">
							<div class="card-body">
								<div class="booking-doc-info">
									<a href="doctor-profile.html" class="booking-doc-img">
										<img src="assets/img/doctors/doctor-thumb-02.jpg" alt="User Image">
									</a>
									<div class="booking-info">
										<h4><a href="doctor-profile.html">پزشک دارن الدر</a></h4>
										<div class="rating">
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star"></i>
											<span class="d-inline-block average-rating">35</span>
										</div>
										<p class="text-muted mb-0"><i class="fas fa-map-marker-alt"></i> نیویورک، آمریکا </p>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-12 col-sm-4 col-md-6">
								<h4 class="mb-1">11 مهر 1399</h4>
								<p class="text-muted">دوشنبه</p>
							</div>
							<div class="col-12 col-sm-8 col-md-6 text-sm-right">
								<div class="bookingrange btn btn-white btn-sm mb-3">
									<i class="far fa-calendar-alt mr-2"></i>
									<span></span>
									<i class="fas fa-chevron-down ml-2"></i>
								</div>
							</div>
						</div>
						<!-- Schedule Widget -->
						<div class="card booking-schedule schedule-widget">

							<!-- Schedule Header -->
							<div class="schedule-header">
								<div class="row">
									<div class="col-md-12">

										<!-- Day Slot -->
										<div class="day-slot">
											<ul>
												<li class="left-arrow">
													<a href="#">
														<i class="fa fa-chevron-left"></i>
													</a>
												</li>
												<li>
													<span>شنبه</span>
													<span class="slot-date">11 مهر<small class="slot-year">1399</small></span>
												</li>
												<li>
													<span>یکشنبه</span>
													<span class="slot-date">12 مهر<small class="slot-year">1399</small></span>
												</li>
												<li>
													<span>دوشنبه</span>
													<span class="slot-date">13 مهر<small class="slot-year">1399</small></span>
												</li>
												<li>
													<span>سه‌شنبه</span>
													<span class="slot-date">14 مهر<small class="slot-year">1399</small></span>
												</li>
												<li>
													<span>چهارشنبه</span>
													<span class="slot-date">15 مهر<small class="slot-year">1399</small></span>
												</li>
												<li>
													<span>پنجشنبه</span>
													<span class="slot-date">16 مهر<small class="slot-year">1399</small></span>
												</li>
												<li>
													<span>جمعه</span>
													<span class="slot-date">17 مهر<small class="slot-year">1399</small></span>
												</li>
												<li class="right-arrow">
													<a href="#">
														<i class="fa fa-chevron-right"></i>
													</a>
												</li>
											</ul>
										</div>
										<!-- /Day Slot -->

									</div>
								</div>
							</div>
							<!-- /Schedule Header -->

							<!-- Schedule Content -->
							<div class="schedule-cont">
								<div class="row">
									<div class="col-md-12">

										<!-- Time Slot -->
										<div class="time-slot">
											<ul class="clearfix">
												<li>
													<a class="timing" href="#">
														<span>9:00</span> <span>قبل از ظهر</span>
													</a>
													<a class="timing" href="#">
														<span>10:00</span> <span>قبل از ظهر</span>
													</a>
													<a class="timing" href="#">
														<span>11:00</span> <span>قبل از ظهر</span>
													</a>
												</li>
												<li>
													<a class="timing" href="#">
														<span>9:00</span> <span>قبل از ظهر</span>
													</a>
													<a class="timing" href="#">
														<span>10:00</span> <span>قبل از ظهر</span>
													</a>
													<a class="timing" href="#">
														<span>11:00</span> <span>قبل از ظهر</span>
													</a>
												</li>
												<li>
													<a class="timing" href="#">
														<span>9:00</span> <span>قبل از ظهر</span>
													</a>
													<a class="timing" href="#">
														<span>10:00</span> <span>قبل از ظهر</span>
													</a>
													<a class="timing" href="#">
														<span>11:00</span> <span>قبل از ظهر</span>
													</a>
												</li>
												<li>
													<a class="timing" href="#">
														<span>9:00</span> <span>قبل از ظهر</span>
													</a>
													<a class="timing" href="#">
														<span>10:00</span> <span>قبل از ظهر</span>
													</a>
													<a class="timing" href="#">
														<span>11:00</span> <span>قبل از ظهر</span>
													</a>
												</li>
												<li>
													<a class="timing" href="#">
														<span>9:00</span> <span>قبل از ظهر</span>
													</a>
													<a class="timing selected" href="#">
														<span>10:00</span> <span>قبل از ظهر</span>
													</a>
													<a class="timing" href="#">
														<span>11:00</span> <span>قبل از ظهر</span>
													</a>
												</li>
												<li>
													<a class="timing" href="#">
														<span>9:00</span> <span>قبل از ظهر</span>
													</a>
													<a class="timing" href="#">
														<span>10:00</span> <span>قبل از ظهر</span>
													</a>
													<a class="timing" href="#">
														<span>11:00</span> <span>قبل از ظهر</span>
													</a>
												</li>
												<li>
													<a class="timing" href="#">
														<span>9:00</span> <span>قبل از ظهر</span>
													</a>
													<a class="timing" href="#">
														<span>10:00</span> <span>قبل از ظهر</span>
													</a>
													<a class="timing" href="#">
														<span>11:00</span> <span>قبل از ظهر</span>
													</a>
												</li>
											</ul>
										</div>
										<!-- /Time Slot -->

									</div>
								</div>
							</div>
							<!-- /Schedule Content -->

						</div>
						<!-- /Schedule Widget -->

						<!-- Submit Section -->
						<div class="submit-section proceed-btn text-right">
							<a href="checkout.html" class="btn btn-primary submit-btn">ادامه فرایند خرید</a>
						</div>
						<!-- /Submit Section -->

					</div>
				</div>
			</div>

		</div>
		<!-- /Page Content -->

	</div>
	<!-- /Main Wrapper -->

	<!-- jQuery -->
	<script src="assets/js/jquery.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="assets/js/popper.min.js"></script>
	<script src="assets/plugins/bootstrap-rtl/js/bootstrap.min.js"></script>

	<!-- Daterangepikcer JS -->
	<script src="assets/js/moment.min.js"></script>
	<script src="assets/plugins/daterangepicker/daterangepicker.js"></script>
	<script src="./Jcal/bootstrap-datepicker.fa.min.js"></script>


	<script src="./Jcal/persian-date.js"></script>
	<script src="./Jcal/persian-datepicker.js"></script>
	<script src='./Jcal/moment.js'></script>
	<script src='./Jcal/moment-jalaali.js'></script>
	<script src='./Jcal/fullcalendar.js'></script>
	<script src='./Jcal/fa.js'></script>

	<!-- Custom JS -->
	<script src="assets/js/script.js"></script>

</body>

</html>