<!DOCTYPE html> 
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>داک‌کیور</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		
		<!-- Favicons -->
		<link href="assets/img/favicon.png" rel="icon">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
		
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
		<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">
		
		<!-- Main CSS -->
		<link rel="stylesheet" href="assets/css/style.css">
		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
	
	</head>
	<body>

		<!-- Main Wrapper -->
		<div class="main-wrapper">
		
			<!-- Header -->
			<header class="header">
				<nav class="navbar navbar-expand-lg header-nav">
					<div class="navbar-header">
						<a id="mobile_btn" href="javascript:void(0);">
							<span class="bar-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</a>
						<a href="index.html" class="navbar-brand logo">
							<img src="assets/img/logo.png" class="img-fluid" alt="Logo">
						</a>
					</div>
					<div class="main-menu-wrapper">
						<div class="menu-header">
							<a href="index.html" class="menu-logo">
								<img src="assets/img/logo.png" class="img-fluid" alt="Logo">
							</a>
							<a id="menu_close" class="menu-close" href="javascript:void(0);">
								<i class="fas fa-times"></i>
							</a>
						</div>
						<ul class="main-nav">
							<li>
								<a href="index.html">خانه</a>
							</li>
							<li class="has-submenu">
								<a href="#">پزشک‌ها<i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="doctor-dashboard.html">دشبرد پزشک</a></li>
									<li><a href="appointments.html">نوبت‌دهی</a></li>
									<li><a href="schedule-timings.html">زمان‌بندی</a></li>
									<li><a href="my-patients.html">لیست بیماران</a></li>
									<li><a href="patient-profile.html">پروفایل بیماران</a></li>
									<li><a href="chat-doctor.html">چت</a></li>
									<li><a href="invoices.html">صورت‌حساب</a></li>
									<li><a href="doctor-profile-settings.html">تنظیمات پروفایل</a></li>
									<li><a href="reviews.html">نظرات</a></li>
									<li><a href="doctor-register.html">ثبت‌نام پزشک</a></li>
									<li class="has-submenu">
										<a href="doctor-blog.html">بلاگ</a>
										<ul class="submenu">
											<li><a href="doctor-blog.html">بلاگ</a></li>
											<li><a href="blog-details.html">مشاهده بلاگ</a></li>
											<li><a href="doctor-add-blog.html">افزودن بلاگ</a></li>
										</ul>
									</li>
								</ul>
							</li>	
							<li class="has-submenu active">
								<a href="#">مراجعه‌کنندگان<i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li class="has-submenu">
										<a href="#">پزشکان</a>
										<ul class="submenu">
											<li><a href="map-grid.html">گرید نقشه</a></li>
											<li><a href="map-list.html">لیست نقشه</a></li>
										</ul>
									</li>
									<li><a href="search.html">جستجو پزشک</a></li>
									<li><a href="doctor-profile.html">پروفایل پزشک</a></li>
									<li><a href="booking.html">رزرو نوبت</a></li>
									<li><a href="checkout.html">پرداخت</a></li>
									<li><a href="booking-success.html">رزرو موفق</a></li>
									<li><a href="patient-dashboard.html">دشبرد مراجعه‌کننده</a></li>
									<li class="active"><a href="favourites.html">‌علاقه‌مندیها</a></li>
									<li><a href="chat.html">چت</a></li>
									<li><a href="profile-settings.html">تنظیمات پروفایل</a></li>
									<li><a href="change-password.html">‌تغییر رمز عبور</a></li>
								</ul>
							</li>	
							<li class="has-submenu">
								<a href="#">‌داروخانه<i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="pharmacy-index.html">‌داروخانه</a></li>
									<li><a href="pharmacy-details.html">‌جزییات داروخانه</a></li>
									<li><a href="pharmacy-search.html">‌جستجو داروخانه</a></li>
									<li><a href="product-all.html">‌محصولات</a></li>
									<li><a href="product-description.html">توضیحات محصول</a></li>
									<li><a href="cart.html">‌سبد خرید</a></li>
									<li><a href="product-checkout.html">‌خرید محصولات</a></li>
									<li><a href="payment-success.html">‌پرداخت موفق</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="#">‌صفحات<i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="voice-call.html">‌تماس صوتی</a></li>
									<li><a href="video-call.html">‌تماس تصویری</a></li>
									<li><a href="search.html">‌جستجو پزشک</a></li>
									<li><a href="calendar.html">‌تقویم</a></li>
									<li><a href="components.html">‌کامپوننت‌ها</a></li>
									<li class="has-submenu">
										<a href="invoices.html">صورت‌حساب</a>
										<ul class="submenu">
											<li><a href="invoices.html">صورت‌حساب</a></li>
											<li><a href="invoice-view.html">‌مشاهده صورت‌حساب</a></li>
										</ul>
									</li>
									<li><a href="blank-page.html">‌صفحه شروع</a></li>
									<li><a href="login.html">‌ورود</a></li>
									<li><a href="register.html">‌ثبت‌نام</a></li>
									<li><a href="forgot-password.html">‌فراموشی رمزعبور</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="#">‌بلاگ<i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="blog-list.html">‌لیست بلاگ</a></li>
									<li><a href="blog-grid.html">‌گرید بلاگ</a></li>
									<li><a href="blog-details.html">‌جزییات بلاگ</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="#" target="_blank">ادمین<i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="admin/index.html" target="_blank">‌ادمین</a></li>
									<li><a href="pharmacy/index.html" target="_blank">ادمین داروخانه</a></li>
								</ul>
							</li>
							<li class="login-link">
								<a href="login.html">‌ورود / ثبت‌نام</a>
							</li>
						</ul>	 
					</div>		 
					<ul class="nav header-navbar-rht">
						<li class="nav-item contact-item">
							<div class="header-contact-img">
								<i class="far fa-hospital"></i>							
							</div>
							<div class="header-contact-detail">
								<p class="contact-header">‌تماس با ما</p>
								<p class="contact-info-header"> +1 315 369 5943</p>
							</div>
						</li>
						
						<!-- User Menu -->
						<li class="nav-item dropdown has-arrow logged-item">
							<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
								<span class="user-img">
									<img class="rounded-circle" src="assets/img/patients/patient.jpg" width="31" alt="Ryan Taylor">
								</span>
							</a>
							<div class="dropdown-menu dropdown-menu-right">
								<div class="user-header">
									<div class="avatar avatar-sm">
										<img src="assets/img/patients/patient.jpg" alt="User Image" class="avatar-img rounded-circle">
									</div>
									<div class="user-text">
										<h6>ریچارد ویلسون</h6>
										<p class="text-muted mb-0">مراجعه‌کننده</p>
									</div>
								</div>
								<a class="dropdown-item" href="patient-dashboard.html">دشبرد</a>
								<a class="dropdown-item" href="profile-settings.html">تنظیمات پروفایل</a>
								<a class="dropdown-item" href="login.html">خروج</a>
							</div>
						</li>
						<!-- /User Menu -->
						
					</ul>
				</nav>
			</header>
			<!-- /Header -->
			
			<!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">خانه</a></li>
									<li class="breadcrumb-item active" aria-current="page">‌علاقه‌مندیها</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">‌علاقه‌مندیها</h2>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
			
			<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
							<div class="profile-sidebar">
								<div class="widget-profile pro-widget-content">
									<div class="profile-info-widget">
										<a href="#" class="booking-doc-img">
											<img src="assets/img/patients/patient.jpg" alt="User Image">
										</a>
										<div class="profile-det-info">
											<h3>ریچارد ویلسون</h3>
											<div class="patient-details">
												<h5><i class="fas fa-birthday-cake"></i> 24 مهر 1362، 32 سال</h5>
												<h5 class="mb-0"><i class="fas fa-map-marker-alt"></i>نیویورک، آمریکا</h5>
											</div>
										</div>
									</div>
								</div>
								<div class="dashboard-widget">
									<nav class="dashboard-menu">
										<ul>
											<li>
												<a href="patient-dashboard.html">
													<i class="fas fa-columns"></i>
													<span>دشبرد</span>
												</a>
											</li>
											<li class="active">
												<a href="favourites.html">
													<i class="fas fa-bookmark"></i>
													<span>‌علاقه‌مندیها</span>
												</a>
											</li>
											<li>
												<a href="chat.html">
													<i class="fas fa-comments"></i>
													<span>پیام‌ها</span>
													<small class="unread-msg">23</small>
												</a>
											</li>
											<li>
												<a href="profile-settings.html">
													<i class="fas fa-user-cog"></i>
													<span>تنظیمات پروفایل</span>
												</a>
											</li>
											<li>
												<a href="change-password.html">
													<i class="fas fa-lock"></i>
													<span>‌تغییر رمز عبور</span>
												</a>
											</li>
											<li>
												<a href="index.html">
													<i class="fas fa-sign-out-alt"></i>
													<span>خروج</span>
												</a>
											</li>
										</ul>
									</nav>
								</div>

							</div>
						</div>
						<div class="col-md-7 col-lg-8 col-xl-9">
							<div class="row row-grid">
								<div class="col-md-6 col-lg-4 col-xl-3">
									<div class="profile-widget">
										<div class="doc-img">
											<a href="doctor-profile.html">
												<img class="img-fluid" alt="User Image" src="assets/img/doctors/doctor-01.jpg">
											</a>
											<a href="javascript:void(0)" class="fav-btn">
												<i class="far fa-bookmark"></i>
											</a>
										</div>
										<div class="pro-content">
											<h3 class="title">
												<a href="doctor-profile.html">پرشک رابی پرین</a> 
												<i class="fas fa-check-circle verified"></i>
											</h3>
											<p class="speciality"> MDS - پریودنتولوژی و ایمپلنت دهانی ، BDS </p>
											<div class="rating">
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<span class="d-inline-block average-rating">(17)</span>
											</div>
											<ul class="available-info">
												<li>
													<i class="fas fa-map-marker-alt"></i> فلوریدا، آمریکا
												</li>
												<li>
													<i class="far fa-clock"></i> در دسترس در جمعه ، 22 مهر
												</li>
												<li>
													<i class="far fa-money-bill-alt"></i>300  تومان - 1000 تومان<i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i>
												</li>
											</ul>
											<div class="row row-sm">
												<div class="col-6">
													<a href="doctor-profile.html" class="btn view-btn">مشاهده پروفایل</a>
												</div>
												<div class="col-6">
													<a href="booking.html" class="btn book-btn">رزرو کنید</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<div class="col-md-6 col-lg-4 col-xl-3">
									<div class="profile-widget">
										<div class="doc-img">
											<a href="doctor-profile.html">
												<img class="img-fluid" alt="User Image" src="assets/img/doctors/doctor-02.jpg">
											</a>
											<a href="javascript:void(0)" class="fav-btn">
												<i class="far fa-bookmark"></i>
											</a>
										</div>
										<div class="pro-content">
											<h3 class="title">
												<a href="doctor-profile.html">پزشک دارن الدر</a> 
												<i class="fas fa-check-circle verified"></i>
											</h3>
											<p class="speciality"> BDS ، MDS - جراحی دهان و فک و صورت </p>
											<div class="rating">
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star"></i>
												<span class="d-inline-block average-rating">(35)</span>
											</div>
											<ul class="available-info">
												<li>
													<i class="fas fa-map-marker-alt"></i>نیویورک، آمریکا
												</li>
												<li>
													<i class="far fa-clock"></i> در دسترس در جمعه ، 22 مهر
												</li>
												<li>
													<i class="far fa-money-bill-alt"></i>50 تومان -  300 تومان <i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i>
												</li>
											</ul>
											<div class="row row-sm">
												<div class="col-6">
													<a href="doctor-profile.html" class="btn view-btn">مشاهده پروفایل</a>
												</div>
												<div class="col-6">
													<a href="booking.html" class="btn book-btn">رزرو کنید</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<div class="col-md-6 col-lg-4 col-xl-3">
									<div class="profile-widget">
										<div class="doc-img">
											<a href="doctor-profile.html">
												<img class="img-fluid" alt="User Image" src="assets/img/doctors/doctor-03.jpg">
											</a>
											<a href="javascript:void(0)" class="fav-btn">
												<i class="far fa-bookmark"></i>
											</a>
										</div>
										<div class="pro-content">
											<h3 class="title">
												<a href="doctor-profile.html">پزشک دبرا انجل</a> 
												<i class="fas fa-check-circle verified"></i>
											</h3>
											<p class="speciality"> MBBS ، MD - پزشکی عمومی ، DNB - قلب و عروق </p>
											<div class="rating">
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star"></i>
												<span class="d-inline-block average-rating">(27)</span>
											</div>
											<ul class="available-info">
												<li>
													<i class="fas fa-map-marker-alt"></i> جورجیا ، آمریکا
												</li>
												<li>
													<i class="far fa-clock"></i> در دسترس در جمعه ، 22 مهر
												</li>
												<li>
													<i class="far fa-money-bill-alt"></i> 100 تومان -  400 تومان <i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i>
												</li>
											</ul>
											<div class="row row-sm">
												<div class="col-6">
													<a href="doctor-profile.html" class="btn view-btn">مشاهده پروفایل</a>
												</div>
												<div class="col-6">
													<a href="booking.html" class="btn book-btn">رزرو کنید</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<div class="col-md-6 col-lg-4 col-xl-3">
									<div class="profile-widget">
										<div class="doc-img">
											<a href="doctor-profile.html">
												<img class="img-fluid" alt="User Image" src="assets/img/doctors/doctor-04.jpg">
											</a>
											<a href="javascript:void(0)" class="fav-btn">
												<i class="far fa-bookmark"></i>
											</a>
										</div>
										<div class="pro-content">
											<h3 class="title">
												<a href="doctor-profile.html">پزشک صوفیا برینت</a> 
												<i class="fas fa-check-circle verified"></i>
											</h3>
											<p class="speciality"> MBBS ، MS - جراحی عمومی ، MCh - ارولوژی </p>
											<div class="rating">
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star"></i>
												<span class="d-inline-block average-rating">(4)</span>
											</div>
											<ul class="available-info">
												<li>
													<i class="fas fa-map-marker-alt"></i> لویزینا، آمریکا
												</li>
												<li>
													<i class="far fa-clock"></i> در دسترس در جمعه ، 22 مهر
												</li>
												<li>
													<i class="far fa-money-bill-alt"></i>  150 تومان  -  250  تومان <i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i>
												</li>
											</ul>
											<div class="row row-sm">
												<div class="col-6">
													<a href="doctor-profile.html" class="btn view-btn">مشاهده پروفایل</a>
												</div>
												<div class="col-6">
													<a href="booking.html" class="btn book-btn">رزرو کنید</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<div class="col-md-6 col-lg-4 col-xl-3">
									<div class="profile-widget">
										<div class="doc-img">
											<a href="doctor-profile.html">
												<img class="img-fluid" alt="User Image" src="assets/img/doctors/doctor-05.jpg">
											</a>
											<a href="javascript:void(0)" class="fav-btn">
												<i class="far fa-bookmark"></i>
											</a>
										</div>
										<div class="pro-content">
											<h3 class="title">
												<a href="doctor-profile.html">پزشک ماروین کمپل</a> 
												<i class="fas fa-check-circle verified"></i>
											</h3>
											<p class="speciality"> MBBS ، MD - چشم پزشکی ، DNB - چشم پزشکی </p>
											<div class="rating">
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star"></i>
												<span class="d-inline-block average-rating">(66)</span>
											</div>
											<ul class="available-info">
												<li>
													<i class="fas fa-map-marker-alt"></i> میشیگان، آمریکا
												</li>
												<li>
													<i class="far fa-clock"></i> در دسترس در جمعه ، 22 مهر
												</li>
												<li>
													<i class="far fa-money-bill-alt"></i>  50 تومان -  700 تومان  
													<i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i>
												</li>
											</ul>
											<div class="row row-sm">
												<div class="col-6">
													<a href="doctor-profile.html" class="btn view-btn">مشاهده پروفایل</a>
												</div>
												<div class="col-6">
													<a href="booking.html" class="btn book-btn">رزرو کنید</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<div class="col-md-6 col-lg-4 col-xl-3">
									<div class="profile-widget">
										<div class="doc-img">
											<a href="doctor-profile.html">
												<img class="img-fluid" alt="User Image" src="assets/img/doctors/doctor-06.jpg">
											</a>
											<a href="javascript:void(0)" class="fav-btn">
												<i class="far fa-bookmark"></i>
											</a>
										</div>
										<div class="pro-content">
											<h3 class="title">
												<a href="doctor-profile.html">پزشک کاترینا برتفولد</a> 
												<i class="fas fa-check-circle verified"></i>
											</h3>
											<p class="speciality"> MS - ارتوپدی ، MBBS ، M.Ch - ارتوپدی </p>
											<div class="rating">
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star"></i>
												<span class="d-inline-block average-rating">(52)</span>
											</div>
											<ul class="available-info">
												<li>
													<i class="fas fa-map-marker-alt"></i> تگزاس، آمریکا
												</li>
												<li>
													<i class="far fa-clock"></i> در دسترس در جمعه ، 22 مهر
												</li>
												<li>
													<i class="far fa-money-bill-alt"></i> 100 تومان -  500 تومان 
													<i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i>
												</li>
											</ul>
											<div class="row row-sm">
												<div class="col-6">
													<a href="doctor-profile.html" class="btn view-btn">مشاهده پروفایل</a>
												</div>
												<div class="col-6">
													<a href="booking.html" class="btn book-btn">رزرو کنید</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<div class="col-md-6 col-lg-4 col-xl-3">
									<div class="profile-widget">
										<div class="doc-img">
											<a href="doctor-profile.html">
												<img class="img-fluid" alt="User Image" src="assets/img/doctors/doctor-07.jpg">
											</a>
											<a href="javascript:void(0)" class="fav-btn">
												<i class="far fa-bookmark"></i>
											</a>
										</div>
										<div class="pro-content">
											<h3 class="title">
												<a href="doctor-profile.html">پزشک لیندا توبین</a> 
												<i class="fas fa-check-circle verified"></i>
											</h3>
											<p class="speciality"> MBBS ، MD - پزشکی عمومی ، DM - مغز و اعصاب </p>
											<div class="rating">
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star"></i>
												<span class="d-inline-block average-rating">(43)</span>
											</div>
											<ul class="available-info">
												<li>
													<i class="fas fa-map-marker-alt"></i> کنزاش، آمریکا
												</li>
												<li>
													<i class="far fa-clock"></i> در دسترس در جمعه ، 22 مهر
												</li>
												<li>
													<i class="far fa-money-bill-alt"></i> 100 تومان -  1000 تومان 
													<i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i>
												</li>
											</ul>
											<div class="row row-sm">
												<div class="col-6">
													<a href="doctor-profile.html" class="btn view-btn">مشاهده پروفایل</a>
												</div>
												<div class="col-6">
													<a href="booking.html" class="btn book-btn">رزرو کنید</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<div class="col-md-6 col-lg-4 col-xl-3">
									<div class="profile-widget">
										<div class="doc-img">
											<a href="doctor-profile.html">
												<img class="img-fluid" alt="User Image" src="assets/img/doctors/doctor-08.jpg">
											</a>
											<a href="javascript:void(0)" class="fav-btn">
												<i class="far fa-bookmark"></i>
											</a>
										</div>
										<div class="pro-content">
											<h3 class="title">
												<a href="doctor-profile.html">پزشک پول ریچارد</a> 
												<i class="fas fa-check-circle verified"></i>
											</h3>
											<p class="speciality"> MBBS ، MD - پوست ، کبد </p>
											<div class="rating">
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star"></i>
												<span class="d-inline-block average-rating">(49)</span>
											</div>
											<ul class="available-info">
												<li>
													<i class="fas fa-map-marker-alt"></i> کالفرنیا، آمریکا
												</li>
												<li>
													<i class="far fa-clock"></i> در دسترس در جمعه ، 22 مهر
												</li>
												<li>
													<i class="far fa-money-bill-alt"></i> 100 تومان -  400 تومان 
													<i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i>
												</li>
											</ul>
											<div class="row row-sm">
												<div class="col-6">
													<a href="doctor-profile.html" class="btn view-btn">مشاهده پروفایل</a>
												</div>
												<div class="col-6">
													<a href="booking.html" class="btn book-btn">رزرو کنید</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<div class="col-md-6 col-lg-4 col-xl-3">
									<div class="profile-widget">
										<div class="doc-img">
											<a href="doctor-profile.html">
												<img class="img-fluid" alt="User Image" src="assets/img/doctors/doctor-09.jpg">
											</a>
											<a href="javascript:void(0)" class="fav-btn">
												<i class="far fa-bookmark"></i>
											</a>
										</div>
										<div class="pro-content">
											<h3 class="title">
												<a href="doctor-profile.html">پزشک جان گیبز</a> 
												<i class="fas fa-check-circle verified"></i>
											</h3>
											<p class="speciality"> MDS - پریودنتولوژی و ایمپلنت دهانی ، BDS </p>
											<div class="rating">
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star"></i>
												<span class="d-inline-block average-rating">(112)</span>
											</div>
											<ul class="available-info">
												<li>
													<i class="fas fa-map-marker-alt"></i>اوکلاهاما، آمریکا</li>
												<li>
													<i class="far fa-clock"></i> در دسترس در جمعه ، 22 مهر
												</li>
												<li>
													<i class="far fa-money-bill-alt"></i> 250 تومان -  500 تومان 
													<i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i>
												</li>
											</ul>
											<div class="row row-sm">
												<div class="col-6">
													<a href="doctor-profile.html" class="btn view-btn">مشاهده پروفایل</a>
												</div>
												<div class="col-6">
													<a href="booking.html" class="btn book-btn">رزرو کنید</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<div class="col-md-6 col-lg-4 col-xl-3">
									<div class="profile-widget">
										<div class="doc-img">
											<a href="doctor-profile.html">
												<img class="img-fluid" alt="User Image" src="assets/img/doctors/doctor-10.jpg">
											</a>
											<a href="javascript:void(0)" class="fav-btn">
												<i class="far fa-bookmark"></i>
											</a>
										</div>
										<div class="pro-content">
											<h3 class="title">
												<a href="doctor-profile.html">پزشک اولگا بارلو</a> 
												<i class="fas fa-check-circle verified"></i>
											</h3>
											<p class="speciality"> MDS - پریودنتولوژی و ایمپلنت دهانی ، BDS </p>
											<div class="rating">
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star"></i>
												<span class="d-inline-block average-rating">(65)</span>
											</div>
											<ul class="available-info">
												<li>
													<i class="fas fa-map-marker-alt"></i> مونتانا ، آمریکا
												</li>
												<li>
													<i class="far fa-clock"></i> در دسترس در جمعه ، 22 مهر
												</li>
												<li>
													<i class="far fa-money-bill-alt"></i> 75 تومان - 250 تومان 
													<i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i>
												</li>
											</ul>
											<div class="row row-sm">
												<div class="col-6">
													<a href="doctor-profile.html" class="btn view-btn">مشاهده پروفایل</a>
												</div>
												<div class="col-6">
													<a href="booking.html" class="btn book-btn">رزرو کنید</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<div class="col-md-6 col-lg-4 col-xl-3">
									<div class="profile-widget">
										<div class="doc-img">
											<a href="doctor-profile.html">
												<img class="img-fluid" alt="User Image" src="assets/img/doctors/doctor-11.jpg">
											</a>
											<a href="javascript:void(0)" class="fav-btn">
												<i class="far fa-bookmark"></i>
											</a>
										</div>
										<div class="pro-content">
											<h3 class="title">
												<a href="doctor-profile.html">پزشک جولیا واشینگتون</a> 
												<i class="fas fa-check-circle verified"></i>
											</h3>
											<p class="speciality">MBBS، MD - پزشکی عمومی ، DM - غدد درون ریز</p>
											<div class="rating">
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star"></i>
												<span class="d-inline-block average-rating">(5)</span>
											</div>
											<ul class="available-info">
												<li>
													<i class="fas fa-map-marker-alt"></i>اوکلاهاما، آمریکا</li>
												<li>
													<i class="far fa-clock"></i> در دسترس در جمعه ، 22 مهر
												</li>
												<li>
													<i class="far fa-money-bill-alt"></i> 275 تومان -  450 تومان 
													<i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i>
												</li>
											</ul>
											<div class="row row-sm">
												<div class="col-6">
													<a href="doctor-profile.html" class="btn view-btn">مشاهده پروفایل</a>
												</div>
												<div class="col-6">
													<a href="booking.html" class="btn book-btn">رزرو کنید</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<div class="col-md-6 col-lg-4 col-xl-3">
									<div class="profile-widget">
										<div class="doc-img">
											<a href="doctor-profile.html">
												<img class="img-fluid" alt="User Image" src="assets/img/doctors/doctor-12.jpg">
											</a>
											<a href="javascript:void(0)" class="fav-btn">
												<i class="far fa-bookmark"></i>
											</a>
										</div>
										<div class="pro-content">
											<h3 class="title">
												<a href="doctor-profile.html">پزشک شاون اپون</a> 
												<i class="fas fa-check-circle verified"></i>
											</h3>
											<p class="speciality">MBBS، MS - ENT ، دیپلم در گوش و حلق و بینی (DLO)</p>
											<div class="rating">
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star"></i>
												<span class="d-inline-block average-rating">(5)</span>
											</div>
											<ul class="available-info">
												<li>
													<i class="fas fa-map-marker-alt"></i> ایندیانا ، آمریکا
												</li>
												<li>
													<i class="far fa-clock"></i> در دسترس در جمعه ، 22 مهر
												</li>
												<li>
													<i class="far fa-money-bill-alt"></i>  150 تومان  - 350 تومان 
													<i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i>
												</li>
											</ul>
											<div class="row row-sm">
												<div class="col-6">
													<a href="doctor-profile.html" class="btn view-btn">مشاهده پروفایل</a>
												</div>
												<div class="col-6">
													<a href="booking.html" class="btn book-btn">رزرو کنید</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								
							</div>
						</div>
					</div>
				</div>

			</div>		
			<!-- /Page Content -->
   
			<!-- Footer -->
			<footer class="footer">
				
				<!-- Footer Top -->
				<div class="footer-top">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-about">
									<div class="footer-logo">
										<img src="assets/img/footer-logo.png" alt="logo">
									</div>
									<div class="footer-about-content">
										<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
										<div class="social-icon">
											<ul>
												<li>
													<a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-dribbble"></i> </a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 class="footer-title">برای مراجعه‌کنندگان</h2>
									<ul>
										<li><a href="search.html">جستجو پزشکان</a></li>
										<li><a href="login.html">‌ورود</a></li>
										<li><a href="register.html">‌ثبت‌نام</a></li>
										<li><a href="booking.html">رزرو نوبت</a></li>
										<li><a href="patient-dashboard.html">دشبرد مراجعه‌کننده</a></li>
									</ul>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 class="footer-title">برای پزشکان</h2>
									<ul>
										<li><a href="appointments.html">نوبت‌دهی</a></li>
										<li><a href="chat.html">چت</a></li>
										<li><a href="login.html">‌ورود</a></li>
										<li><a href="doctor-register.html">‌ثبت‌نام</a></li>
										<li><a href="doctor-dashboard.html">دشبرد پزشک</a></li>
									</ul>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-contact">
									<h2 class="footer-title">ارتباط با ما</h2>
									<div class="footer-contact-info">
										<div class="footer-address">
											<span><i class="fas fa-map-marker-alt"></i></span>
											<p> خیابان ارم، سانفرانسیسکو<br> کالیفرنیا خیابان 94108 </p>
										</div>
										<p>
											<i class="fas fa-phone-alt"></i>
											+1 315 369 5943
										</p>
										<p class="mb-0">
											<i class="fas fa-envelope"></i>
											doccure@example.com
										</p>
									</div>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
						</div>
					</div>
				</div>
				<!-- /Footer Top -->
				
				<!-- Footer Bottom -->
                <div class="footer-bottom">
					<div class="container-fluid">
					
						<!-- Copyright -->
						<div class="copyright">
							<div class="row">
								<div class="col-md-6 col-lg-6">
									<div class="copyright-text">
										<p class="mb-0">&copy; 1399 داک‌کیور، تمامی حقوق محفوظ است.</p>
									</div>
								</div>
								<div class="col-md-6 col-lg-6">
								
									<!-- Copyright Menu -->
									<div class="copyright-menu">
										<ul class="policy-menu">
											<li><a href="term-condition.html">شرایط و مقررات</a></li>
											<li><a href="privacy-policy.html">حریم شخصی</a></li>
										</ul>
									</div>
									<!-- /Copyright Menu -->
									
								</div>
							</div>
						</div>
						<!-- /Copyright -->
						
					</div>
				</div>
				<!-- /Footer Bottom -->
				
			</footer>
			<!-- /Footer -->
		   
		</div>
		<!-- /Main Wrapper -->
	  
		<!-- jQuery -->
		<script src="assets/js/jquery.min.js"></script>
		
		<!-- Bootstrap Core JS -->
		<script src="assets/js/popper.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
		
		<!-- Sticky Sidebar JS -->
        <script src="assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
        <script src="assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>
		
		<!-- Custom JS -->
		<script src="assets/js/script.js"></script>
		
	</body>
</html>