<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>عملیات گروه کاربری</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/app/assets/img/favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/app/assets/bzamani/bootstrap.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/app/assets/admin/css/font-awesome.min.css">


    <!-- Main CSS -->
    <link rel="stylesheet" href="/app/assets/bzamani/style-admin.css">

    <!--[if lt IE 9]>
    <script src="/app/assets/js/html5shiv.min.js"></script>
    <script src="/app/assets/js/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery -->
    <script src="/app/assets/bzamani/jquery-1.10.2.min.js"></script>

    <!-- pace mask -->
    <script>
        paceOptions = {
            elements: false,
            document: true, // disabled
            eventLag: false, // disabled
            ajax: {
                trackMethods: ['GET', 'POST', 'DELETE', 'PUT'],
                trackWebSockets: false
            },
            restartOnPushState: true,
            restartOnRequestAfter: true
        };
        $(function () {
            $("body").prepend("<div class='pace-cover' style='display: none;'></div>");
            Pace.on("start", function () {
                $(".pace-cover").fadeIn();
            });
            Pace.on("done", function () {
                $(".pace-cover").fadeOut();
            });
        });
    </script>
    <script type="text/javascript" src="/app/assets/bzamani/components/pace/pace.min.js"></script>
    <link rel="stylesheet" href="/app/assets/bzamani/components/pace/themes/blue/pace-theme-flash.css"/>
    <style>
        .pace-cover {
            position: fixed;
            left: 0px;
            top: 1px;
            width: 100%;
            height: 100%;
            z-index: 99999;
            background: rgba(0, 0, 0, 0.4);
        }
    </style>
    <!-- /pace mask -->

    <!-- sweet alert -->
    <script type="text/javascript" src="/app/assets/bzamani/components/sweetalert/sweetalert2.min.js"></script>
    <script type="text/javascript" src="/app/assets/bzamani/components/sweetalert/sweetAlertConfirm.js"></script>
    <link rel="stylesheet" href="/app/assets/bzamani/components/sweetalert/sweetalert2.min.css">
    <!-- /sweet alert -->

    <!-- dhtml tree -->
    <script type="text/javascript" src="/app/assets/bzamani/components/tree/tree.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/app/assets/bzamani/components/tree/tree.css"/>
    <!-- /dhtml tree -->

    <script src="/app/assets/bzamani/jquery.template.js"></script>
    <script src="/app/assets/bzamani/general-utility.js"></script>

    <script type="text/javascript">
        var currentGroupId = getUrlParameter("groupId");
        var currentGroupTitle = getUrlParameter("fullName");
        var tree;
        var treeRootId = 1;
        var superRootNode = {
            id: 0,
            text: 'tree super root node',
            item: []
        };

        var contextPath = "/app";

        $(function () {
            makePageHeader();
            initTree();
        });

        function makePageHeader() {
            $('#pageHeader').html("عملیات مجاز برای گروه " + currentGroupTitle);
        }

        function initTree() {
            configTree();
            $.get(contextPath + "/rest/core/action/loadWholeTreeWithoutAuthorization?id=" + treeRootId + "&groupId=" + currentGroupId, function (data) {
                superRootNode.item.push(data);
                tree.loadJSONObject(superRootNode);
                tree.openItem(treeRootId);
                checkAllActionsForCurrentGroupRecursivly(treeRootId, data);
            });
        }

        function configTree() {
            tree = new dhtmlXTreeObject('tree_div', '100%', '100%', 0);
            tree.setImagePath("/app/assets/bzamani/components/tree/icons/");
            tree.setXMLAutoLoading(contextPath + "/rest/core/action/loadWholeTreeWithoutAuthorization");
            tree.setDataMode("json");
            tree.enableCheckBoxes(1, 0);
        }

        function checkAllActionsForCurrentGroupRecursivly(id, data) {
            tree.setCheck(id, data.userdata.checked);
            if (data.child > 0)
                for (let i = 0; i < data.item.length; i++)
                    checkAllActionsForCurrentGroupRecursivly(data.item[i].id, data.item[i]);
        }

        function addSelectedActions() {
            let checkedItems = tree.getAllChecked().split(',');
            let data = {
                groupId: currentGroupId,
                actionIds: []
            };
            if (checkedItems.length == 0 || (checkedItems.length == 1 && checkedItems[0] == '')) {
                showMessage("هیچ عملیاتی انتخاب نشده است.", "", "warning");
                return;
            } else {
                $.each(checkedItems, function (i) {
                    data.actionIds.push(checkedItems[i]);
                });
                saveAll(data);
            }
        }

        function saveAll(data) {
            $.ajax({
                url: contextPath + '/rest/core/group/reSaveGroupActions',
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(data),
                success: function (res) {
                    showMessage("ثبت با موفقیت انجام شد.", "", "success");
                },
                error: function (err) {
                    showMessage(err.responseJSON.message, "", "error");
                }
            });
        }

    </script>
</head>
<body>
<div class="col-xl-12 col-lg-12 col-md-12 com-sm-12 float-left">
    <h5 class="float-left" id="pageHeader"></h5>
</div>
<div class="col-xl-12 col-lg-12 col-md-12 com-sm-12 float-left">
    <div class="col-xl-12 col-lg-12 col-md-12 com-sm-12 float-left" id="tree_div"
         style="background-color:#f5f5f5;border :1px solid Silver;overflow:hidden;margin: 1em;border-radius: 10px"></div>
</div>
<div class="col-xl-12 col-lg-12 col-md-12 com-sm-12 float-left">
    <input type="button" id="btnAdd" class="btn btn-primary" onclick="addSelectedActions()" value='ثبت'/>
</div>
<!-- Bootstrap Core JS -->
<script src="/app/assets/bzamani/bootstrap.min.js"></script>
</body>
</html>




