<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>لیست گروه های کاربری</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/app/assets/img/favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/app/assets/bzamani/bootstrap.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/app/assets/admin/css/font-awesome.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="/app/assets/bzamani/style-admin.css">

    <!--[if lt IE 9]>
    <script src="/app/assets/js/html5shiv.min.js"></script>
    <script src="/app/assets/js/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery -->
    <script src="/app/assets/bzamani/jquery-1.10.2.min.js"></script>
    <!-- fancybox -->
    <script src="/app/assets/bzamani/components/fancybox/jquery.fancybox.js"></script>
    <link rel="stylesheet" href="/app/assets/bzamani/components/fancybox/jquery.fancybox.css"/>

    <!-- pace mask -->
    <script>
        paceOptions = {
            elements: false,
            document: true, // disabled
            eventLag: false, // disabled
            ajax: {
                trackMethods: ['GET', 'POST', 'DELETE', 'PUT'],
                trackWebSockets: false
            },
            restartOnPushState: true,
            restartOnRequestAfter: true
        };
        $(function () {
            $("body").prepend("<div class='pace-cover' style='display: none;'></div>");
            Pace.on("start", function () {
                $(".pace-cover").fadeIn();
            });
            Pace.on("done", function () {
                $(".pace-cover").fadeOut();
            });
        });
    </script>
    <script type="text/javascript" src="/app/assets/bzamani/components/pace/pace.min.js"></script>
    <link rel="stylesheet" href="/app/assets/bzamani/components/pace/themes/blue/pace-theme-flash.css"/>
    <style>
        .pace-cover {
            position: fixed;
            left: 0px;
            top: 1px;
            width: 100%;
            height: 100%;
            z-index: 99999;
            background: rgba(0, 0, 0, 0.4);
        }
    </style>
    <!-- /pace mask -->

    <!-- sweet alert -->
    <script type="text/javascript" src="/app/assets/bzamani/components/sweetalert/sweetalert2.min.js"></script>
    <script type="text/javascript" src="/app/assets/bzamani/components/sweetalert/sweetAlertConfirm.js"></script>
    <link rel="stylesheet" href="/app/assets/bzamani/components/sweetalert/sweetalert2.min.css">
    <!-- /sweet alert -->

    <script src="/app/assets/bzamani/jquery.template.js"></script>
    <script src="/app/assets/bzamani/grid-utility.js"></script>
    <script src="/app/assets/bzamani/general-utility.js"></script>

    <script>
        var contextPath = "/app";
        var emptyEntityData = {
            "id": '',
            "title": ''
        };

        var entityData;

        var searchFilters = {
            "title": '',
            "sort": "id,desc",
            "page": 0,
            "size": 8
        };

        $(function () {
            refreshGrid();

            $('.sort-grid').on("click", function () {
                searchFilters.sort = $(this).attr("order");
                refreshGrid();
            });

            $('#cmbPageSize').change(function () {
                searchFilters.size = $(this).val();
                refreshGrid();
            });

            $('.searchFilter').keydown(function (e) {
                if (e.which == 13)  // the enter key code
                    searchGroup();
            });

        });

        function searchGroup() {
            searchFilters.title = $("#txtSearchTitle").val();
            refreshGrid();
        }

        function clearSearch() {
            $('#cmbPageSize').val(8);
            searchFilters = {
                "title": '',
                "sort": "id,desc",
                "page": 0,
                "size": 8
            };
            $('.searchFilter').val('');
            refreshGrid();
        }

        function next() {
            searchFilters.page = searchFilters.page + 1;
            refreshGrid();
        }

        function previous() {
            searchFilters.page = searchFilters.page - 1;
            refreshGrid();
        }

        function goTo(pageNumber) {
            searchFilters.page = pageNumber;
            refreshGrid();
        }

        function deleteEntity() {
            if ($('#hiddenFieldId').val() > 0)
                $.ajax({
                    url: contextPath + "/rest/core/group/delete/" + $('#hiddenFieldId').val(),
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    type: 'DELETE',
                    success: function (res) {
                        refreshGrid();
                        showMessage("حذف با موفقیت انجام شد.", "", "success");
                    },
                    error: function (err) {
                        showMessage("خطا در حذف اطلاعات", "", "error");
                    }
                });
            else
                showMessage("هیچ رکوردی انتخاب نشده است.", "", "error");
        }

        function refreshGrid() {
            fillGrid('groupTemplate', 'groupList', contextPath + "/rest/core/group/searchGroups", searchFilters);
        }

        function rowSelected(id) {
            $('#hiddenFieldId').val(id);
        }

        function rowDeselected() {
            $('#hiddenFieldId').val();
        }

        function loadEntity(id) {
            clearEntity();
            $.ajax({
                url: contextPath + "/rest/core/group/load/" + id,
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                type: 'GET',
                success: function (res) {
                    setInputsByEntity(res);
                },
                error: function (err) {
                }
            });
        }

        function saveEntity() {
            if (validateForm() == 'ok') {
                setEntityFromInputs();
                $.ajax({
                    url: contextPath + "/rest/core/group/save",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(entityData),
                    type: 'POST',
                    success: function (res) {
                        $('#hiddenFieldId').val(res.id);
                        showMessage("ثبت با موفقیت انجام شد.", "", "success");
                        $('#btnCloseModal').click();
                    },
                    error: function (err) {
                        showMessage(err.responseText, "", "error");
                    }
                });
            } else showMessage(validateForm(), "", "warning");
        }

        function validateForm() {
            if ($('#txtTitle').val() == '')
                return "پرکردن فیلدهای ستاره دار الزامی است.";
            else return 'ok';
        }

        function clearEntity() {
            entityData = emptyEntityData;
            setInputsByEntity(emptyEntityData);
        }

        function setInputsByEntity(entity) {
            $("#hiddenFieldId").val(entity.id);
            $("#txtTitle").val(entity.title);
        }

        function setEntityFromInputs() {
            entityData = {
                "id": $('#hiddenFieldId').val(),
                "title": $('#txtTitle').val()
            }
        }

        function openGroupActions(id, fullName) {
            viewFancyBox('/app/view/core/group/groupActions.html?groupId=' + id + "&fullName=" + fullName, '90%', '90%');
        }

    </script>

<body>
<div class="row">
    <div class="col-md-12 d-flex">
        <!-- Grid -->
        <div class="card card-table flex-fill">
            <div class="col-sm-12" style="border-radius: 10px 10px 0px 0px">
                <div class="float-left mt-1">
                    <h5>لیست گروه های کاربری</h5>
                </div>
                <div class="float-right">
                    <a href="#add_edit_modal" data-toggle="modal" title="جدید"
                       onclick="clearEntity();"
                       class="btn btn-block btn-outline-secondary btn-rounded"><i class="fa fa-plus"></i></a>
                </div>
                <div class="float-right">
                    <a href="javascript:void(0)" onclick="clearSearch();" data-toggle="tooltip" title="پاک کردن فیلترها"
                       class="btn btn-block btn-outline-secondary btn-rounded"><i class="fa fa-eraser"></i></a>
                </div>
                <div class="float-right search-section" style="display: none">
                    <a href="javascript:void(0)" onclick="searchGroup();" data-toggle="tooltip" title="جستجو"
                       class="btn btn-block btn-rounded btn-outline-secondary"><i class="fa fa-filter"></i></a>
                </div>
                <div class="float-right">
                    <a href="javascript:void(0)" onclick="$('.search-section').slideToggle();"
                       class="btn btn-block btn-rounded btn-outline-secondary"><i class="fa fa-search"></i></a>
                </div>
            </div>
            <div class="col-sm-12 search-section" style="display: none">
                <label class="float-left" style="padding-top: .5em">فیلتر کردن نتایج براساس : </label>
                <div class="float-left col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <input type="text" id="txtSearchTitle" class="form-control searchFilter" placeholder="عنوان ...">
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-center mb-0">
                        <thead>
                        <tr>
                            <th class="text-center">ردیف</th>
                            <th>عنوان گروه
                                <i class="fa fa-sort-up sort-grid" order="title,asc"></i>
                                <i class="fa fa-sort-down sort-grid" order="title,desc"></i>
                            </th>
                            <th>عملیات</th>
                        </tr>
                        </thead>
                        <tbody id="groupList">
                        <script id="groupTemplate" type="text/x-jquery-tmpl">
                                    <tr>
                                        <td class="text-center"><span class="tmplRowIndex"></span></td>
                                        <td>${title}</td>
                                        <td class="text-right">
                                            <div class="float-right">
                                                <div class="float-right">
                                                     <a href="#delete_group_modal" onclick="rowSelected(${id})"  data-toggle="modal" title="حذف"
                                                                    class="btn btn-block btn-outline-secondary btn-rounded"><i class="fa fa-trash"></i></a>
                                                </div>
                                                <div class="float-right">
                                                     <a href="#add_edit_modal" onclick="loadEntity(${id})"  data-toggle="modal" title="ویرایش"
                                                                    class="btn btn-block btn-outline-secondary btn-rounded"><i class="fa fa-pencil"></i></a>
                                                </div>
                                                <div class="float-right">
                                                     <a onclick="openGroupActions(${id},'${title}')" data-toggle="modal" title="عملیات گروه"
                                                                    class="btn btn-block btn-outline-secondary btn-rounded"><i class="fa fa-check-square-o"></i></a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>


                        </script>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /Grid -->
    </div>

    <!-- paging -->
    <div class="row col-md-12 card-body pl-5" style="text-align: center!important;">
        <span class="float-left pt-2"> صفحه &nbsp;</span>
        <span class="float-left pt-2" id="currentPage"></span>
        <span class="float-left pt-2">&nbsp;از &nbsp;</span>
        <span class="float-left pt-2" id="totalPages"></span>&nbsp;

        <ul class="pagination float-left" id="pagingList"></ul>&nbsp;

        <span class="float-left pt-2" id="totalRecords"></span>
        <span class="float-left pt-2"> مورد &nbsp;</span>

        <select id="cmbPageSize" class="float-left" style="height: 35px;border-radius: 8px;cursor: pointer">
            <option value="5">5</option>
            <option value="8" selected>8</option>
            <option value="10">10</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>
    <!-- paging -->

    <!-- Add/Edit Modal -->
    <div class="modal fade custom-modal" id="add_edit_modal" aria-hidden="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-white">افزودن / ویرایش گروه کاربری </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnCloseModal"
                            onclick="fillGrid('groupTemplate', 'groupList', contextPath + '/rest/core/group/searchGroups', searchFilters)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Add Group -->
                    <input type="hidden" id="hiddenFieldId"/>
                    <div class="service-fields mb-3">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="form-group">
                                    <label>عنوان <span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" id="txtTitle" required="">
                                </div>
                            </div>
                        </div>
                        <div class="service-fields mb-3">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="submit-section text-center">
                                        <button class="btn btn-primary submit-btn" onclick="saveEntity()"> ثبت
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Add Group -->
                </div>
            </div>
        </div>
    </div>
    <!-- /Add/Edit Modal -->

    <!-- Delete Modal -->
    <div class="modal fade" id="delete_group_modal" aria-hidden="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-content p-2">
                        <h4 class="modal-title">تاییدیه حذف</h4>
                        <p class="mb-4">آیا از حدف اطمینان کافی دارید؟</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"
                                onclick="deleteEntity()">بله
                        </button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"
                                onclick="rowDeselected()">خیر
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Delete Modal -->

</div>
<!-- /Page Wrapper -->

<!-- Bootstrap Core JS -->
<script src="/app/assets/bzamani/bootstrap.min.js"></script>

</body>
</html>