<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>لیست پرسنل</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/app/assets/img/favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/app/assets/bzamani/bootstrap.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/app/assets/admin/css/font-awesome.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="/app/assets/bzamani/style-admin.css">

    <!--[if lt IE 9]>
    <script src="/app/assets/js/html5shiv.min.js"></script>
    <script src="/app/assets/js/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery -->
    <script src="/app/assets/bzamani/jquery-1.10.2.min.js"></script>
    <!-- fancybox -->
    <script src="/app/assets/bzamani/components/fancybox/jquery.fancybox.js"></script>
    <link rel="stylesheet" href="/app/assets/bzamani/components/fancybox/jquery.fancybox.css"/>

    <!-- pace mask -->
    <script>
        paceOptions = {
            elements: false,
            document: true, // disabled
            eventLag: false, // disabled
            ajax: {
                trackMethods: ['GET', 'POST', 'DELETE', 'PUT'],
                trackWebSockets: false
            },
            restartOnPushState: true,
            restartOnRequestAfter: true
        };
        $(function () {
            $("body").prepend("<div class='pace-cover' style='display: none;'></div>");
            Pace.on("start", function () {
                $(".pace-cover").fadeIn();
            });
            Pace.on("done", function () {
                $(".pace-cover").fadeOut();
            });
        });
    </script>
    <script type="text/javascript" src="/app/assets/bzamani/components/pace/pace.min.js"></script>
    <link rel="stylesheet" href="/app/assets/bzamani/components/pace/themes/blue/pace-theme-flash.css"/>
    <style>
        .pace-cover {
            position: fixed;
            left: 0px;
            top: 1px;
            width: 100%;
            height: 100%;
            z-index: 99999;
            background: rgba(0, 0, 0, 0.4);
        }
    </style>
    <!-- /pace mask -->

    <!-- sweet alert -->
    <script type="text/javascript" src="/app/assets/bzamani/components/sweetalert/sweetalert2.min.js"></script>
    <script type="text/javascript" src="/app/assets/bzamani/components/sweetalert/sweetAlertConfirm.js"></script>
    <link rel="stylesheet" href="/app/assets/bzamani/components/sweetalert/sweetalert2.min.css">
    <!-- /sweet alert -->

    <script src="/app/assets/bzamani/jquery.template.js"></script>
    <script src="/app/assets/bzamani/grid-utility.js"></script>
    <script src="/app/assets/bzamani/general-utility.js"></script>

    <script>
        var contextPath = "/app";
        var entityData = {
            "id": '',
            "male": '',
            "firstname": '',
            "lastname": '',
            "birthCertificateNumber": '',
            "nationalCode": '',
            "email": '',
            "fatherName": '',
            "motherName": '',
            "birthPlace": '',
            "educationLevel": {"id": ''},
            "militaryServiceStatus": {"id": ''},
            "mobile": '',
            "address": '',
            "telephone": '',
            "organization": {"id": ''},
            "fileCode": ''
        };

        var searchFilters = {
            "firstname": '',
            "lastname": '',
            "nationalCode": '',
            "sort": "id,desc",
            "page": 0,
            "size": 8
        };

        $(function () {
            refreshGrid();

            $('.sort-grid').on("click", function () {
                searchFilters.sort = $(this).attr("order");
                refreshGrid();
            });

            $('#cmbPageSize').change(function () {
                searchFilters.size = $(this).val();
                refreshGrid();
            });

            $('.searchFilter').keydown(function (e) {
                if (e.which == 13)  // the enter key code
                    searchPersonel();
            });

            fillComboBaseInfo(2, "cmbMilitaryServiceStatus");
            fillComboBaseInfo(3, "cmbEducationLevel");

        });

        function searchPersonel() {
            searchFilters.firstname = $("#txtSearchFirstname").val();
            searchFilters.lastname = $("#txtSearchLastname").val();
            searchFilters.nationalCode = $("#txtSearchNationalCode").val();
            refreshGrid();
        }

        function clearSearch() {
            $('#cmbPageSize').val(8);
            searchFilters = {
                "firstname": '',
                "lastname": '',
                "nationalCode": '',
                "sort": "id,desc",
                "page": 0,
                "size": 8
            };
            $('.searchFilter').val('');
            refreshGrid();
        }

        function next() {
            searchFilters.page = searchFilters.page + 1;
            refreshGrid();
        }

        function previous() {
            searchFilters.page = searchFilters.page - 1;
            refreshGrid();
        }

        function goTo(pageNumber) {
            searchFilters.page = pageNumber;
            refreshGrid();
        }

        function deleteEntity() {
            if ($('#hiddenFieldId').val() > 0)
                $.ajax({
                    url: contextPath + "/rest/core/personel/delete/" + $('#hiddenFieldId').val(),
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    type: 'DELETE',
                    success: function (res) {
                        refreshGrid();
                        showMessage("حذف با موفقیت انجام شد.", "", "success");
                    },
                    error: function (err) {
                        showMessage("خطا در حذف اطلاعات", "", "error");
                    }
                });
            else
                showMessage("هیچ رکوردی انتخاب نشده است.", "", "error");
        }

        function refreshGrid() {
            fillGrid('personelTemplate', 'personelList', contextPath + "/rest/core/personel/searchPersonels", searchFilters);
        }

        function rowSelected(id) {
            $('#hiddenFieldId').val(id);
        }

        function rowDeselected() {
            $('#hiddenFieldId').val();
        }

        function loadEntity(id) {
            clearInputs();
            clearEntity();
            $.ajax({
                url: contextPath + "/rest/core/personel/load/" + id,
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                type: 'GET',
                success: function (res) {
                    setInputsByEntity(res);
                },
                error: function (err) {
                }
            });
        }

        function saveEntity() {
            if (validateForm() == 'ok') {
                setEntityFromInputs();
                $.ajax({
                    url: contextPath + "/rest/core/personel/save",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(entityData),
                    type: 'POST',
                    success: function (res) {
                        $('#hiddenFieldId').val(res.id);
                        showMessage("ثبت با موفقیت انجام شد.", "", "success");
                        $('#btnCloseModal').click();
                    },
                    error: function (err) {
                        if (err.responseText.includes("unq_personel_nationalcode"))
                            showMessage("خطا. کدملی تکراری است.", "", "error");
                        if (err.responseText.includes("unq_personel_email"))
                            showMessage("خطا. ایمیل تکراری است.", "", "error");
                    }
                });
            } else showMessage(validateForm(), "", "warning");
        }

        function validateForm() {
            if ($('#txtNationalCode').val() == '' || $('#txtFirstname').val() == '' || $('#txtLastname').val() == '' || !$('#hiddenFieldOrganizationId').val() > 0 || $('#txtOrganizationTitle').val() == '' || $('#txtEmail').val() == '')
                return "پرکردن فیلدهای ستاره دار الزامی است.";
            else if ($('#txtNationalCode').val().length != 10)
                return "کدملی باید 10 رقمی باشد.";
            else return 'ok';
        }

        function clearEntity() {
            entityData = {
                "id": '',
                "male": '',
                "firstname": '',
                "lastname": '',
                "birthCertificateNumber": '',
                "nationalCode": '',
                "email": '',
                "fatherName": '',
                "motherName": '',
                "birthPlace": '',
                "educationLevel": {"id": ''},
                "militaryServiceStatus": {"id": ''},
                "mobile": '',
                "address": '',
                "telephone": '',
                "organization": {"id": ''},
                "fileCode": ''
            };
        }

        function setInputsByEntity(entity) {
            $("#hiddenFieldId").val(entity.id);
            $("#cmbGender").val(entity.male.toString());
            $("#txtFirstname").val(entity.firstname);
            $("#txtLastname").val(entity.lastname);
            $("#txtBirthCertificateNumber").val(entity.birthCertificateNumber);
            $("#txtNationalCode").val(entity.nationalCode);
            $("#txtEmail").val(entity.email);
            $("#txtFatherName").val(entity.fatherName);
            $("#txtMotherName").val(entity.motherName);
            $("#txtBirthPlace").val(entity.birthPlace);
            $("#cmbEducationLevel").val(entity.educationLevel != null ? entity.educationLevel.id : -1);
            $("#cmbMilitaryServiceStatus").val(entity.militaryServiceStatus != null ? entity.militaryServiceStatus.id : -1);
            $("#txtMobile").val(entity.mobile);
            $("#txtAddress").val(entity.address);
            $("#txtTelephone").val(entity.telephone);
            $("#hiddenFieldOrganizationId").val(entity.organization.id);
            $("#txtOrganizationTitle").val(entity.organization.title);
            if (entity.fileCode != null && entity.fileCode.length > 0) {
                $('#uploadedImage').prop("src", "/app/rest/core/file/download/" + entity.fileCode + "/false");
                $("#hiddenFieldfileCode").val(entity.fileCode);
            }
        }

        function setEntityFromInputs() {
            clearEntity();
            entityData = {
                "id": $('#hiddenFieldId').val(),
                "male": $('#cmbGender').val(),
                "firstname": $('#txtFirstname').val(),
                "lastname": $('#txtLastname').val(),
                "birthCertificateNumber": $('#txtBirthCertificateNumber').val(),
                "nationalCode": $('#txtNationalCode').val(),
                "email": $('#txtEmail').val(),
                "fatherName": $('#txtFirstname').val(),
                "motherName": $('#txtMotherName').val(),
                "birthPlace": $('#txtBirthPlace').val(),
                "educationLevel": $('#cmbEducationLevel').val() > 0 ? {"id": $('#cmbEducationLevel').val()} : null,
                "militaryServiceStatus": $('#cmbMilitaryServiceStatus').val() > 0 ? {"id": $('#cmbMilitaryServiceStatus').val()} : null,
                "mobile": $('#txtMobile').val(),
                "address": $('#txtAddress').val(),
                "telephone": $('#txtTelephone').val(),
                "organization": {"id": $('#hiddenFieldOrganizationId').val()},
                "fileCode": $('#hiddenFieldfileCode').val()
            }
        }

        function uploadFile() {
            $.ajax({
                url: contextPath + "/rest/core/file/upload",
                type: "POST",
                data: new FormData($("#upload-file-form")[0]),
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false,
                cache: false,
                dataType: "text",
                success: function (fileCode) {
                    if (fileCode != null && fileCode.length > 0) {
                        $('#uploadedImage').prop("src", "/app/rest/core/file/download/" + fileCode + "/false");
                        $('#hiddenFieldfileCode').val(fileCode);
                        $('.submit-btn').show();
                    }
                },
                error: function (err) {
                    if (err.responseText && err.responseText.toLowerCase().includes('SizeLimitExceededException'.toLowerCase()))
                        showMessage('خطا! حداکثر حجم تصویر شما می تواند ' + parseInt(err.responseText.substring(err.responseText.lastIndexOf('(') + 1, err.responseText.lastIndexOf(')'))) / 1048576 + ' مگابایت باشد.', "", "error");
                }
            });
        }

        function setImagePath(fileCode) {
            $('#image_full_size').attr("src", "/app/rest/core/file/download/" + fileCode + "/false");
        }

        function setOrganization(id, title) {
            $('#hiddenFieldOrganizationId').val(id);
            $('#txtOrganizationTitle').val(title);
        }

    </script>

<body>
<div class="row">
    <div class="col-md-12 d-flex">
        <!-- Grid -->
        <div class="card card-table flex-fill">
            <div class="col-sm-12" style="background-color: darkslategray;border-radius: 10px 10px 0px 0px">
                <div class="float-left mt-1">
                    <h5 class="text-white">لیست پرسنل</h5>
                </div>
                <div class="float-right">
                    <a href="#add_edit_modal" data-toggle="modal" title="جدید"
                       onclick="clearEntity();clearInputs();"
                       class="btn btn-block btn-outline-secondary btn-rounded"><i class="fa fa-plus"></i></a>
                </div>
                <div class="float-right">
                    <a href="javascript:void(0)" onclick="clearSearch();" data-toggle="tooltip" title="پاک کردن فیلترها"
                       class="btn btn-block btn-outline-secondary btn-rounded"><i class="fa fa-eraser"></i></a>
                </div>
                <div class="float-right search-section" style="display: none">
                    <a href="javascript:void(0)" onclick="searchPersonel();" data-toggle="tooltip" title="جستجو"
                       class="btn btn-block btn-rounded btn-outline-secondary"><i class="fa fa-filter"></i></a>
                </div>
                <div class="float-right">
                    <a href="javascript:void(0)" onclick="$('.search-section').slideToggle();"
                       class="btn btn-block btn-rounded btn-outline-secondary"><i class="fa fa-search"></i></a>
                </div>
            </div>
            <div class="col-sm-12 search-section" style="display: none">
                <label class="float-left" style="padding-top: .5em">فیلتر کردن نتایج براساس : </label>
                <div class="float-left col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <input type="text" id="txtSearchFirstname" class="form-control searchFilter" placeholder="نام ...">
                </div>
                <div class="float-left col-sm-2 col-md-3 col-lg-2 col-xl-2">
                    <input type="text" id="txtSearchLastname" class="form-control searchFilter"
                           placeholder="نام خانوادگی ...">
                </div>
                <div class="float-left col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <input type="text" id="txtSearchNationalCode" class="form-control searchFilter"
                           placeholder="کدملی ...">
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-center mb-0">
                        <thead>
                        <tr>
                            <th class="text-center">ردیف</th>
                            <th>تصویر
                                <i class="fa fa-sort-up sort-grid" order="fileCode,asc"></i>
                                <i class="fa fa-sort-down sort-grid" order="fileCode,desc"></i>
                            </th>
                            <th>نام
                                <i class="fa fa-sort-up sort-grid" order="firstname,asc"></i>
                                <i class="fa fa-sort-down sort-grid" order="firstname,desc"></i>
                            </th>
                            <th>نام خانوادگی
                                <i class="fa fa-sort-up sort-grid" order="lastname,asc"></i>
                                <i class="fa fa-sort-down sort-grid" order="lastname,desc"></i>
                            </th>
                            <th>واحد سازمانی
                                <i class="fa fa-sort-up sort-grid" order="organization.title,asc"></i>
                                <i class="fa fa-sort-down sort-grid" order="organization.title,desc"></i>
                            </th>
                            <th>مدرک نحصیلی
                                <i class="fa fa-sort-up sort-grid" order="educationLevel.title,asc"></i>
                                <i class="fa fa-sort-down sort-grid" order="educationLevel.title,desc"></i>
                            </th>
                            <th>وضعیت نظام وظیفه
                                <i class="fa fa-sort-up sort-grid" order="militaryServiceStatus.title,asc"></i>
                                <i class="fa fa-sort-down sort-grid" order="militaryServiceStatus.title,desc"></i>
                            </th>
                            <th>کدملی
                                <i class="fa fa-sort-up sort-grid" order="nationalCode,asc"></i>
                                <i class="fa fa-sort-down sort-grid" order="nationalCode,desc"></i>
                            </th>
                            <th>موبایل
                                <i class="fa fa-sort-up sort-grid" order="mobile,asc"></i>
                                <i class="fa fa-sort-down sort-grid" order="mobile,desc"></i>
                            </th>
                            <th>تلفن
                                <i class="fa fa-sort-up sort-grid" order="telephone,asc"></i>
                                <i class="fa fa-sort-down sort-grid" order="telephone,desc"></i>
                            </th>
                            <th>عملیات</th>
                        </tr>
                        </thead>
                        <tbody id="personelList">
                        <script id="personelTemplate" type="text/x-jquery-tmpl">
                                    <tr>
                                        <td class="text-center"><span class="tmplRowIndex"></span></td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a href="#image_modal" data-toggle="modal" class="avatar avatar-sm mr-2"><img onclick="setImagePath('${fileCode}')"
                                                        class="avatar-img rounded-circle"
                                                        src={{if male && fileCode==null}}"/app/assets/img/man.png"{{/if}}
                                                            {{if !male && fileCode==null}}"/app/assets/img/woman.png"{{/if}}
                                                            {{if fileCode!=null}}"/app/rest/core/file/download/${fileCode}/false"{{/if}}
                                                        alt="User Image"></a>
                                            </h2>
                                        </td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a href="javascript:void(0)">${firstname}</a>
                                            </h2>
                                        </td>
                                        <td>
                                            <h2 class="table-avatar">
                                               <a href="javascript:void(0)">${lastname}</a>
                                            </h2>
                                        </td>
                                        <td>${organization.title}</td>
                                        <td>
                                            {{if educationLevel}}
                                                ${educationLevel.title}
                                            {{/if}}
                                        </td>
                                        <td>
                                            {{if militaryServiceStatus}}
                                                ${militaryServiceStatus.title}
                                            {{/if}}
                                        </td>
                                        <td>${nationalCode}</td>
                                        <td>${mobile}</td>
                                        <td>${telephone}</td>
                                        <td class="text-right">
                                            <div class="float-right">
                                                <div class="float-right">
                                                     <a href="#delete_personel_modal" onclick="rowSelected(${id})"  data-toggle="modal" title="حذف"
                                                                    class="btn btn-block btn-outline-secondary btn-rounded"><i class="fa fa-trash"></i></a>
                                                </div>
                                                <div class="float-right">
                                                     <a href="#add_edit_modal" onclick="loadEntity(${id})"  data-toggle="modal" title="ویرایش"
                                                                    class="btn btn-block btn-outline-secondary btn-rounded"><i class="fa fa-pencil"></i></a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>































                        </script>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /Grid -->
    </div>

    <!-- paging -->
    <div class="row col-md-12 card-body pl-5" style="text-align: center!important;">
        <span class="float-left pt-2"> صفحه &nbsp;</span>
        <span class="float-left pt-2" id="currentPage"></span>
        <span class="float-left pt-2">&nbsp;از &nbsp;</span>
        <span class="float-left pt-2" id="totalPages"></span>&nbsp;

        <ul class="pagination float-left" id="pagingList"></ul>&nbsp;

        <span class="float-left pt-2" id="totalRecords"></span>
        <span class="float-left pt-2"> مورد &nbsp;</span>

        <select id="cmbPageSize" class="float-left" style="height: 35px;border-radius: 8px;cursor: pointer">
            <option value="5">5</option>
            <option value="8" selected>8</option>
            <option value="10">10</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>
    <!-- paging -->

    <!-- Add/Edit Modal -->
    <div class="modal fade custom-modal" id="add_edit_modal" aria-hidden="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-white">افزودن / ویرایش پرسنل </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnCloseModal"
                            onclick="fillGrid('personelTemplate', 'personelList', contextPath + '/rest/core/personel/searchPersonels', searchFilters)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Add Personel -->
                    <input type="hidden" id="hiddenFieldId"/>
                    <div class="service-fields mb-3">
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>نام <span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" id="txtFirstname" required="">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>نام خانوادگی <span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" id="txtLastname" required="">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>کدملی <span class="text-danger">*</span></label>
                                    <input class="form-control" maxlength="10" minlength="10" type="text"
                                           id="txtNationalCode">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>جنسیت<span class="text-danger">*</span></label>
                                    <select id="cmbGender" class="form-control">
                                        <option value="..."></option>
                                        <option value="true">مرد</option>
                                        <option value="false">زن</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>مدرک تحصیلی</label>
                                    <select class="form-control" id="cmbEducationLevel"></select>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>وضعیت نظام وظیفه</label>
                                    <select class="form-control" id="cmbMilitaryServiceStatus"></select>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>محل تولد</label>
                                    <input class="form-control" type="text" id="txtBirthPlace">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>نام پدر</label>
                                    <input class="form-control" type="text" id="txtFatherName">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>نام مادر</label>
                                    <input class="form-control" type="text" id="txtMotherName">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>شماره شناسنامه</label>
                                    <input class="form-control" type="text" id="txtBirthCertificateNumber">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>موبایل</label>
                                    <input type="text" id="txtMobile" class="form-control service-desc"/>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>تلفن</label>
                                    <input type="text" id="txtTelephone" class="form-control service-desc"/>
                                </div>
                            </div>
                        </div>

                        <div class="service-fields mb-3">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>آدرس</label>
                                        <input type="text" id="txtAddress" class="form-control service-desc"/>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>ایمیل <span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" dir="ltr" id="txtEmail">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <input type="hidden" id="hiddenFieldOrganizationId"/>
                                        <label>واحد سازمانی<span class="text-danger">*</span><span
                                                style="cursor: pointer" class="fa fa-search text-info"
                                                title="انتخاب واحد سازمانی"
                                                onclick="viewFancyBox('/app/view/core/organization/organizationSelectAuthorize.html','70%','90%')"></span></label>
                                        <div>
                                            <input class="form-control" disabled type="text" id="txtOrganizationTitle"
                                                   required="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="service-fields mb-3">
                            <div class="row">

                            </div>
                        </div>

                        <div class="service-fields mb-3">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="submit-section">
                                        <button class="btn btn-primary submit-btn" onclick="saveEntity()"> ثبت
                                        </button>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="service-upload">
                                        <i class="fas fa-cloud-upload-alt"></i>
                                        <span>بارگذاری تصویر</span>
                                        <form id="upload-file-form">
                                            <input id="upload-file-input" type="file" name="attachment"
                                                   accept="image/*"
                                                   onchange="uploadFile();$('.submit-btn').hide();"/>
                                            <img id="uploadedImage"
                                                 style="width: 8em;border: 1px solid;border-radius: 10px;box-shadow: 0px 0px 10px 1px;"/>
                                            <input type="hidden" id="hiddenFieldfileCode"/>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Add Personel -->
                </div>
            </div>
        </div>
    </div>
    <!-- /Add/Edit Modal -->

    <!-- Delete Modal -->
    <div class="modal fade" id="delete_personel_modal" aria-hidden="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-content p-2">
                        <h4 class="modal-title">تاییدیه حذف</h4>
                        <p class="mb-4">آیا از حدف اطمینان کافی دارید؟</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"
                                onclick="deleteEntity()">بله
                        </button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"
                                onclick="rowDeselected()">خیر
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Delete Modal -->

    <!-- image_modal -->
    <div class="modal fade custom-modal" id="image_modal" aria-hidden="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">تصویر پرسنل </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <img src="" class="img-fluid" alt="هنوز تصویری برای این شخص آپلود نشده است." id="image_full_size">
                </div>
            </div>
        </div>
    </div>
    <!-- /image_modal -->

</div>
<!-- /Page Wrapper -->

<!-- Bootstrap Core JS -->
<script src="/app/assets/bzamani/bootstrap.min.js"></script>

</body>
</html>