<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>ساختار سازمان</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/app/assets/img/favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/app/assets/bzamani/bootstrap.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/app/assets/admin/css/font-awesome.min.css">


    <!-- Main CSS -->
    <link rel="stylesheet" href="/app/assets/bzamani/style-admin.css">

    <!--[if lt IE 9]>
    <script src="/app/assets/js/html5shiv.min.js"></script>
    <script src="/app/assets/js/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery -->
    <script src="/app/assets/bzamani/jquery-1.10.2.min.js"></script>

    <!-- pace mask -->
    <script>
        paceOptions = {
            elements: false,
            document: true, // disabled
            eventLag: false, // disabled
            ajax: {
                trackMethods: ['GET', 'POST', 'DELETE', 'PUT'],
                trackWebSockets: false
            },
            restartOnPushState: true,
            restartOnRequestAfter: true
        };
        $(function () {
            $("body").prepend("<div class='pace-cover' style='display: none;'></div>");
            Pace.on("start", function () {
                $(".pace-cover").fadeIn();
            });
            Pace.on("done", function () {
                $(".pace-cover").fadeOut();
            });
        });
    </script>
    <script type="text/javascript" src="/app/assets/bzamani/components/pace/pace.min.js"></script>
    <link rel="stylesheet" href="/app/assets/bzamani/components/pace/themes/blue/pace-theme-flash.css"/>
    <style>
        .pace-cover {
            position: fixed;
            left: 0px;
            top: 1px;
            width: 100%;
            height: 100%;
            z-index: 99999;
            background: rgba(0, 0, 0, 0.4);
        }
    </style>
    <!-- /pace mask -->

    <!-- sweet alert -->
    <script type="text/javascript" src="/app/assets/bzamani/components/sweetalert/sweetalert2.min.js"></script>
    <script type="text/javascript" src="/app/assets/bzamani/components/sweetalert/sweetAlertConfirm.js"></script>
    <link rel="stylesheet" href="/app/assets/bzamani/components/sweetalert/sweetalert2.min.css">
    <!-- /sweet alert -->

    <!-- dhtml tree -->
    <script type="text/javascript" src="/app/assets/bzamani/components/tree/tree.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/app/assets/bzamani/components/tree/tree.css"/>
    <!-- /dhtml tree -->
    <script src="/app/assets/bzamani/components/autocomplete/jquery-ui-1.8.17.custom.min.js"></script>
    <link rel="stylesheet" href="/app/assets/bzamani/components/autocomplete/jquery-ui-1.8.17.custom.css"/>

    <script type="text/javascript">
        var im0 = "leaf.gif";
        var im1 = "folderOpen.gif";
        var im2 = "folderClosed.gif";
        var parentId = 1;
        var nodeId = -1;
        var organizationTitle = "";
        var scroll;
        var entityData = {
            "id": '',
            "title": '',
            "active": '',
            "parent": {"id": ''}
        };
        var contextPath = "/app";

        var FirstData = '<?xml version="1.0" encoding="utf-8"?><tree id="0">' +
            '<item  text="سازمان" id="1" open="1"' +
            ' im0="' + im0 + '"' +
            ' im1="' + im1 + '"' +
            ' im2="' + im2 + '">' +
            ' isVirtual="false"';
        var XMLData = FirstData;

        var parentsText = "";
        $(function () {
            initTree();
            configAutoComplete();
        });

        function configAutoComplete() {
            $.curCSS = function (element, prop, val) {
                return $(element).css(prop, val);
            };
            $("#txtSearchTree").autocomplete({
                source: function (req, resp) {
                    var searchFilter = {
                        title: req.term,
                        size: 10
                    };
                    $.getJSON(contextPath + "/rest/core/organization/searchOrganizationAutoComplete", searchFilter, function (data) {
                        resp($.map(data.entityList, function (organization) {
                            return {
                                label: organization.title,
                                value: organization.id
                            };
                        }));
                    });
                },
                select: function (event, ui) {
                    findAndLocateInTree(ui.item.value);
                    $(event.target).val(ui.item.label);
                    return false;
                },
                minLength: 3,
                delay: 1000
            });
            $("#txtSearchTree").keydown(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    return false;
                }
            });
        }

        function initTree() {
            configTree();
            $.get(contextPath + "/rest/core/organization/getChildrenAsString/1", function (data) {
                XMLData = XMLData + data + "</item>   </tree>";
                tree.loadXMLString(XMLData);
            });
        }

        function configTree() {
            tree = new dhtmlXTreeObject("tree_div", "100%", "80%", 0);
            tree.setSkin('dhx_skyblue');
            tree.setImagePath("/app/assets/bzamani/components/tree/icons/");

            tree.enableHighlighting(true);
            tree.attachEvent("onRightClick", function (id, e) {
                nodeId = id;
                parentsText = tree.getItemText(nodeId);
                findParents(nodeId);
                organizationTitle = tree.getItemText(id);
                menu.showContextMenu(e.clientX, e.clientY);
            });

            tree.attachEvent("onClick", function (id, e) {
                nodeId = id;
                parentsText = tree.getItemText(nodeId);
                findParents(nodeId);
                organizationTitle = tree.getItemText(id);
            });
            tree.attachEvent('onOpenEnd', function (id, state) {
                if (state == 1) {
                    treeOnClick(id);
                }
                nodeId = id;
                parentsText = tree.getItemText(nodeId);
                findParents(nodeId);
                organizationTitle = tree.getItemText(id);
            });

            //Start Config Context Menu
            menu = new dhtmlXMenuObject();
            menu.renderAsContextMenu();
            menu.attachEvent("onClick", onButtonClick);
            menu.loadXML("/app/assets/bzamani/components/tree/contextMenu.xml");
        }

        function findParents(id) {
            if (id > 0) {
                var parentId = tree.getParentId(id);
                parentsText = tree.getItemText(parentId) + "/" + parentsText;
                findParents(parentId);
            }
        }

        function treeOnClick(id) {
            var tempScrollTop = $('.containerTableStyle').scrollTop();
            var src = '<item text="..." im0="leaf.gif" id="t' + id + '"/>';
            if (tree.getItemText('t' + id) === '...') {
                $.get(contextPath + "/rest/core/organization/getChildrenAsString/" + id, function (data) {
                    XMLData = XMLData.replace(src, data);
                    tree.destructor();
                    configTree();
                    tree.loadXMLString(XMLData);
                    tree.openItem(id);
                    $('.containerTableStyle').scrollTop(tempScrollTop);
                });
            }
        }

        function onButtonClick(menuitemId) {
            if (menuitemId === '1') { //  حالت درج
                openAddModal(nodeId);
            } else if (menuitemId === '2') { //  حالت ویرایش
                openEditModal(nodeId);
            } else if (menuitemId === '3') { //  حالت حذف
                deleteClicked(nodeId);
            }
        }

        function openAddModal(nodeId) {
            $('#hiddenFieldParentId').val(nodeId);
            $('#modal_link').click();
        }

        function openEditModal(nodeId) {
            if (nodeId == 1) {
                showMessage("ویرایش ریشه درختواره امکان پذیر نمی باشد.", "", "error");
                return;
            }
            $.ajax({
                url: contextPath + "/rest/core/organization/load/" + nodeId,
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                type: 'GET',
                success: function (res) {
                    $('#modal_link').click();
                    setInputsByEntity(res);
                },
                error: function (err) {
                }
            });
        }

        function deleteClicked(id) {
            showConfirm('تاییدیه حذف اطلاعات', 'آیا از حذف اطمینان دارید؟', function () {
                $.ajax({
                    url: contextPath + "/rest/core/organization/delete/" + id,
                    type: 'DELETE',
                    contentType: 'application/json; charset=utf-8',
                    success: function (res) {
                        if (res)
                            tree.deleteItem(id, true);
                        else
                            showMessage("حذف این ایتم امکان پذیر نمی باشد.", "", "error");
                    },
                    error: function () {
                        showMessage("حذف این ایتم امکان پذیر نمی باشد.", "", "error");
                    }
                });
            });
        }

        function refreshTree() {
            tree.destructor();
            $("#tree_div").html('');
            parentId = 1;
            nodeId = -1;
            XMLData = FirstData;
            initTree();
        }

        function clearInputs() {
            $('#hiddenFieldId').val('');
            $('#txtTitle').val('');
            $('#cmbActive').val('true');
        }

        function clearEntity() {
            entityData = {
                "id": '',
                "title": '',
                "enabled": ''
            };
        }

        function setInputsByEntity(entity) {
            $("#hiddenFieldId").val(entity.id);
            $("#hiddenFieldParentId").val(entity.parent.id);
            $("#txtTitle").val(entity.title);
            $("#cmbActive").val(entity.active.toString());
        }

        function setEntityFromInputs() {
            clearEntity();
            entityData = {
                "id": $('#hiddenFieldId').val(),
                "title": $('#txtTitle').val(),
                "active": $('#cmbActive').val(),
                "parent": {"id": $('#hiddenFieldParentId').val()}
            }
        }

        function saveEntity() {
            if (validateForm() == 'ok') {
                setEntityFromInputs();
                $.ajax({
                    url: contextPath + "/rest/core/organization/save",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(entityData),
                    type: 'POST',
                    success: function (res) {
                        $('#hiddenFieldId').val(res.id);
                        showMessage("ثبت با موفقیت انجام شد.", "", "success");
                        findAndLocateInTree(res.id);
                        $('#btnCloseModal').click();
                    },
                    error: function (err) {
                        if (err.responseText.toLowerCase().includes("unq_parent_title"))
                            showMessage("خطا", "نام واحد سازمانی تکراری است.", "error");
                        else
                            showMessage("خطای نامشخص رخ داده است.", "", "error");
                    }
                });
            } else
                showMessage("پرکردن فیلدهای ستاره دار الزامی است.", "", "warning");
        }

        function validateForm() {
            if (!$('#hiddenFieldParentId').val() > 0 || $('#txtTitle').val() == '' || !$('#cmbActive').val() > 0)
                return;
            else return 'ok';
        }

        function clearSearch() {
            $("#txtSearchTree").val('');
            tree.closeAllItems();
            $("#txtSearchTree").focus();
            tree._unselectItems();
        }

        function findAndLocateInTree(id) {
            XMLData = FirstData;
            $.get(contextPath + "/rest/core/organization/searchOrganizationTree/" + id, function (data) {
                XMLData = XMLData + data + "</item> </tree>";
                tree.destructor();
                configTree();
                tree.loadXMLString(XMLData);
                tree.openItem(id);
                tree.selectItem(id);
                tree.focusItem(id);
            });
        }


    </script>
<body style="overflow: hidden">

<a id="modal_link" href="#add_edit_modal" data-toggle="modal" onclick="clearEntity();clearInputs();"></a>
<h5 class="m-1">مدیریت ساختار سازمان</h5>
<div class="row m-1">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
        <input type="text" id="txtSearchTree" class="form-control ui-autocomplete-input" autocomplete="off"
               placeholder="حداقل 3 کاراکنر تایپ کنید..."
               maxlength="30" role="textbox" aria-autocomplete="list" aria-haspopup="true"/>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
        <input type="button" id="clear" class="btn btn-primary" onclick="clearSearch()" value='پاک کردن'/>
    </div>
</div>

<div class="col-xl-6  col-md-6 col-sm-10" id="tree_div"
     style="background-color:#f5f5f5;border :1px solid Silver;overflow:hidden;margin: 1em;border-radius: 10px">
</div>

<!-- Add/Edit Modal -->
<div class="modal fade custom-modal" id="add_edit_modal" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">افزودن / ویرایش سازمان </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnCloseModal">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Add Organization -->
                <input type="hidden" id="hiddenFieldId"/>
                <input type="hidden" id="hiddenFieldParentId"/>
                <div class="service-fields mb-3">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>عنوان <span class="text-danger">*</span></label>
                                <input class="form-control" type="text" id="txtTitle" required="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>وضعیت<span class="text-danger">*</span></label>
                                <select id="cmbActive" class="form-control">
                                    <option value="..."></option>
                                    <option value="true" selected>فعال</option>
                                    <option value="false">غیرفعال</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="service-fields mb-3">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="submit-section" style="text-align: center">
                                    <button class="btn btn-primary submit-btn" onclick="saveEntity()"> ثبت
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Add Organization -->
            </div>
        </div>
    </div>
</div>
<!-- /Add/Edit Modal -->

<!-- Bootstrap Core JS -->
<script src="/app/assets/bzamani/bootstrap.min.js"></script>
</body>
</html>