<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>مدیک</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <!-- Favicons -->
    <link href="../assets/img/favicon.png" rel="icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../assets/bzamani/bootstrap.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="../assets/admin/css/font-awesome.min.css">

    <!-- Select2 CSS -->
    <link rel="stylesheet" href="../assets/bzamani/select2.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="../assets/bzamani/style-public.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.min.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery -->
    <script src="../assets/bzamani/jquery-1.10.2.min.js"></script>
    <script src="../assets/bzamani/jquery.template.js"></script>
    <!-- pace mask -->
    <script>
        paceOptions = {
            elements: false,
            document: true, // disabled
            eventLag: false, // disabled
            ajax: {
                trackMethods: ['GET', 'POST', 'DELETE', 'PUT'],
                trackWebSockets: false
            },
            restartOnPushState: true,
            restartOnRequestAfter: true
        };
        $(function () {
            $("body").prepend("<div class='pace-cover' style='display: none;'></div>");
            Pace.on("start", function () {
                $(".pace-cover").fadeIn();
            });
            Pace.on("done", function () {
                $(".pace-cover").fadeOut();
            });
        });
    </script>
    <script type="text/javascript" src="/assets/bzamani/components/pace/pace.min.js"></script>
    <link rel="stylesheet" href="/assets/bzamani/components/pace/themes/blue/pace-theme-flash.css"/>
    <style>
        .pace-cover {
            position: fixed;
            left: 0px;
            top: 1px;
            width: 100%;
            height: 100%;
            z-index: 99999;
            background: rgba(0, 0, 0, 0.4);
        }
    </style>
    <!-- /pace mask -->

    <style>
        .card:hover {
            border-color: silver;
        }

        .doctor-section:hover {
            background-color: #a6e8a5b0;
            cursor: pointer;
            border-radius: 0.5rem 0.5rem 0 0;
        }

        .comment:hover {
            background-color: #a6e8a5b0;
            border-radius: 0.5rem;
        }
    </style>
    <script src="/assets/bzamani/general-utility.js"></script>

    <script>
        $(function () {
            $.ajax({
                type: "GET",
                url: "/api/public/clinic/load/" + getUrlParameter("id"),
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (res) {
                    $("#clinicList > div").remove();
                    $("#clinicTemplate").tmpl(res).appendTo("#clinicList");
                },
                error: function (err) {
                    console.log("error ---- " + err);
                }
            });
        });

    </script>

</head>

<body style="color: black;background-color: #f5f5f5">

<!-- Main Wrapper -->
<div class="main-wrapper">

    <!-- Header -->
    <header class="header">
        <nav class="navbar navbar-expand-lg header-nav">
            <div class="navbar-header col-lg-2 col-sm-12">
                <a href="../index.html" class="navbar-brand logo">
                    <img src="../assets/img/logo.jpg" class="img-fluid" alt="Logo" style="border-radius: 1rem">
                </a>
            </div>
            <div class="main-menu-wrapper col-lg-10 col-sm-12">
                <div class="menu-header">
                    <a href="index.html" class="menu-logo">
                        <img src="assets/img/logo.jpg" class="img-fluid" alt="Logo">
                    </a>
                    <a id="menu_close" class="menu-close" href="javascript:void(0);">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
                <ul class="main-nav">
                    <li>
                        <a href="/index.html">صفحه اصلی</a>
                    </li>
                    <li>
                        <a href="/services.html">خدمات مدیک</a>
                    </li>
                    <li>
                        <a href="/homeVisit.html">هوم ویزیت</a>
                    </li>
                    <li>
                        <a href="/public/searchDoctors.html">پزشکان</a>
                    </li>
                    <li>
                        <a href="/public/searchClinics.html">مراکز درمانی</a>
                    </li>
                    <li>
                        <a href="/showAllPosts.html">مجله سلامتی</a>
                    </li>
                    <li>
                        <a href="/contactUs.html">ارتباط با ما</a>
                    </li>
                    <li id="dashboardPage" style="display: none">
                        <a href="/dashboard.html">داشبورد</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- /Header -->

    <!-- Page Content -->
    <div class="content">
        <div class="container-fluid">

            <div class="row">
                <!-- Clinic Widget -->
                <div class="col-lg-12">
                    <div class="col-md-12 col-lg-12 col-xl-12" id="clinicList">
                        <script id="clinicTemplate" type="text/x-jquery-tmpl">
                    <div class="card" style="border-radius: 15px;box-shadow:0px 0px 10px 1px silver">
                        <div class="card-body">
                            <div class="doctor-widget">
                                <div class="doc-info-left">
                                    <div class="doctor-img">
                                        <a>
                                            <img
                                             src={{if organization.fileCode && organization.fileCode==null}}"/assets/img/clinics/3.jpg"{{/if}}
                                                 {{if organization.fileCode!=null}}"/rest/core/file/download/${organization.fileCode}/false"{{/if}}
                                            class="img-fluid"
                                            alt="User Image">
                                        </a>
                                    </div>
                                    <div class="doc-info-cont">
                                        <h4 class="doc-name">${organization.title} </h4>
                                        <p class="doc-speciality">
                                            <i class="fa fa-stethoscope" aria-hidden="true"></i>
                                            ${organization.title}
                                        </p>
                                        <div class="rating">
                                            <i class="fa fa-star filled"></i>
                                            <i class="fa fa-star filled"></i>
                                            <i class="fa fa-star filled"></i>
                                            <i class="fa fa-star filled"></i>
                                            <i class="fa fa-star"></i>
                                            <span class="d-inline-block average-rating">(${id})</span>
                                        </div>
                                        <div class="clinic-details">
                                            <p class="doc-location">
                                                <i class="fa fa-map"></i> ${organization.address}
                                            </p>
                                        </div>
                                        <div class="clinic-details">
                                            <p class="doc-location">
                                                <i class="fa fa-phone"></i> ${organization.telephone}
                                            </p>
                                        </div>

                                        <div class="clinic-details">
                                            <p class="doc-location">
                                                <i class="fa fa-thumbs-up"></i> 95% رضایتمندی بیماران</li>
                                            </p>
                                        </div>
                                        <div class="clinic-details">
                                            <p class="doc-location">
                                                <i class="fa fa-comment"></i> 14 نظر ثبت شده</li>
                                            </p>
                                        </div>
                                        <div class="clinic-details">
                                            <p class="doc-location">
                                                <i class="fa fa-map"></i>{{if organization.city != null }}${organization.city.title}{{/if}} - {{if organization.region != null }}${organization.region.title}{{/if}}
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


































                        </script>
                    </div>
                    <!-- /Clinic Widget -->
                </div>

                <div class="col-lg-12">
                    <div class="col-md-12 col-lg-12 col-xl-12">
                        <div class="card" style="border-radius: 15px;box-shadow:0px 0px 10px 1px silver">
                            <div class="card-body">
                                <div class="doctor-widget row">
                                    <div class="float-left col-lg-12 p-lg-2 doctor-section">
                                        <div class="float-left col-lg-2">
                                            نظرات کاربران
                                        </div>
                                        <div class="float-left col-lg-1 offset-lg-9" id="btn-plus"
                                             onclick="$('#doctor-section-body').toggle();$(this).toggle();$('#btn-minus').toggle();"
                                             style="display: none">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                        <div class="float-left col-lg-1 offset-lg-9" id="btn-minus"
                                             onclick="$('#doctor-section-body').toggle();$(this).toggle();$('#btn-plus').toggle();">
                                            <i class="fa fa-minus"></i>
                                        </div>
                                    </div>
                                    <div class="float-left col-lg-12 p-lg-2" id="doctor-section-body">
                                        <div class="float-left col-lg-12 doc-speciality">
                                            <img src="assets/img/man.png" class="col-lg-3" style="width: 10rem">
                                            <span class="col-lg-1 text-info font-weight-bold comment">امیر باقری:</span>
                                            <span class="col-lg-9 comment"> بسیار با حوصله و دقیق به بیماران رسیدگی می کنند. با تشکر از سایت خوب مدیک</span>
                                        </div>
                                        <div class="float-left col-lg-12 doc-speciality">
                                            <img src="assets/img/man.png" class="col-lg-3" style="width: 10rem">
                                            <span class="col-lg-1 text-info font-weight-bold comment">سید محمدحسین کاظمی:</span>
                                            <span class="col-lg-9 comment">
                                                 ایشان فردی متخصص و دلسوز برای بیماران هستند. با آرزوی سلامتی و
                                            بهروزی شما
                                            </span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!-- /Page Content -->

    </div>
    <!-- /Main Wrapper -->

    <!-- Footer -->
    <footer class="footer">

        <!-- Footer Top -->
        <div class="footer-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-6">

                        <!-- Footer Widget -->
                        <div class="footer-widget footer-about">
                            <div class="footer-logo">
                                <img src="/assets/img/footer-logo.jpg" alt="logo">
                            </div>
                            <div class="footer-about-content">
                                <p>مدیک یک وب اپلیکیشن در حوزه سلامت است که قصد دارد خدمات نوین پزشکی را در سریع
                                    ترین زمان ممکن و با حداکثر کیفیت به کاربران گرامی ارائه نماید. </p>
                                <div class="social-icon">
                                    <ul>
                                        <li>
                                            <a href="#" target="_blank"><i class="fa fa-twitter"></i> </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /Footer Widget -->

                    </div>

                    <div class="col-lg-2 col-md-6">

                        <!-- Footer Widget -->
                        <div class="footer-widget footer-menu">
                            <h2 class="footer-title">برای مراجعه‌کنندگان</h2>
                            <ul>
                                <li><a href="searchDoctors.html">جستجوی پزشکان</a></li>
                                <li><a href="searchClinics.html">جستجوی کلینیک ها</a></li>
                                <li><a href="/register.html">‌ثبت‌نام</a></li>
                                <li><a href="/login.html">‌ورود</a></li>
                                <li><a href="/dashboard.html">داشبورد</a></li>
                            </ul>
                        </div>
                        <!-- /Footer Widget -->

                    </div>

                    <div class="col-lg-2 col-md-6">

                        <!-- Footer Widget -->
                        <div class="footer-widget footer-menu">
                            <h2 class="footer-title">برای پزشکان</h2>
                            <ul>
                                <li><a href="/login.html">‌ورود</a></li>
                                <li><a href="/dashboard.html">داشبورد</a></li>
                            </ul>
                        </div>
                        <!-- /Footer Widget -->

                    </div>

                    <div class="col-lg-2 col-md-6">

                        <!-- Footer Widget -->
                        <div class="footer-widget footer-menu">
                            <h2 class="footer-title">برای کلینیک ها</h2>
                            <ul>
                                <li><a href="/login.html">‌ورود</a></li>
                                <li><a href="/dashboard.html">داشبورد</a></li>
                            </ul>
                        </div>
                        <!-- /Footer Widget -->

                    </div>

                    <div class="col-lg-3 col-md-6">

                        <!-- Footer Widget -->
                        <div class="footer-widget footer-contact" style="color: white">
                            <h2 class="footer-title">ارتباط با ما</h2>
                            <div class="footer-contact-inincludesfo">
                                <div class="footer-address">
                                    <span><i class="fas fa-map-marker-alt"></i></span>
                                    <p> تهران<br> تهران </p>
                                </div>
                                <p>
                                    <i class="fas fa-phone-alt"></i>
                                    91029011-021  &nbsp;  09129585895  &nbsp;  09122851473  &nbsp;  09351107082
                                </p>
                                <p class="mb-0">
                                    <i class="fas fa-envelope"></i>
                                    medikteb@gmail.com
                                </p>
                            </div>
                        </div>
                        <!-- /Footer Widget -->

                    </div>

                </div>
            </div>
        </div>
        <!-- /Footer Top -->

        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="container-fluid">

                <!-- Copyright -->
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-5 col-lg-5">
                            <div class="copyright-text">
                                <p class="mb-0">تمامی حقوق این اپلیکیشن برای مدیک اپ محفوظ است.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Copyright -->

            </div>
        </div>
        <!-- /Footer Bottom -->

    </footer>
    <!-- /Footer -->

    <!-- Bootstrap Core JS -->
    <script src="../assets/admin/chart/popper.min.js"></script>
    <script src="../assets/bzamani/bootstrap.min.js"></script>

    <!-- Sticky Sidebar JS -->


    <!-- Select2 JS -->
    <script src="../assets/bzamani/select2.min.js"></script>


    <!-- Custom JS -->
    <script src="../assets/admin/chart/script.js"></script>
</div>

</body>

</html>
