<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <title>مدیک</title>

    <!-- Favicons -->
    <link type="image/x-icon" href="assets/img/favicon.png" rel="icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/bzamani/bootstrap.css">
    <link rel="stylesheet" href="assets/bzamani/carousel.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="assets/bzamani/style-public.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.min.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
    <script src="/app/assets/bzamani/jquery-1.10.2.min.js"></script>
    <script src="assets/bzamani/jquery.template.js"></script>
    <script src="assets/bzamani/propper.min.js"></script>
    <script>
        var contextPath = "/app";
        $(function () {
            loadDoctorsOrderByScore();
            load4RecentPosts();
            if (localStorage.getItem("authenticatedUserFullName")) {
                $('#dashboardPage').show();
                $('#btnLogin').hide();
                $('#userInfo').html(localStorage.getItem("authenticatedUserFullName") + "&nbsp;");
                $('#btnLogout').show();
            }

            $('#txtSpecialityTitle').keydown(function (e) {
                if (e.which == 13)  // the enter key code
                {
                    quickSearchDoctor();
                } /*else {
                    $("#resultCount").html("");
                    $("#resultContainer").html("<span class=\"form-text\" id=\"resultContainer\"></span>");
                }*/
            });

            $('#txtAddress').keydown(function (e) {
                if (e.which == 13)  // the enter key code
                {
                    quickSearchDoctor();
                } /*else {
                    $("#resultCount").html("");
                    $("#resultContainer").html("<span class=\"form-text\" id=\"resultContainer\"></span>");
                }*/
            });
        });

        /* function clearSearchFilter() {
             $('#txtSpecialityTitle').val('');
             $('#txtAddress').val('');
         }*/

        function quickSearchDoctor() {
            if ($('#txtSpecialityTitle').val().length > 0 || $('#txtAddress').val().length > 0) {
                $.ajax({
                    type: "GET",
                    url: contextPath + "/api/public/doctor/searchDoctors",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    data: {
                        "specialityTitle": $('#txtSpecialityTitle').val(),
                        "address": $('#txtAddress').val(),
                        "size": 1000
                    },
                    success: function (res) {
                        $("#resultCount").html("تعداد نتایج: " + res.totalRecords);
                        $("#resultContainer").html("<span class=\"form-text\" id=\"resultContainer\"></span>");
                        $.each(res.entityList, function (index, value) {
                            let region="";
                            if(value.personel.region != null)
                                region = value.personel.region.title;
                            $("#resultContainer").append("<li class=result id=res_" + index + " onmouseover=highlightRow(" + index + ")>" + parseInt(parseInt(index) + 1) + "- دکتر " + value.personel.firstname + "  " + value.personel.lastname + " - " + region + " - " + value.speciality.title + " - " + value.personel.address + " - " + value.personel.telephone + "</li>");
                        });
                    },
                    error: function (err) {
                        console.log("error ---- " + err);
                    }
                });
            }
        }

        function highlightRow(index) {
            $(".result").css("background-color", "#f9f9f9");
            $(".result").css("font-weight", "normal");
            $("#res_" + index).css("cursor", "pointer");
            $("#res_" + index).css("font-weight", "bold");
            $("#res_" + index).css("background-color", "#09e5ab");
            $("#res_" + index).css("border-radius", "5px");
        }

        function navigateToLoginPage() {
            document.location = "login.html";
        }

        function loadDoctorsOrderByScore() {
            let searchFilter = {
                "sort": "id,desc",
                "page": 0,
                "size": 10
            };
            $.getJSON(contextPath + "/api/public/doctor/searchDoctors", searchFilter, function (entities) {
                $('#doctors-template').tmpl(entities.entityList).prependTo('#doctors-list');
                $('.profile-widget').first().addClass("active");

            });
        }

        function load4RecentPosts() {
            $.getJSON(contextPath + "/api/public/portal/post/get4RecentPosts", {
                "sort": "lastUpdateDate,desc",
                "page": 0,
                "size": 4
            }, function (entities) {
                $('#4RecentPostTemplate').tmpl(entities.entityList).prependTo('#4RecentPostList');
            });
        }
    </script>
</head>
<body>

<!-- Main Wrapper -->
<div class="main-wrapper">

    <!-- Header -->
    <header class="header">
        <nav class="navbar navbar-expand-lg header-nav">
            <div class="navbar-header  col-md-2 col-sm-12">
                <!--<a id="mobile_btn" href="javascript:void(0);">
							<span class="bar-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
                </a>-->
                <a href="index.html" class="navbar-brand logo">
                    <img src="assets/img/logo.png" class="img-fluid" alt="Logo">
                </a>
            </div>
            <div class="main-menu-wrapper  col-md-8 col-sm-12">
                <div class="menu-header">
                    <a href="index.html" class="menu-logo">
                        <img src="assets/img/logo.png" class="img-fluid" alt="Logo">
                    </a>
                    <a id="menu_close" class="menu-close" href="javascript:void(0);">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
                <ul class="main-nav">
                    <li class="active">
                        <a href="index.html">خانه</a>
                    </li>
                    <li class="has-submenu">
                        <a href="#">جستجوی پیشرفته<i class="fas fa-chevron-down"></i></a>
                        <ul class="submenu">
                            <li><a href="public/search.html">جستجوی پزشکان</a></li>
                            <li><a href="public/search.html">جستجوی کلینیک ها</a></li>
                            <li><a href="public/search.html">جستجوی محصولات</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#blogFragment">‌وبلاگ</a>
                    </li>
                    <li id="dashboardPage" style="display: none">
                        <a href="dashboard.html">داشبورد</a>
                    </li>
                </ul>
            </div>
            <ul class="nav col-md-2 col-sm-12">
                <li class="nav-item" style="display: flex;white-space: nowrap">
                    <button type="button" class="btn btn-primary btn-sm" id="btnLogin" onclick="navigateToLoginPage()">
                        ورود
                    </button>
                    <button type="button" class="btn btn-danger btn-sm" id="btnLogout" onclick="navigateToLoginPage()"
                            style="display: none">
                        خروج
                    </button>
                    <span style="padding-right: 1em" id="userInfo"></span>
                </li>
            </ul>
        </nav>
    </header>
    <!-- /Header -->

    <!-- Home quick search doctor -->
    <section class="section section-search">
        <div class="container-fluid">
            <div class="banner-wrapper">
                <div class="banner-header text-center">
                    <h1>جستجوی سریع </h1>
                    <p>جستجو و کشف بهترین پزشکان، کلینیک‌ها، بیمارستان‌ها و داروخانه‌های نزدیک شما</p>
                </div>

                <!-- Search -->
                <div class="search-box row">

                    <div class="form-group search-location">
                        <input type="text" class="form-control" id="txtAddress" placeholder="آدرس ...">
                        <span class="form-text" id="resultCount"></span>
                    </div>
                    <div class="form-group search-info">
                        <input type="text" class="form-control" id="txtSpecialityTitle"
                               placeholder="فعلا فقط جستجوی پزشکان بر اساس تخصص">
                    </div>
                    <button onclick="quickSearchDoctor()" class="btn btn-primary search-btn"><i
                            class="fas fa-search"></i>
                    </button>
                    <!--<button onclick="clearSearchFilter()" class="btn btn-dark search-btn" ><i
                            class="fas fa-eraser"></i>
                    </button>-->
                </div>
                <div>
                    <ul>
                            <span class="form-text" style="color: #0e0e0e"
                                  id="resultContainer">مثال: ارتوپدی یا روانشناس یا...</span>
                    </ul>
                </div>
                <!-- /Search -->

            </div>
        </div>
    </section>
    <!-- /Home quick search doctor -->

    <section class="section home-tile-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-9 m-auto">
                    <div class="section-header text-center">
                        <h2>خدمات مدیک</h2>
                        <p class="sub-title">ارانه خدمات کاربردی و مورد نیاز شما در حوزه بهداشت و سلامت </p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 mb-3">
                            <div class="card text-center doctor-book-card">
                                <img src="assets/img/doctors/doctor-07.jpg" alt="" class="img-fluid">
                                <div class="doctor-book-card-content tile-card-content-1">
                                    <div>
                                        <h3 class="card-title mb-0">مشاوره تلفنی</h3>
                                        <a href="javascript:void(0);" class="btn book-btn1 px-3 py-2 mt-3" tabindex="0">به
                                            زودی</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-3">
                            <div class="card text-center doctor-book-card">
                                <img src="assets/img/img-pharmacy1.jpg" alt="" class="img-fluid">
                                <div class="doctor-book-card-content tile-card-content-1">
                                    <div>
                                        <h3 class="card-title mb-0">فروش تجهیزات ارتوپدی</h3>
                                        <a href="javascript:void(0);" class="btn book-btn1 px-3 py-2 mt-3"
                                           tabindex="0">به زودی</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-3">
                            <div class="card text-center doctor-book-card">
                                <img src="assets/img/lab-image.jpg" alt="" class="img-fluid">
                                <div class="doctor-book-card-content tile-card-content-1">
                                    <div>
                                        <h3 class="card-title mb-0">هوم ویزیت</h3>
                                        <a href="javascript:void(0);" class="btn book-btn1 px-3 py-2 mt-3" tabindex="0">به
                                            زودی</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- slider of clinics intro -->
    <section class="section">
        <div class="container-fluid">
            <div class="row">
                <div>
                    <div class="section-header text-center">
                        <h2>معرفی کلینیک ها</h2>
                        <p class="sub-title">معرفی خدمات به روزترین و مجهزترین کلینیک های کشور </p>
                    </div>
                    <div id="clinicsIntroductionSlider" class="carousel w-100" data-ride="carousel">
                        <div class="carousel-inner w-100" role="listbox">
                            <div class="carousel-item active">
                                <div class="col-lg-4 col-md-6">
                                    <img class="img-fluid" src="assets/img/clinics/1.jpg">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-lg-4 col-md-6">
                                    <img class="img-fluid" src="assets/img/clinics/3.jpg">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-lg-4 col-md-6">
                                    <img class="img-fluid" src="assets/img/clinics/4.jpg">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-lg-4 col-md-6">
                                    <img class="img-fluid" src="assets/img/clinics/5.jpg">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-lg-4 col-md-6">
                                    <img class="img-fluid" src="assets/img/clinics/7.jpg">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-lg-4 col-md-6">
                                    <img class="img-fluid" src="assets/img/clinics/8.jpg">
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev bg-dark w-auto" href="#clinicsIntroductionSlider" role="button"
                           data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next bg-dark w-auto" href="#clinicsIntroductionSlider" role="button"
                           data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /slider of clinics intro -->

    <!-- slider of doctors intro -->
    <section class="section">
        <div class="container-fluid">
            <div class="row">
                <div>
                    <div class="section-header text-center" style="margin-top: 4em">
                        <h2>معرفی پزشکان</h2>
                        <p class="sub-title">10 پزشک برتر از دید مخاطبان </p>
                    </div>
                    <div id="doctorsIntroductionSlider" class="carousel w-100" data-ride="carousel">
                        <div class="carousel-inner w-100" style="width: 100%" role="listbox" id="doctors-list">
                            <script id="doctors-template" type="text/x-jquery-tmpl">
                            <div class="profile-widget carousel-item" style="width: 30em">
                                <div class="doc-img">
                                    <a href="doctor-profile.html">
                                        <img class="img-fluid"
                                             alt="User Image"
                                             style="width:4em"
                                              src={{if personel.male && personel.fileCode==null}}"/app/assets/img/man.png"{{/if}}
                                                            {{if !personel.male && personel.fileCode==null}}"/app/assets/img/woman.png"{{/if}}
                                                            {{if personel.fileCode!=null}}"/app/rest/core/file/download/${personel.fileCode}/false"{{/if}}
                                             >
                                    </a>
                                </div>
                                <div class="pro-content">
                                    <h3 class="title">
                                        <a>${personel.firstname} ${personel.lastname}</a>
                                        <i class="fas fa-check-circle verified"></i>
                                    </h3>
                                    <p class="speciality"> ${speciality.title} </p>
                                    <div class="rating">
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <span class="d-inline-block average-rating">${id}</span>
                                    </div>
                                    <ul class="available-info">
                                        <li>
                                            <i class="fas fa-map-marker-alt"></i>{{if personel.region != null}}}${personel.region.title}{{/if}}
                                        </li>
                                        <li>
                                            <i class="far fa-clock"></i>
                                            {{if personel.address}}
                                                ${personel.address.substring(0,25)}
                                            {{/if}}
                                        </li>
                                        <li>
                                            <i class="fas fa-phone"></i>${personel.telephone}
                                            <i class="fas fa-info-circle" data-toggle="tooltip" title="${personel.address}"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                            </script>
                            <!--<div class="carousel-item active">
                                <div class="col-lg-4 col-md-6">
                                    <img class="img-fluid" src="assets/img/features/1.jpg">
                                </div>
                            </div>-->
                        </div>
                        <a class="carousel-control-prev bg-dark w-auto" href="#doctorsIntroductionSlider" role="button"
                           data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next bg-dark w-auto" href="#doctorsIntroductionSlider" role="button"
                           data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /slider of doctors intro -->

    <!-- Blog Section -->
    <section class="section section-blogs">
        <div class="container-fluid">

            <!-- Section Header -->
            <div class="section-header text-center" id="blogFragment">
                <h2>وبلاگ</h2>
                <p class="sub-title">جدیدترین پست ها، مقالات، اخبار و اطلاعات مفید در حوزه بهداشت و سلامت </p>
            </div>
            <!-- /Section Header -->

            <div class="row blog-grid-row" id="4RecentPostList">
                <!-- Blog Post -->
                <script id="4RecentPostTemplate" type="text/x-jquery-tmpl">
                <div class="col-md-6 col-lg-3 col-sm-12">
                    <div class="blog grid-blog">
                        <div class="blog-image">
                            <a href="showPostDetail.html?postId=${id}"><img class="img-fluid" style="width: 25em;height:13em"
                                             src={{if fileCode!=null}}"/app/rest/core/file/download/${fileCode}/false"
                                                 {{else}}"/app/assets/img/3.png"
                                                 {{/if}}
                                             alt="post Image"></a>
                        </div>
                        <div class="blog-content">
                            <ul class="entry-meta meta-item">
                                <li>
                                    <div class="post-author">
                                        <a href="doctor-profile.html"><img src= {{if author.male && author.fileCode==null}}"/app/assets/img/man.png"{{/if}}
                                                              {{if !author.male && author.fileCode==null}}"/app/assets/img/woman.png"{{/if}}
                                                              {{if author.fileCode!=null}}"/app/rest/core/file/download/${author.fileCode}/false"{{/if}}
                                                               alt="Post Author">
                                            <span style="color:black">${author.firstname} ${author.lastname}</span></a>
                                    </div>
                                </li>
                                <li><i class="far fa-clock"></i>${createDateShamsi}</li>
                            </ul>
                            <h3 class="blog-title"><a href="showPostDetail.html?postId=${id}">${title}</a>
                            </h3>
                            <p class="mb-0" style="text-align:justify">${body.substring(0,100)} ...  <a style="color:blue" href="showPostDetail.html?postId=${id}">ادامه مطلب</a></p>
                        </div>
                    </div>
                </div>







                </script>
                <!-- /Blog Post -->
            </div>
            <div class="view-all text-center">
                <a href="showAllPosts.html" class="btn btn-primary">مشاهده همه پست ها</a>
            </div>
        </div>
    </section>
    <!-- /Blog Section -->

    <!-- Footer -->
    <footer class="footer">

        <!-- Footer Top -->
        <div class="footer-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-6">

                        <!-- Footer Widget -->
                        <div class="footer-widget footer-about">
                            <div class="footer-logo">
                                <img src="assets/img/footer-logo.png" alt="logo">
                            </div>
                            <div class="footer-about-content">
                                <p>مدیک یک وب سایت اطلاع رسانی در حوزه سلامت است که قصد دارد خدمات نوین پزشکی را در سریع
                                    ترین زمان ممکن و با حداکثر کیفیت به بیماران گرامی ارائه نماید. </p>
                                <div class="social-icon">
                                    <ul>
                                        <li>
                                            <a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank"><i class="fab fa-dribbble"></i> </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /Footer Widget -->

                    </div>

                    <div class="col-lg-2 col-md-6">

                        <!-- Footer Widget -->
                        <div class="footer-widget footer-menu">
                            <h2 class="footer-title">برای مراجعه‌کنندگان</h2>
                            <ul>
                                <li><a href="public/search.html">جستجوی پزشکان</a></li>
                                <li><a href="public/search.html">جستجوی کلینیک ها</a></li>
                                <li><a href="login.html">‌ورود</a></li>
                                <li><a href="register.html">‌ثبت‌نام</a></li>
                            </ul>
                        </div>
                        <!-- /Footer Widget -->

                    </div>

                    <div class="col-lg-2 col-md-6">

                        <!-- Footer Widget -->
                        <div class="footer-widget footer-menu">
                            <h2 class="footer-title">برای پزشکان</h2>
                            <ul>
                                <!-- <li><a href="login.html">‌ورود</a></li>-->
                            </ul>
                        </div>
                        <!-- /Footer Widget -->

                    </div>

                    <div class="col-lg-2 col-md-6">

                        <!-- Footer Widget -->
                        <div class="footer-widget footer-menu">
                            <h2 class="footer-title">برای کلینیک ها</h2>
                            <ul>
                                <!-- <li><a href="login.html">‌ورود</a></li>-->
                            </ul>
                        </div>
                        <!-- /Footer Widget -->

                    </div>

                    <div class="col-lg-2 col-md-6">

                        <!-- Footer Widget -->
                        <div class="footer-widget footer-contact">
                            <h2 class="footer-title">ارتباط با ما</h2>
                            <div class="footer-contact-inincludesfo">
                                <div class="footer-address">
                                    <span><i class="fas fa-map-marker-alt"></i></span>
                                    <p> تهران<br> جنت آباد شمالی کوچه شهید هشت متری </p>
                                </div>
                                <p>
                                    <i class="fas fa-phone-alt"></i>
                                    09122851473
                                </p>
                                <p class="mb-0">
                                    <i class="fas fa-envelope"></i>
                                    medikteb@gmail.com
                                </p>
                            </div>
                        </div>
                        <!-- /Footer Widget -->

                    </div>

                </div>
            </div>
        </div>
        <!-- /Footer Top -->

        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="container-fluid">

                <!-- Copyright -->
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <div class="copyright-text">
                                <p class="mb-0">تمامی حقوق برای مدیک تب محفوظ است.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">

                            <!-- Copyright Menu -->
                            <div class="copyright-menu">
                                <ul class="policy-menu">
                                    <li><a href="term-condition.html">شرایط و مقررات</a></li>
                                    <li><a href="privacy-policy.html">حریم خصوصی</a></li>
                                </ul>
                            </div>
                            <!-- /Copyright Menu -->

                        </div>
                    </div>
                </div>
                <!-- /Copyright -->

            </div>
        </div>
        <!-- /Footer Bottom -->

    </footer>
    <!-- /Footer -->

</div>
<!-- /Main Wrapper -->


<!-- Bootstrap Core JS -->

<script src="assets/bzamani/bootstrap.min.js"></script>

<script src="assets/bzamani/carousel.js"></script>


</body>
</html>
