<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <title>مدیک</title>

    <!-- Favicons -->
    <link type="image/x-icon" href="assets/img/favicon.png" rel="icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/bzamani/bootstrap.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="assets/plugins/fontawesome/css/all5.css">
    <script src="assets/plugins/fontawesome/css/all5.js"></script>


    <!-- Main CSS -->
    <link rel="stylesheet" href="assets/bzamani/style-public.css">
    <style>
        @media only screen and (min-width: 600px) {
            #why-medik {
                line-height: 3rem;
                padding-right: 3rem;
                padding-left: 3rem;
            }
        }

        .result:hover {
            background-color: #09e5ab54;
        }

        .carousel-item {
            opacity: 100%;
        }

        .d-block {
            border-radius: 0 0 10rem 0;
        }
    </style>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.min.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
    <script src="assets/bzamani/jquery-1.10.2.min.js"></script>
    <script src="assets/bzamani/jquery.cookie.js"></script>
    <script src="assets/bzamani/jquery.template.js"></script>
    <script src="assets/bzamani/propper.min.js"></script>
    <script>
        var allDoctors, allClinics; //for autocomplete search

        $(function () {
            saveSiteVisitor();
            getCountOfVisitors();
            if (localStorage.getItem("authenticatedUserFullName")) {
                $('#dashboardPage').show();
                $('#btnDashboard').show();
                $('#btnLogin').hide();
                $('#userInfo').html(localStorage.getItem("authenticatedUserFullName") + "&nbsp;");
                $('#btnLogout').show();
            }
            loadClinicsOrderByScore();
            loadDoctorsOrderByScore();
            load4RecentPosts();
            loadAllDoctorsAndAllClinicsForAutoCompleteSearch();
            $('#txtSearchBox').keypress(function (e) {
                if (e.keyCode == 13)
                    searchAutoComplete();
            });
        });

        function navigateToDoctorSinglePage(id) {
            document.location = "doctorSinglePage.html?id=" + id;
        }

        function navigateToClinicSinglePage(id) {
            document.location = "clinicSinglePage.html?id=" + id;
        }

        function searchAutoComplete() {
            let searchParameter = $('#txtSearchBox').val().trim();
            $("#clinic-search-result-list > div").remove();
            $("#doctor-search-result-list > div").remove();
            $('#clinic-search-result-list').show();
            $('#doctor-search-result-list').show();
            //if (searchParameter != "") {
            let clinicFinalResult = [];
            let doctorFinalResult = [];
            for (let i = 0; i < allClinics.length; i++) {
                if (allClinics[i].organization.address.includes(searchParameter) || allClinics[i].organization.title.includes(searchParameter))
                    clinicFinalResult.push({
                        "id": allClinics[i].id,
                        "title": allClinics[i].organization.title,
                        "fileCode": allClinics[i].organization.fileCode
                    });
            }
            for (let i = 0; i < allDoctors.length; i++) {
                if (allDoctors[i].personel.lastname.includes(searchParameter) || allDoctors[i].speciality.title.includes(searchParameter))
                    doctorFinalResult.push({
                        "id": allDoctors[i].id,
                        "firstname": allDoctors[i].personel.firstname,
                        "lastname": allDoctors[i].personel.lastname,
                        "male": allDoctors[i].personel.male,
                        "fileCode": allDoctors[i].personel.fileCode
                    });
            }

            $('#clinic-search-result-template').tmpl(clinicFinalResult).prependTo('#clinic-search-result-list');
            $('#doctor-search-result-template').tmpl(doctorFinalResult).prependTo('#doctor-search-result-list');
            /*} else
                $('#txtSearchBox').focus();*/
        }

        function clearAutoComplete() {
            $('#txtSearchBox').val('');
            $('#clinic-search-result-list').hide();
            $('#doctor-search-result-list').hide();
            $("#clinic-search-result-list > div").remove();
            $("#doctor-search-result-list > div").remove();
        }

        function loadAllDoctorsAndAllClinicsForAutoCompleteSearch() {
            let searchFilter = {
                "sort": "id,desc",
                "page": 0,
                "size": 5000
            };
            $.getJSON("/api/public/clinic/searchClinic", searchFilter, function (clinics) {
                allClinics = clinics.entityList;
                $.getJSON("/api/public/doctor/searchDoctors", searchFilter, function (doctors) {
                    allDoctors = doctors.entityList;
                    console.log(allClinics);
                    console.log(allDoctors);
                });
            });
        }

        function saveSiteVisitor() {
            $.ajax({
                url: "/api/public/statistics/saveSiteVisitor",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                type: 'POST',
                success: function (res) {

                },
                error: function (err) {

                }
            });
        }

        function getCountOfVisitors() {
            $.getJSON("/api/public/statistics/getCountOfVisitors", {
                "fromDateShamsi": '',
                "toDateShamsi": ''
            }, function (counter) {
                $('#visitCounter').html(counter);
            });
        }


        function navigateToLoginPage() {
            document.location = "login.html";
        }

        function navigateToDashboardPage() {
            document.location = "dashboard.html";
        }

        function navigateToRegisterPage() {
            document.location = "register.html";
        }

        function logout() {
            localStorage.clear();
            $.removeCookie('Authorization', {path: '/'});
            document.location = "index.html";
        }

        function loadClinicsOrderByScore() {
            let searchFilter = {
                "showInVipList": true,
                "sort": "orderNumber,asc",
                "page": 0,
                "size": 3
            };
            $.getJSON("/api/public/clinic/searchClinic", searchFilter, function (entities) {
                $('#clinics-template').tmpl(entities.entityList).prependTo('#clinics-list');
            });
        }

        function loadDoctorsOrderByScore() {
            let searchFilter = {
                "showInVipList": true,
                "sort": "orderNumber,asc",
                "page": 0,
                "size": 3
            };
            $.getJSON("/api/public/doctor/searchDoctors", searchFilter, function (entities) {
                $('#doctors-template').tmpl(entities.entityList).prependTo('#doctors-list');
            });
        }

        function load4RecentPosts() {
            $.getJSON("/api/public/portal/post/get4RecentPosts", {
                "sort": "lastUpdateDate,desc",
                "page": 0,
                "size": 4
            }, function (entities) {
                $('#4RecentPostTemplate').tmpl(entities.entityList).prependTo('#4RecentPostList');
            });
        }
    </script>
</head>
<body style="font-family: iran-yekan;color: #222222">

<!-- Main Wrapper -->
<div class="main-wrapper">

    <!-- Header -->
    <header class="header" style="z-index: 2;position: fixed;width: 100%">
        <nav class="navbar navbar-expand-lg header-nav">
            <div class="navbar-header  col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12" style="top: 0.4rem">
                <a href="index.html" class="navbar-brand logo">
                    <img src="assets/img/logo.jpg" class="img-fluid" alt="Logo" style="border-radius: 2rem">
                </a>
            </div>
            <div class="main-menu-wrapper  col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="menu-header">
                    <a href="index.html" class="menu-logo">
                        <img src="assets/img/logo.jpg" class="img-fluid" alt="Logo">
                    </a>
                    <a id="menu_close" class="menu-close" href="javascript:void(0);">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
                <ul class="main-nav">
                    <li>
                        <a href="services.html">خدمات مدیک</a>
                    </li>
                    <li>
                        <a href="homeVisit.html">هوم ویزیت</a>
                    </li>
                    <li>
                        <a href="public/searchDoctors.html">پزشکان</a>
                    </li>
                    <li>
                        <a href="public/searchClinics.html">مراکز درمانی</a>
                    </li>
                    <!--<li class="has-submenu">
                        <a href="#">جستجوی پیشرفته<i class="fas fa-angle-down"></i></a>
                        <ul class="submenu">
                            <li><a href="public/searchDoctors.html">جستجوی </a></li>
                            <li><a href="public/searchClinics.html">جستجوی کلینیک ها</a></li>
                        </ul>
                    </li>-->
                    <li>
                        <a href="#blogFragment">مجله سلامتی</a>
                    </li>
                    <li>
                        <a href="contactUs.html">ارتباط با ما</a>
                    </li>
                    <li id="dashboardPage" style="display: none">
                        <a href="dashboard.html">داشبورد</a>
                    </li>
                </ul>
            </div>
            <ul class="nav col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                <li class="nav-item" style="display: flex;white-space: nowrap">
                    <button type="button" class="btn btn-primary btn-rounded btn-sm"
                            style="color: black;display: none;z-index: 3;"
                            id="btnDashboard"
                            onclick="navigateToDashboardPage()">
                        داشبورد
                    </button>
                    <button type="button" class="btn btn-primary btn-rounded btn-sm" style="color: black;z-index: 3"
                            id="btnLogin"
                            onclick="navigateToLoginPage()">
                        ورود
                    </button>
                    <button type="button" class="btn btn-info btn-rounded btn-sm" style="color: black" id="btnRegister"
                            onclick="navigateToRegisterPage()">
                        ثبت نام پزشک/مرکز درمانی/کاربر
                    </button>
                    <button type="button" class="btn btn-danger btn-rounded btn-sm" id="btnLogout" onclick="logout()"
                            style="display: none">
                        خروج
                    </button>
                    <span style="padding-right: 1em;color: white" id="userInfo"></span>
                </li>
            </ul>
        </nav>
    </header>
    <!-- /Header -->

    <!-- slider -->
    <div id="carouselExampleIndicators" style="margin-top: 4rem;" onclick="clearAutoComplete()"
         class="carousel slide text-center col-lg-12 float-left pl-0 pr-0"
         data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item">
                <img class="d-block w-100" src="assets/img/slider/bg1.jpg" alt="توضیحات درباره خدمات"
                     onclick="clearAutoComplete()">
                <h5></h5>
                <p></p>
            </div>
            <div class="carousel-item active">
                <img class="d-block w-100" src="assets/img/slider/3.jpg" alt="توضیحات درباره خدمات"
                     onclick="clearAutoComplete()">
                <div class="carousel-caption d-none d-md-block">
                    <h5></h5>
                    <p></p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="assets/img/slider/bg3.jpg" alt="توضیحات درباره خدمات"
                     onclick="clearAutoComplete()">
                <h5></h5>
                <p></p>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="assets/img/slider/bg4.jpg" alt="توضیحات درباره خدمات"
                     onclick="clearAutoComplete()">
                <h5></h5>
                <p></p>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="assets/img/slider/bg5.jpg" alt="توضیحات درباره خدمات"
                     onclick="clearAutoComplete()">
                <h5></h5>
                <p></p>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
           data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
           data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- /slider -->


    <!-- Banner -->
    <!-- <div style="padding-right:0;padding-left: 0;">
         <img src="assets/img/new/med2.jpg" onclick="clearAutoComplete()"
              style="width: 100%;opacity: 70%;margin-top: 4rem;border-radius: 10rem 0rem 10rem 1rem;box-shadow: 0rem 0rem 7rem 2rem black">
     </div>-->
    <!-- /Banner -->

    <!-- Title on banner -->
    <div class="w-100 text-left pl-5" style="position: absolute;top: 6rem;">
        <h1>مدیک دستیار سلامت شما</h1>
        <h5 class="text-left pl-4">دریافت سریع و راحت خدمات از مراکز درمانی و پزشکان متخصص در هر زمان و مکان</h5>
    </div>
    <!-- Title on banner -->

    <!-- Search box on banner -->
    <div style="position: absolute;top: 13rem;" class="col-lg-12 col-md-12 col-sm-12">
        <input id="txtSearchBox" type="text" class="form-control col-xl-6 col-lg-6 col-md-8 col-sm-10 col-10 float-left"
               style="min-height: 3rem"
               placeholder="جستجوی مراكز درمانی براساس نام یا آدرس و جستجوی پزشکان بر اساس نام خانوادگی یا تخصص یا آدرس ...">
        <button style="min-height: 3rem" type="button"
                class="btn btn-primary col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 float-left"
                onclick="searchAutoComplete()" title="جستجو">
            <i class=" fa fa-search"></i>
        </button>
        <button style="min-height: 3rem" type="button"
                class="btn btn-danger col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 float-left"
                onclick="clearAutoComplete()" title="پاک کردن">
            <i class="fa fa-trash"></i>
        </button>

        <div id="clinic-search-result-list" class="col-xl-5 col-lg-5 col-md-6 col-sm-6 col-6 float-left"
             style="display:none;background: #19181a8c;border-radius: 0 0 1rem 0;z-index: 2">
            <script id="clinic-search-result-template" type="text/x-jquery-tmpl">
                        <div class="result col-lg-12 col-md-12 col-sm-12 col-12 float-left">
                            <div class="col-lg-2 col-md-2 col-sm-12 col-12 float-left">
                                <img class="img-fluid" style="width: 3rem;height:3rem;border-radius:2rem"
                                             src={{if fileCode!=null}}"/rest/core/file/download/${fileCode}/false"
                                                 {{else}}"/assets/img/clinics/3.jpg"
                                                 {{/if}}
                                             alt="فاقد تصویر">
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-12 col-12 float-left" onclick="navigateToClinicSinglePage(${id})">
                                <span class="col-lg-12 col-md-12 col-sm-12 col-12 float-left" style="font-size: 0.9rem;color:white;cursor:pointer;top:0.5rem">
                                ${title}
                                </span>
                            </div>
                        </div>

















            </script>
        </div>
        <div id="doctor-search-result-list" class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 float-left"
             style="display:none;width: 25%;background: #19181a8c;border-radius: 0 0 0 1rem;z-index: 2">
            <script id="doctor-search-result-template" type="text/x-jquery-tmpl">
                        <div class="result col-lg-12 col-md-12 col-sm-12 col-12 float-left">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-12 float-left">
                                <img class="img-fluid" style="width: 3rem;height:3rem;border-radius:2rem"
                                             src={{if fileCode!=null}}
                                                    "/rest/core/file/download/${fileCode}/false"
                                                 {{else}}
                                                    {{if male}}
                                                        "/assets/img/man.png"
                                                    {{else}}
                                                        "/assets/img/woman.png"
                                                    {{/if}}
                                                 {{/if}}
                                             alt="فاقد تصویر">
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-12 col-12 float-left" onclick="navigateToDoctorSinglePage(${id})">
                                <span class="col-lg-12 col-md-12 col-sm-12 col-12 float-left" style="font-size: 0.9rem;color:white;cursor:pointer;top:0.5rem">
                                دکتر     ${firstname} ${lastname}
                                </span>
                            </div>
                        </div>


















            </script>
        </div>
    </div>
    <!-- Search box on banner -->

    <!-- why medik -->
    <section class="main-page-section">
        <div class="container-fluid">
            <div class="row">
                <div class="m-auto">
                    <div class="text-center mt-5">
                        <h2>چرا مدیک ؟</h2>
                        <h4 style="text-align: justify;" id="why-medik">
                            مدیک یک وب اپلیکیشن در حوزه سلامت است که قصد دارد خدمات نوین پزشکی را در سریع ترین زمان ممکن
                            و با حداکثر کیفیت به بیماران گرامی ارائه نماید. مدیک آمده تا رابطه بین بیمار، پزشک و مراکز
                            درمانی را تسهیل و ارتقاء دهد. مدیک به جز افزایش سطح آگاهی در حوزه پزشکی، محیطی فراهم
                            کرده تا بیماران بتوانند با بهترین پزشکان و مراکز درمانی نزدیک خود آشنا شده و سپس با آگاهی
                            کامل به آنها
                            مراجعه نمایند.
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /why medik -->

    <!-- medik services -->
    <section class="main-page-section" id="servicesFragment">
        <div class="container-fluid">
            <div class="row">
                <div class="m-auto">
                    <div class="text-center mt-5">
                        <h2>خدمات مدیک</h2>
                        <p class="sub-title">ارانه خدمات کاربردی و مورد نیاز شما در حوزه بهداشت و سلامت </p>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12 mb-3 p-1">
                            <div class="card text-center doctor-book-card">
                                <img src="assets/img/new/d575-445.jpg" alt="" class="img-fluid">
                                <div class="doctor-book-card-content tile-card-content-1">
                                    <div>
                                        <h3 class="card-title mb-0">معرفی پزشکان</h3>
                                        <a href="public/searchDoctors.html" class="btn book-btn1 px-3 py-2 mt-3"
                                           tabindex="0">مشاهده</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 mb-3 p-1">
                            <div class="card text-center doctor-book-card">
                                <img src="assets/img/new/c575-445.jpg" alt="" class="img-fluid">
                                <div class="doctor-book-card-content tile-card-content-1">
                                    <div>
                                        <h3 class="card-title mb-0">معرفی مراکز درمانی</h3>
                                        <a href="public/searchClinics.html" class="btn book-btn1 px-3 py-2 mt-3"
                                           tabindex="0">مشاهده</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 mb-3 p-1">
                            <div class="card text-center doctor-book-card">
                                <img src="assets/img/new/hv.jpg" alt="" class="img-fluid">
                                <div class="doctor-book-card-content tile-card-content-1">
                                    <div>
                                        <h3 class="card-title mb-0">هوم ویزیت</h3>
                                        <a href="homeVisit.html" class="btn book-btn1 px-3 py-2 mt-3" tabindex="0">ثبت
                                            درخواست</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 mb-3 p-1">
                            <div class="card text-center doctor-book-card">
                                <img src="assets/img/new/equip.jpg" alt="" class="img-fluid">
                                <div class="doctor-book-card-content tile-card-content-1">
                                    <div>
                                        <h3 class="card-title mb-0">فروش تجهیزات ارتوپدی</h3>
                                        <a href="javascript:void(0);" class="btn book-btn1 px-3 py-2 mt-3"
                                           tabindex="0">به زودی</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /medik services -->

    <!-- slider of clinics intro -->
    <section class="main-page-section">
        <div class="container-fluid">
            <div class="row">
                <div>
                    <div class="text-center mt-5">
                        <h2>معرفی کلینیک ها</h2>
                        <p class="sub-title">محبوب ترین و مجهزترین کلینیک های پیشنهادی مدیک </p>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" id="clinics-list">
                        <script id="clinics-template" type="text/x-jquery-tmpl">
                        <div class="col-lg-4 col-md-6 col-sm-12 float-left">
                                 <img class="col-lg-12 col-md-12 col-sm-12 float-left img-fluid"
                                             alt="Clinic Image"
                                             style="border-radius:30px;padding:20px;max-width:100%;max-height:100%"
                                              src={{if organization.fileCode!=null}}"/rest/core/file/download/${organization.fileCode}/false"
                                              {{else}}
                                              "/assets/img/clinics/3.jpg"
                                              {{/if}}
                                             />
                                        <span class="col-lg-12 col-md-12 col-sm-12 float-left text-center" style="font-size: 1.5rem;border-radius:1rem">
                                            ${organization.title}
                                        </span>
                                        <span class="col-lg-12 col-md-12 col-sm-12 float-left text-white text-center" style="background-color: #485848db;border-radius:1rem">
                                             <p style="font-size: 0.8rem; height:2rem">${organization.address} - ${organization.telephone}</p>
                                        </span>
                        </div>


































                        </script>
                    </div>
                    <a class="sub-title" href="public/searchClinics.html"
                       style="color: rgba(48,46,48,0.61);display: flex;white-space: nowrap;position: absolute">مشاهده
                        همه</a>
                </div>
            </div>
        </div>
    </section>
    <!-- /slider of clinics intro -->

    <!-- slider of doctors intro -->
    <section class="main-page-section">
        <div class="container-fluid">
            <div class="row">
                <div>
                    <div class="text-center mt-5">
                        <h2>معرفی پزشکان</h2>
                        <p class="sub-title">پزشکان برتر از دید مراجعه کنندگان </p>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" id="doctors-list">
                        <script id="doctors-template" type="text/x-jquery-tmpl">
                        <div class="col-lg-4 col-md-6 col-sm-12 float-left">
                                 <img class="col-lg-12 col-md-12 col-sm-12 float-left"
                                             alt="User Image"
                                             style="border-radius: 2em;padding:1em;max-width:100%;max-height:100%"
                                              src={{if personel.male && personel.fileCode==null}}"/assets/img/man.png"{{/if}}
                                                            {{if !personel.male && personel.fileCode==null}}"/assets/img/woman.png"{{/if}}
                                                            {{if personel.fileCode!=null}}"/rest/core/file/download/${personel.fileCode}/false"{{/if}}
                                             />
                                        <span class="col-lg-12 col-md-12 col-sm-12 float-left text-center" style="font-size: 1.5rem">
                                            ${personel.firstname} ${personel.lastname}
                                        </span>
                                        <span class="col-lg-12 col-md-12 col-sm-12 float-left text-white text-center" style="background-color: #35b033cf;border-radius:1rem">
                                             <p style="font-size: 1rem;">${speciality.title}</p>
                                             <p style="font-size: 0.8rem; height:2rem">${personel.organization.address} - ${personel.organization.telephone}</p>
                                        </span>
                        </div>























                        </script>
                    </div>
                    <a class="sub-title" href="public/searchDoctors.html"
                       style="color: deeppink;display: flex;white-space: nowrap;position: absolute">مشاهده همه</a>
                </div>
            </div>
        </div>
    </section>
    <!-- /slider of doctors intro -->

    <!-- aparat tutorial videoes -->
    <section class="main-page-section">
        <div class="container-fluid">
            <div class="text-center mt-5">
                <h2>فیلم های آموزشی</h2>
                <p class="sub-title">آموزش های مفید و کاربردی فیزیوتراپی در منزل </p>
            </div>
            <div class="row">
                <div id="9534647634" class="col-sm-12 col-md-6 col-lg-3 float-left p-2">
                    <script type="text/JavaScript"
                            src="https://www.aparat.com/embed/nzI0E?data[rnddiv]=9534647634&data[responsive]=yes&startTime=20&recom=none"></script>
                </div>
                <div id="2490757874" class="col-sm-12 col-md-6 col-lg-3 float-left p-2">
                    <script type="text/JavaScript"
                            src="https://www.aparat.com/embed/OZLYU?data[rnddiv]=2490757874&data[responsive]=yes&startTime=20&recom=none"></script>
                </div>
                <div id="8747368553" class="col-sm-12 col-md-6 col-lg-3 float-left p-2">
                    <script type="text/JavaScript"
                            src="https://www.aparat.com/embed/teqBN?data[rnddiv]=8747368553&data[responsive]=yes&startTime=20&recom=none"></script>
                </div>
                <div id="1362617753" class="col-sm-12 col-md-6 col-lg-3 float-left p-2">
                    <script type="text/JavaScript"
                            src="https://www.aparat.com/embed/fo3jv?data[rnddiv]=1362617753&data[responsive]=yes&startTime=20&recom=none"></script>
                </div>
            </div>
        </div>
    </section>
    <!-- /aparat tutorial videoes -->

    <!-- Blog Section -->
    <section class="main-page-section" id="blogFragment">
        <div class="container-fluid">
            <!-- Section Header -->
            <div class="text-center mt-5">
                <h2>مجله سلامتی</h2>
                <p class="sub-title">جدیدترین پست ها، مقالات، اخبار و اطلاعات مفید در حوزه بهداشت و سلامت </p>
            </div>
            <!-- /Section Header -->

            <div class="row blog-grid-row" id="4RecentPostList">
                <!-- Blog Post -->
                <script id="4RecentPostTemplate" type="text/x-jquery-tmpl">
                <div class="col-md-6 col-lg-3 col-sm-12">
                    <div class="blog grid-blog">
                        <div class="blog-image">
                            <a href="showPostDetail.html?postId=${id}"><img class="img-fluid" style="width: 25em;height:13em"
                                             src={{if fileCode!=null}}"/rest/core/file/download/${fileCode}/false"
                                                 {{else}}"/assets/img/3.png"
                                                 {{/if}}
                                             alt="post Image"></a>
                        </div>
                        <div class="blog-content">
                            <ul class="entry-meta meta-item">
                                <li>
                                    <div class="post-author">
                                        <a ><img src= {{if author.male && author.fileCode==null}}"/assets/img/man.png"{{/if}}
                                                              {{if !author.male && author.fileCode==null}}"/assets/img/woman.png"{{/if}}
                                                              {{if author.fileCode!=null}}"/rest/core/file/download/${author.fileCode}/false"{{/if}}
                                                               alt="Post Author">
                                            <span style="color:black">${author.firstname} ${author.lastname}</span></a>
                                    </div>
                                </li>
                                <li><i class="far fa-clock"></i>${createDateShamsi}</li>
                            </ul>
                            <h3 class="blog-title"><a href="showPostDetail.html?postId=${id}">${title}</a>
                            </h3>
                            <p class="mb-0" style="text-align:justify">${body.substring(0,100)} ...  <a style="color:blue" href="showPostDetail.html?postId=${id}">ادامه مطلب</a></p>
                        </div>
                    </div>
                </div>






































































                </script>
                <!-- /Blog Post -->
            </div>
            <a class="sub-title" href="showAllPosts.html" style="color: deeppink">مشاهده همه ... </a>
        </div>
    </section>
    <!-- /Blog Section -->

    <!-- Footer -->
    <footer class="footer">

        <!-- Footer Top -->
        <div class="footer-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-6">

                        <!-- Footer Widget -->
                        <div class="footer-widget footer-about">
                            <div class="footer-logo">
                                <img src="assets/img/footer-logo.jpg" alt="logo">
                            </div>
                            <div class="footer-about-content">
                                <p>مدیک یک وب اپلیکیشن در حوزه سلامت است که قصد دارد خدمات نوین پزشکی را در سریع
                                    ترین زمان ممکن و با حداکثر کیفیت به کاربران گرامی ارائه نماید. </p>
                                <div class="social-icon">
                                    <ul>
                                        <li>
                                            <a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /Footer Widget -->

                    </div>

                    <div class="col-lg-2 col-md-6">

                        <!-- Footer Widget -->
                        <div class="footer-widget footer-menu">
                            <h2 class="footer-title">برای مراجعه‌کنندگان</h2>
                            <ul>
                                <li><a href="public/searchDoctors.html">جستجوی پزشکان</a></li>
                                <li><a href="public/searchClinics.html">جستجوی کلینیک ها</a></li>
                                <li><a href="register.html">‌ثبت‌نام</a></li>
                                <li><a href="login.html">‌ورود</a></li>
                                <li><a href="dashboard.html">داشبورد</a></li>
                            </ul>
                        </div>
                        <!-- /Footer Widget -->

                    </div>

                    <div class="col-lg-2 col-md-6">

                        <!-- Footer Widget -->
                        <div class="footer-widget footer-menu">
                            <h2 class="footer-title">برای پزشکان</h2>
                            <ul>
                                <li><a href="register.html">‌ثبت‌نام</a></li>
                                <li><a href="login.html">‌ورود</a></li>
                                <li><a href="dashboard.html">داشبورد</a></li>
                            </ul>
                        </div>
                        <!-- /Footer Widget -->

                    </div>

                    <div class="col-lg-2 col-md-6">

                        <!-- Footer Widget -->
                        <div class="footer-widget footer-menu">
                            <h2 class="footer-title">برای کلینیک ها</h2>
                            <ul>
                                <li><a href="register.html">‌ثبت‌نام</a></li>
                                <li><a href="login.html">‌ورود</a></li>
                                <li><a href="dashboard.html">داشبورد</a></li>
                            </ul>
                        </div>
                        <!-- /Footer Widget -->

                    </div>

                    <div class="col-lg-3 col-md-6">

                        <!-- Footer Widget -->
                        <div class="footer-widget footer-contact" style="color: white">
                            <h2 class="footer-title">ارتباط با ما</h2>
                            <div class="footer-contact-inincludesfo">
                                <div class="footer-address">
                                    <span><i class="fas fa-map-marker-alt"></i></span>
                                    <p> تهران<br> تهران </p>
                                </div>
                                <p>
                                    <i class="fas fa-phone-alt"></i>
                                    09193788541
                                </p>
                                <p class="mb-0">
                                    <i class="fas fa-envelope"></i>
                                    medikteb@gmail.com
                                </p>
                            </div>
                        </div>
                        <!-- /Footer Widget -->

                    </div>

                </div>
            </div>
        </div>
        <!-- /Footer Top -->

        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="container-fluid">

                <!-- Copyright -->
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-5 col-lg-5">
                            <div class="copyright-text">
                                <p class="mb-0">تمامی حقوق این اپلیکیشن برای مدیک اپ محفوظ است.</p>
                            </div>
                        </div>
                        <div class="col-md-7 col-lg-7">
                            <div class="copyright-text" style="display: flex;white-space: nowrap">
                                <p class="mb-0">آمار سایت تا امروز: &nbsp;</p>
                                <span id="visitCounter" style="color: white"></span>&nbsp;
                                <span style="color: white"> بازدید </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Copyright -->

            </div>
        </div>
        <!-- /Footer Bottom -->

    </footer>
    <!-- /Footer -->

</div>
<!-- /Main Wrapper -->

<!-- Bootstrap Core JS -->

<script src="assets/bzamani/bootstrap.min.js"></script>


</body>
</html>
