<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>پست ها</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <!-- Favicons -->
    <link href="/app/assets/img/favicon.png" rel="icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/app/assets/bzamani/bootstrap.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/app/assets/admin/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/app/assets/plugins/fontawesome/css/all.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="/app/assets/bzamani/style-admin.css">

    <!-- jQuery -->
    <script src="/app/assets/bzamani/jquery-1.10.2.min.js"></script>
    <script src="/app/assets/bzamani/jquery.template.js"></script>
    <script src="/app/assets/bzamani/grid-utility.js"></script>
    <script src="/app/assets/bzamani/general-utility.js"></script>

    <!-- pace mask -->
    <script>
        paceOptions = {
            elements: false,
            document: true, // disabled
            eventLag: false, // disabled
            ajax: {
                trackMethods: ['GET', 'POST', 'DELETE', 'PUT'],
                trackWebSockets: false
            },
            restartOnPushState: true,
            restartOnRequestAfter: true
        };
        $(function () {
            $("body").prepend("<div class='pace-cover' style='display: none;'></div>");
            Pace.on("start", function () {
                $(".pace-cover").fadeIn();
            });
            Pace.on("done", function () {
                $(".pace-cover").fadeOut();
            });
        });
    </script>
    <script type="text/javascript" src="/app/assets/bzamani/components/pace/pace.min.js"></script>
    <link rel="stylesheet" href="/app/assets/bzamani/components/pace/themes/blue/pace-theme-flash.css"/>
    <style>
        .pace-cover {
            position: fixed;
            left: 0px;
            top: 1px;
            width: 100%;
            height: 100%;
            z-index: 99999;
            background: rgba(0, 0, 0, 0.4);
        }
    </style>
    <!-- /pace mask -->

    <!-- sweet alert -->
    <script type="text/javascript" src="/app/assets/bzamani/components/sweetalert/sweetalert2.min.js"></script>
    <script type="text/javascript" src="/app/assets/bzamani/components/sweetalert/sweetAlertConfirm.js"></script>
    <link rel="stylesheet" href="/app/assets/bzamani/components/sweetalert/sweetalert2.min.css">
    <!-- /sweet alert -->

    <script>
        var contextPath = "/app";
        var entityData = {
            "id": '',
            "title": '',
            "category": {"id": ''},
            "body": '',
            "tags": '',
            "allowLikeOrComment": '',
            "fileCode": ''
        };

        var searchFilters = {
            "searchBox": '',
            "categoryId": -1,
            "confirmed": null,
            "sort": "id,desc",
            "page": 0,
            "size": 8
        };

        $(function () {
            refreshGrid();
            fillComboBaseInfo(4, "cmbCategory");

            $('#cmbPageSize').change(function () {
                searchFilters.size = $(this).val();
                refreshGrid();
            });

            $('.searchFilter').keydown(function (e) {
                if (e.which == 13)  // the enter key code
                    searchPost();
            });

            $('#cmbSearchConfirmed').change(function () {
                if ($(this).val() == -1)
                    searchFilters.confirmed = null;
                else
                    searchFilters.confirmed = $(this).val();
                searchPost();
            });

            reFillCategories();

        });

        function reFillCategories() {
            $.getJSON(contextPath + "/api/public/portal/post/getAllUsedPostCategories", searchFilters, function (res) {
                $('#categoryList :not(script)').remove();
                $("#categoryTemplate").tmpl(res).appendTo("#categoryList");
            });
        }

        function searchPost() {
            searchFilters.searchBox = $("#txtSearchBox").val();
            refreshGrid();
        }

        function clearSearch() {
            $('#cmbPageSize').val(8);
            searchFilters = {
                "searchBox": '',
                "categoryId": -1,
                "confirmed": null,
                "sort": "id,desc",
                "page": 0,
                "size": 8
            };
            $('.searchFilter').val('');
            $(".categoryElement").css("backgroundColor", "white");
            $(".categoryElement").css("color", "black");
            refreshGrid();
        }

        function next() {
            searchFilters.page = searchFilters.page + 1;
            refreshGrid();
        }

        function previous() {
            searchFilters.page = searchFilters.page - 1;
            refreshGrid();
        }

        function goTo(pageNumber) {
            searchFilters.page = pageNumber;
            refreshGrid();
        }

        function refreshGrid() {
            reFillCategories();
            $.getJSON(contextPath + "/api/public/portal/post/searchPost", searchFilters, function (entities) {
                if (entities.entityList) {
                    $('#postList :not(script)').remove();
                    $('#postTemplate').tmpl(entities.entityList).prependTo('#postList');
                }
                if (entities.totalRecords == 0) {
                    showMessage("موردی یافت نشد.", "", "info");
                }
                $('#totalRecords').html(entities.totalRecords);
                $('#currentPage').html(entities.currentPage + 1);
                $('#totalPages').html(entities.totalPages);
                $('#pagingList > li').remove();

                if (entities.currentPage == 0)
                    $('#pagingList').append('<li class="page-item"><a class="page-link disabled" style="color: grey" > قبلی </a></li>');
                else
                    $('#pagingList').append('<li class="page-item"><a class="page-link" style="cursor: pointer;color:black;" onclick="previous()"> قبلی </a></li>');

                for (let i = 0; i < entities.totalPages; i++) {
                    if (entities.currentPage == i)
                        $('#pagingList').append('<li class="page-item active"><a class="page-link" style="color:black;" href="#">' + ++i + '<span class="sr-only">(current)</span></a></li>');
                    else
                        $('#pagingList').append('<li class="page-item"><a class="page-link" onclick="goTo(' + i + ')">' + ++i + '</a></li>');
                    --i;
                }

                if (entities.currentPage == entities.totalPages - 1)
                    $('#pagingList').append('<li class="page-item"><a class="page-link disabled" style="color: grey" > بعدی </a></li>');
                else
                    $('#pagingList').append('<li class="page-item"><a class="page-link" style="cursor: pointer;color: black" onclick="next()"> بعدی </a></li>');

                highlightSelectedCategory();
            });
        }

        function highlightSelectedCategory() {
            if (searchFilters.categoryId > 0) {
                $(".categoryElement").css("backgroundColor", "white");
                $(".categoryElement").css("color", "black");
                $("#category_" + searchFilters.categoryId).css("backgroundColor", "#00d0f1");
                $("#category_" + searchFilters.categoryId).css("border-radius", "3px");
                $("#category_" + searchFilters.categoryId).css("color", "white");
                $("#category_" + searchFilters.categoryId).css("fontWeight", "bold");
            }
        }

        function rowSelected(id) {
            $('#hiddenFieldId').val(id);
        }

        function rowDeselected() {
            $('#hiddenFieldId').val();
        }

        function loadPost(id) {
            clearInputs();
            clearEntity();
            $.ajax({
                url: contextPath + "/api/public/portal/post/load/" + id,
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                type: 'GET',
                success: function (res) {
                    $("#hiddenFieldId").val(res.id);
                    $("#postDetailDiv > div").remove();
                    $("#postDetailTemplate").tmpl(res).appendTo("#postDetailDiv");
                    if (res.allowLikeOrComment == true) {
                        loadAllComments(id);
                        $('.commentSection').show();
                    } else {
                        $("#commentsList > li").remove();
                        $('.commentSection').hide();
                    }
                },
                error: function (err) {
                }
            });
        }

        function clearEntity() {
            entityData = {
                "id": '',
                "title": '',
                "category": {"id": ''},
                "body": '',
                "tags": '',
                "allowLikeOrComment": '',
                "fileCode": ''
            };
        }

        function selectCategory(id) {
            searchFilters.categoryId = id;
            refreshGrid();
        }

        function loadAllComments(postId) {
            $.getJSON(contextPath + "/api/public/portal/comment/getAllConfirmedCommentsByPostId", {
                "postId": postId,
                "sort": "id,desc",
                "page": 0,
                "size": 1000
            }, function (res) {
                $("#commentsList > li").remove();
                $("#commentsTemplate").tmpl(res.entityList).appendTo("#commentsList");
            });
        }

        function saveComment() {
            if ($('#txtComment').val() != '') {
                $.ajax({
                    url: contextPath + "/rest/portal/comment/save",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify({
                        id: '',
                        post: {id: $("#hiddenFieldId").val()},
                        description: $('#txtComment').val()
                    }),
                    type: 'POST',
                    success: function (res) {
                        showMessage("با تشکر", "نظر شما ثبت شد و پس از بررسی مدیریت، منتشر می گردد.", "success");
                    },
                    error: function (err) {
                        if (err.responseText.includes("Full authentication is required"))
                            document.location = "login.html";
                        else
                            showMessage("خطا", err.responseJSON.message, "error");
                    }
                });
            } else showMessage("هنوز نظری نداده اید.", "", "warning");
        }

        function returnToHomePage() {
            document.location = "index.html"
        }

        function likePost(postId) {
            $.ajax({
                url: contextPath + "/rest/portal/like/save",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                data: JSON.stringify({
                    id: '',
                    post: {id: postId}
                }),
                type: 'POST',
                success: function (res) {
                    refreshGrid();
                },
                error: function (err) {
                    if (err.responseText.includes("unq_liker_post"))
                        showMessage("شما قبلا این پست را لایک کرده اید.", "", "warning");
                    if (err.responseText.includes("Full authentication is required")) {
                        document.location = "login.html";
                    }
                }
            });
        }

    </script>
</head>
<body style="background-color: #00121e;">

<!-- Main Wrapper -->
<div class="main-wrapper">

    <!-- Page Content -->
    <div class="content" style="margin-right: -.1em">
        <div style="margin-left: 1em;margin-right: 1em;margin-top: 1em">
            <div class="row">
                <!-- Blog Sidebar -->
                <div class="col-lg-2 col-md-3 col-md-12 sidebar-right theiaStickySidebar">

                    <!-- Search -->
                    <div class="card search-widget">
                        <div class="card-body">
                            <div class="input-group pt-1">
                                <div class="input-group-append">
                                    <button onclick="clearSearch()" class="btn btn-secondary"
                                            style="border-radius: 0px 7px 7px 0px"><i
                                            class="fa fa-eraser"></i>
                                    </button>
                                </div>
                                <input type="text" placeholder="جستجو" class="form-control searchFilter"
                                       style="font-size: smaller"
                                       id="txtSearchBox">
                                <div class="input-group-append">
                                    <button onclick="searchPost()" class="btn btn-primary"
                                            style="border-radius: 7px 0px 0px 7px"><i
                                            class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Search -->

                    <!-- Categories -->
                    <div class="card category-widget">
                        <div class="card-header">
                            <h5 class="card-title"> دسته‌بندی ها </h5>
                        </div>
                        <table class="card-body" id="categoryList" style="width: 100%">
                            <script id="categoryTemplate" type="text/x-jquery-tmpl">
                            <tr class="categories" >
                                <td id="category_${id}" class="categoryElement" style="cursor:pointer;display:flex;white-space:nowrap;width:80%" onclick="selectCategory(${id})">
                                       <a>${title}</a>
                                </td>
                                <td style="width: 20%">
                                    <span class="badge badge-pill bg-info text-white">${numberOfPosts}</span>
                                </td>
                            </tr>



                            </script>
                        </table>
                    </div>
                    <button class="btn btn-secondary submit-btn" onclick="returnToHomePage()"> بازگشت
                    </button>
                    <!-- /Categories -->

                </div>
                <!-- /Blog Sidebar -->

                <div class="col-lg-10 col-md-9 col-md-12">
                    <div class="row blog-grid-row" id="postList">
                        <!-- Blog Post -->
                        <script id="postTemplate" type="text/x-jquery-tmpl">
                         <div class="col-md-6 col-sm-12" >
                            <div class="blog grid-blog">
                                <div class="blog-image">
                                    <a><img class="img-fluid" style="width: 30em;height:17em"
                                             src={{if fileCode!=null}}"/app/rest/core/file/download/${fileCode}/false"
                                                 {{else}}"/app/assets/img/3.png"
                                                 {{/if}}
                                             alt="post Image"></a>
                                </div>
                                <div class="blog-content">
                                    <ul class="entry-meta meta-item col-sm-12 float-left">
                                        <div class="blog-info clearfix">
                                            <div class="post-left">
                                                <ul>
                                                    <li class="col-md-6 col-sm-12 float-left">
                                                        <div class="post-author">
                                                            <a>
                                                            <img src= {{if author.male && author.fileCode==null}}"/app/assets/img/man.png"{{/if}}
                                                              {{if !author.male && author.fileCode==null}}"/app/assets/img/woman.png"{{/if}}
                                                              {{if author.fileCode!=null}}"/app/rest/core/file/download/${author.fileCode}/false"{{/if}}
                                                               alt="Post Author">
                                                            <span>${author.firstname} ${author.lastname}</span></a>
                                                        </div>
                                                    </li>
                                                    <li style="display:flex;white-space:nowrap;" class="col-md-4 col-sm-12 float-left"><i class="far fa-calendar"></i>${createDateShamsi}</li>
                                                    <li style="display:flex;white-space:nowrap;" class="col-md-3 col-sm-12 float-left"><i class="fa fa-tags"></i>${category.title}</li>
                                                    <li style="display:flex;white-space:nowrap;" class="col-md-3 col-sm-12 float-left">{{if allowLikeOrComment}}<i class="far fa-comments"></i>${commentsCount} نظر{{/if}}</li>
                                                    <li style="display:flex;white-space:nowrap;" class="col-md-2 col-sm-12 float-left">{{if allowLikeOrComment}}<i class="fa fa-heart text-danger" style="cursor:pointer" onclick="likePost(${id})"></i>${likesCount}{{/if}}</li>
                                                </ul>
                                            </div>
									    </div>
                                    </ul>
                                    <h3 class="blog-title"><a href="showPostDetail.html?postId=${id}" style="font-weight:bolder">${title}</a></h3>
                                    <p class="mb-0">${body.substring(0,40)} ... </p>
                                    <div class="text-center">
                                        <a href="#add_edit_modal" onclick="loadPost(${id})"  data-toggle="modal" class="btn btn-warning  btn-sm">بیشتر بخوانید ...</a>
                                    </div>
                                </div>
                            </div>
                        </div>












































                        </script>
                        <!-- /Blog Post -->
                    </div>
                </div>
            </div>
            <!-- paging -->
            <div class="row col-lg-12 col-md-12 card-body pl-5" style="text-align: center!important;color: white">
                <span class="float-left pt-2"> صفحه &nbsp;</span>
                <span class="float-left pt-2" id="currentPage"></span>
                <span class="float-left pt-2">&nbsp;از &nbsp;</span>
                <span class="float-left pt-2" id="totalPages"></span>&nbsp;

                <ul class="pagination float-left" id="pagingList"></ul>&nbsp;

                <span class="float-left pt-2" id="totalRecords"></span>
                <span class="float-left pt-2"> مورد &nbsp;</span>

                <select id="cmbPageSize" class="float-left"
                        style="height: 35px;border-radius: 8px;cursor: pointer">
                    <option value="5">5</option>
                    <option value="8" selected>8</option>
                    <option value="10">10</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
            <!-- paging -->
        </div>
    </div>
    <!-- /Page Content -->

    <!-- show full post Modal -->
    <div class="modal fade custom-modal" id="add_edit_modal" aria-hidden="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-white">مشاهده کامل پست </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnCloseModal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- show Post -->
                    <input type="hidden" id="hiddenFieldId"/>
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- Blog Details-->
                            <div class="blog-view" id="postDetailDiv">
                                <script id="postDetailTemplate" type="text/x-jquery-tmpl">
                                <div class="blog blog-single-post">
                                    <div class="text-center">
                                        <a href="javascript:void(0);">
                                        <img src={{if fileCode!=null}}"/app/rest/core/file/download/${fileCode}/false" style="max-width: 100%"
                                                 {{else}}"/app/assets/img/3.png"
                                                 {{/if}}
                                             alt="post Image"></a>
                                    </div>
                                    <h3 class="blog-title">${title}</h3>
                                    <div class="blog-info clearfix">
                                        <div class="post-left">
                                            <ul>
                                                <li>
                                                    <div class="post-author">
                                                        <a href="javascript:void(0);"><img src= {{if author.male && author.fileCode==null}}"/app/assets/img/man.png"{{/if}}
                                                              {{if !author.male && author.fileCode==null}}"/app/assets/img/woman.png"{{/if}}
                                                              {{if author.fileCode!=null}}"/app/rest/core/file/download/${author.fileCode}/false"{{/if}}
                                                               alt="Post Author"><span>${author.firstname} ${author.lastname}</span></a>
                                                    </div>
                                                </li>
                                                <li><i class="far fa-calendar"></i>${createDateShamsi}</li>
                                                <li><i class="fa fa-tags"></i>${category.title}</li>
                                                {{if allowLikeOrComment}}
                                                    <li><i class="far fa-comments"></i>${commentsCount} نظر</li>
                                                    <li><i class="fa fa-heart text-danger" style="cursor:pointer" onclick="likePost(${id})"></i>${likesCount}</li>
                                                {{/if}}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="blog-content">
                                        <p>${body}</p>
                                    </div>
                                </div>
























                                </script>
                            </div>
                            <!-- /Blog Details-->

                            <div class="card blog-comments clearfix commentSection" style="display:none;">
                                <div class="card-header">
                                    <h4 class="card-title">نظرات کاربران</h4>
                                </div>
                                <div class="card-body pb-0">
                                    <ul class="comments-list" id="commentsList">
                                        <script id="commentsTemplate" type="text/x-jquery-tmpl">
                                        <li>
                                            <div class="comment">
                                                <div class="comment-author">
                                                    <img class="avatar" src= {{if commenter.male && commenter.fileCode==null}}"/app/assets/img/man.png"{{/if}}
                                                         {{if !commenter.male && author.fileCode==null}}"/app/assets/img/woman.png"{{/if}}
                                                         {{if commenter.fileCode!=null}}"/app/rest/core/file/download/${commenter.fileCode}/false"{{/if}}
                                                         alt="commenter image">
                                                </div>
                                                <div class="comment-block">
													<span class="comment-by">
														<span class="blog-author-name">${commenter.firstname} ${commenter.lastname}</span>
													</span>
                                                    <p>${description}</p>
                                                    <p class="blog-date">${createDateShamsi}</p>
                                                </div>
                                            </div>
                                        </li>






















                                        </script>
                                    </ul>
                                </div>
                            </div>

                            <div class="card new-comment clearfix commentSection" style="display: none">
                                <div class="card-header">
                                    <h4 class="card-title">ارسال نظر</h4>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label> نظر </label>
                                        <textarea rows="4" class="form-control" id="txtComment"
                                                  maxlength="255"></textarea>
                                    </div>
                                    <div class="submit-section">
                                        <button class="btn btn-primary submit-btn" onclick="saveComment()"> ارسال
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- /show Post -->
                </div>
            </div>
        </div>
    </div>
    <!-- /show full post Modal -->

</div>
<!-- /Main Wrapper -->


<!-- Bootstrap Core JS -->
<script src="/app/assets/admin/chart/popper.min.js"></script>

<!-- Bootstrap Core JS -->
<script src="/app/assets/bzamani/bootstrap.min.js"></script>

<!-- Custom JS -->
<script src="/app/assets/admin/chart/script.js"></script>

</body>
</html>