<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>جستجوی کلینیک</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <!-- Favicons -->
    <link href="../assets/img/favicon.png" rel="icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../assets/bzamani/bootstrap.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="../assets/admin/css/font-awesome.min.css">

    <!-- Select2 CSS -->
    <link rel="stylesheet" href="../assets/bzamani/select2.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="../assets/bzamani/style-public.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.min.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery -->
    <script src="../assets/bzamani/jquery-1.10.2.min.js"></script>
    <script src="../assets/bzamani/jquery.template.js"></script>

    <!-- pace mask -->
    <script>
        paceOptions = {
            elements: false,
            document: true, // disabled
            eventLag: false, // disabled
            ajax: {
                trackMethods: ['GET', 'POST', 'DELETE', 'PUT'],
                trackWebSockets: false
            },
            restartOnPushState: true,
            restartOnRequestAfter: true
        };
        $(function () {
            $("body").prepend("<div class='pace-cover' style='display: none;'></div>");
            Pace.on("start", function () {
                $(".pace-cover").fadeIn();
            });
            Pace.on("done", function () {
                $(".pace-cover").fadeOut();
            });
        });
    </script>
    <script type="text/javascript" src="/assets/bzamani/components/pace/pace.min.js"></script>
    <link rel="stylesheet" href="/assets/bzamani/components/pace/themes/blue/pace-theme-flash.css"/>
    <style>
        .pace-cover {
            position: fixed;
            left: 0px;
            top: 1px;
            width: 100%;
            height: 100%;
            z-index: 99999;
            background: rgba(0, 0, 0, 0.4);
        }
    </style>
    <!-- /pace mask -->


    <style>
        .card:hover {
            border-color: silver;
            background-color: gold;

        }
    </style>

    <script>
        searchFilters = {
            "stateId": -1,
            "cityId": -1,
            "regionId": -1,
            "organizationTitle": '',
            "organizationAddress": '',
            "sort": "id,desc",
            "size": 50
        };

        $(function () {
            fillComboState();
            searchClinic();


            $("#btnMore").click(function () {
                searchFilters.size += 10;
                searchClinic();
            });

            $(".sort-btn").click(function () {
                searchFilters.sort = $(this).attr("sort-order");
                $(".sort-btn").removeClass("bg-primary");
                $(this).addClass("bg-primary");
                searchClinic();
            });

            $("#cmbState").change(function () {
                searchFilters.stateId = $(this).val();
                searchClinic();
                fillComboCity($(this).val());
                $("#cmbRegion").html("<select class='select' id='cmbRegion'></select>");
            });

            $("#cmbCity").change(function () {
                searchFilters.cityId = $(this).val();
                searchClinic();
                fillComboRegion($(this).val());
            });

            $("#cmbRegion").change(function () {
                searchFilters.regionId = $(this).val();
                searchClinic();
            });

        });

        function fillComboState() {
            $.ajax({
                type: "GET",
                url: "/api/public/baseinfo/getAllByHeaderId/1",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (res) {
                    $("#cmbState").append("<option value=-1>...</option>");
                    $.each(res, function (index, value) {
                        $("#cmbState").append("<option value=" + value.id + ">" + value.title + "</option>");
                    });
                },
                error: function (err) {
                    console.log("error ---- " + err);
                }
            });
        }

        function fillComboCity(stateId) {
            $.ajax({
                type: "GET",
                url: "/api/public/baseinfo/getAllByParentId/" + stateId,
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (res) {
                    $("#cmbCity").html("<select class='select' id='cmbCity'></select>");
                    $("#cmbCity").append("<option value=-1>...</option>");
                    $.each(res, function (index, value) {
                        $("#cmbCity").append("<option value=" + value.id + ">" + value.title + "</option>");
                    });
                },
                error: function (err) {
                    console.log("error ---- " + err);
                }
            });
        }

        function fillComboRegion(cityId) {
            $.ajax({
                type: "GET",
                url: "/api/public/baseinfo/getAllByParentId/" + cityId,
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (res) {
                    $("#cmbRegion").html("<select class='select' id='cmbRegion'></select>");
                    $("#cmbRegion").append("<option value=-1>...</option>");
                    $.each(res, function (index, value) {
                        $("#cmbRegion").append("<option value=" + value.id + ">" + value.title + "</option>");
                    });
                    $('#cmbRegion').select2();
                },
                error: function (err) {
                    console.log("error ---- " + err);
                }
            });
        }


        function searchClinic() {
            searchFilters.organizationAddress = $("#txtSearchAddress").val();
            searchFilters.organizationTitle = $("#txtSearchTitle").val();
            $.ajax({
                type: "GET",
                url: "/api/public/clinic/searchClinic",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                data: searchFilters,
                success: function (res) {
                    $("#clinicList > div").remove();
                    $("#clinicTemplate").tmpl(res.entityList).appendTo("#clinicList");
                    $("#lblTotalRecords").html(res.totalRecords);
                },
                error: function (err) {
                    console.log("error ---- " + err);
                }
            });
        }
    </script>

</head>

<body style="color: black;background-color: #f5f5f5">

<!-- Main Wrapper -->
<div class="main-wrapper">

    <!-- Header -->
    <header class="header">
        <nav class="navbar navbar-expand-lg header-nav">
            <div class="navbar-header col-lg-2 col-sm-12">
                <a href="../index.html" class="navbar-brand logo">
                    <img src="../assets/img/logo.jpg" class="img-fluid" alt="Logo" style="border-radius: 1rem">
                </a>
            </div>
            <div class="main-menu-wrapper col-lg-10 col-sm-12">
                <div class="menu-header">
                    <a href="index.html" class="menu-logo">
                        <img src="assets/img/logo.jpg" class="img-fluid" alt="Logo">
                    </a>
                    <a id="menu_close" class="menu-close" href="javascript:void(0);">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
                <ul class="main-nav">
                    <li>
                        <a href="/index.html">صفحه اصلی</a>
                    </li>
                    <li>
                        <a href="/services.html">خدمات مدیک</a>
                    </li>
                    <li>
                        <a href="/homeVisit.html">هوم ویزیت</a>
                    </li>
                    <li>
                        <a href="/public/searchDoctors.html">پزشکان</a>
                    </li>
                    <li>
                        <a href="/public/searchClinics.html">مراکز درمانی</a>
                    </li>
                    <li>
                        <a href="/showAllPosts.html">مجله سلامتی</a>
                    </li>
                    <li>
                        <a href="/contactUs.html">ارتباط با ما</a>
                    </li>
                    <li id="dashboardPage" style="display: none">
                        <a href="/dashboard.html">داشبورد</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- /Header -->

    <!-- Page Content -->
    <div class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12 col-lg-4 col-xl-3 theiaStickySidebar">

                    <!-- Search Filter -->
                    <div class="search-filter" style="border-radius: 15px;box-shadow:0px 0px 10px 1px silver">
                        <div class="card-header"
                             style="border-radius: 15px 15px 0px 0px;box-shadow:0px 0px 10px 1px silver;display: flex;white-space: nowrap">
                            <h4 class="card-title mb-0"> جستجوی کلینیک ها</h4>&nbsp;
                        </div>
                        <div class="card-body">
                            <div class="filter-widget">
                                <h4>استان</h4>
                                <select class="select" id="cmbState">
                                </select>
                            </div>
                            <div class="filter-widget">
                                <h4>شهر</h4>
                                <select class="select" id="cmbCity">
                                </select>
                            </div>
                            <div class="filter-widget">
                                <h4>منطقه شهرداری / نام محله</h4>
                                <select class="select" id="cmbRegion">
                                </select>
                            </div>
                            <div class="filter-widget">
                                <h4>نام کلینیک</h4>
                                <input type="text" class="form-control" id="txtSearchTitle"/>
                            </div>
                            <div class="filter-widget">
                                <h4>آدرس</h4>
                                <input type="text" class="form-control" id="txtSearchAddress"/>
                            </div>
                            <div class="btn-search">
                                <button type="button" class="btn btn-block" style="color: black" onclick="searchClinic()">جستجو</button>
                            </div>
                        </div>
                    </div>
                    <!-- /Search Filter -->

                </div>
                <!-- clinic Widget -->
                <div class="col-md-12 col-lg-8 col-xl-9">
                    <div class="col-md-12 col-lg-12 col-xl-12">
                        <div style="display: flex;white-space: nowrap;margin-bottom:1em">
                            <div style="font-weight: bolder">مرتب سازی بر اساس:</div>
                            <div><a class="badge-pill  mr-1  sort-btn bg-primary" sort-order="id,desc">امتیاز</a></div>
                            <div><a class="badge-pill mr-1 sort-btn" sort-order="discount,desc">درصد تخفیف</a>
                            </div>
                            <div><a class="badge-pill mr-1 sort-btn" sort-order="organization.address,asc">آدرس</a>
                            </div>
                            &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                            <div style="font-weight: bolder">تعداد نتایج:</div>
                            <span class="badge-pill bg-info text-white" id="lblTotalRecords"></span>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12 col-xl-12" id="clinicList">
                        <script id="clinicTemplate" type="text/x-jquery-tmpl">
                    <div class="card" style="border-radius: 15px;box-shadow:0px 0px 10px 1px silver">
                        <div class="card-body">
                            <div class="doctor-widget">
                                <div class="doc-info-left">
                                    <div class="doctor-img">
                                        <a>
                                            <img src= {{if organization.fileCode!=null}}"/rest/core/file/download/${organization.fileCode}/false"{{/if}}
                                            class="img-fluid"
                                            alt="Clinic Image">
                                        </a>
                                    </div>
                                    <div class="doc-info-cont">
                                        <h4 class="doc-name">${organization.title}</h4>
                                        <p class="doc-speciality">
                                            <i class="fa fa-stethoscope" aria-hidden="true"></i>
                                            ${organization.state.title}
                                        </p>
                                        <h5 class="doc-department"> تخفیف: ${discount} %</h5>
                                        <div class="rating">
                                            <i class="fa fa-star filled"></i>
                                            <i class="fa fa-star filled"></i>
                                            <i class="fa fa-star filled"></i>
                                            <i class="fa fa-star filled"></i>
                                            <i class="fa fa-star"></i>
                                            <span class="d-inline-block average-rating">(${id})</span>
                                        </div>
                                        <div class="clinic-details">
                                            <p class="doc-location">
                                                <i class="fa fa-map"></i> ${organization.address}
                                            </p>
                                        </div>
                                        <div class="clinic-details">
                                            <p class="doc-location">
                                                <i class="fa fa-phone"></i> ${organization.telephone}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="doc-info-right">
                                    <div class="clini-infos">
                                        <ul>
                                            <li><i class="fa fa-thumbs-up"></i> 95% رضایتمندی بیماران</li>
                                            <li><i class="fa fa-comment"></i> 17 نظر ثبت شده</li>
                                            <li><i class="fa fa-map"></i>{{if organization.city != null }}${organization.city.title}{{/if}} - {{if organization.region != null }}${organization.region.title}{{/if}}</li>
                                            <li><i class="fa fa-money-bill-alt"></i>${discount} %<i
                                                    class="fa fa-info-circle"
                                                    data-toggle="tooltip" title="Lorem Ipsum"></i></li>
                                        </ul>
                                    </div>
                                    <div class="clinic-booking">
                                        <a class="view-pro-btn" href="javascript:void()">اطلاعات بیشتر...</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




























                        </script>
                    </div>
                </div>
                <!-- /clinic Widget -->
                <div class="text-center col-sm-12">
                    <a class="btn btn-primary btn-md" href="javascript:void(0);" id="btnMore" style="color: black">بارگذاری بیشتر</a>
                </div>
            </div>

        </div>

    </div>
    <!-- /Page Content -->

    <!-- Footer -->
    <footer class="footer">

        <!-- Footer Top -->
        <div class="footer-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-6">

                        <!-- Footer Widget -->
                        <div class="footer-widget footer-about">
                            <div class="footer-logo">
                                <img src="/assets/img/footer-logo.jpg" alt="logo">
                            </div>
                            <div class="footer-about-content">
                                <p>مدیک یک وب اپلیکیشن در حوزه سلامت است که قصد دارد خدمات نوین پزشکی را در سریع
                                    ترین زمان ممکن و با حداکثر کیفیت به کاربران گرامی ارائه نماید. </p>
                                <div class="social-icon">
                                    <ul>
                                        <li>
                                            <a href="#" target="_blank"><i class="fa fa-twitter"></i> </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /Footer Widget -->

                    </div>

                    <div class="col-lg-2 col-md-6">

                        <!-- Footer Widget -->
                        <div class="footer-widget footer-menu">
                            <h2 class="footer-title">برای مراجعه‌کنندگان</h2>
                            <ul>
                                <li><a href="searchDoctors.html">جستجوی پزشکان</a></li>
                                <li><a href="searchClinics.html">جستجوی کلینیک ها</a></li>
                                <li><a href="/register.html">‌ثبت‌نام</a></li>
                                <li><a href="/login.html">‌ورود</a></li>
                                <li><a href="/dashboard.html">داشبورد</a></li>
                            </ul>
                        </div>
                        <!-- /Footer Widget -->

                    </div>

                    <div class="col-lg-2 col-md-6">

                        <!-- Footer Widget -->
                        <div class="footer-widget footer-menu">
                            <h2 class="footer-title">برای پزشکان</h2>
                            <ul>
                                <li><a href="/login.html">‌ورود</a></li>
                                <li><a href="/dashboard.html">داشبورد</a></li>
                            </ul>
                        </div>
                        <!-- /Footer Widget -->

                    </div>

                    <div class="col-lg-2 col-md-6">

                        <!-- Footer Widget -->
                        <div class="footer-widget footer-menu">
                            <h2 class="footer-title">برای کلینیک ها</h2>
                            <ul>
                                <li><a href="/login.html">‌ورود</a></li>
                                <li><a href="/dashboard.html">داشبورد</a></li>
                            </ul>
                        </div>
                        <!-- /Footer Widget -->

                    </div>

                    <div class="col-lg-3 col-md-6">

                        <!-- Footer Widget -->
                        <div class="footer-widget footer-contact" style="color: white">
                            <h2 class="footer-title">ارتباط با ما</h2>
                            <div class="footer-contact-inincludesfo">
                                <div class="footer-address">
                                    <span><i class="fas fa-map-marker-alt"></i></span>
                                    <p> تهران<br> تهران </p>
                                </div>
                                <p>
                                    <i class="fas fa-phone-alt"></i>
                                    09193788541
                                </p>
                                <p class="mb-0">
                                    <i class="fas fa-envelope"></i>
                                    medikteb@gmail.com
                                </p>
                            </div>
                        </div>
                        <!-- /Footer Widget -->

                    </div>

                </div>
            </div>
        </div>
        <!-- /Footer Top -->

        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="container-fluid">

                <!-- Copyright -->
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-5 col-lg-5">
                            <div class="copyright-text">
                                <p class="mb-0">تمامی حقوق این اپلیکیشن برای مدیک اپ محفوظ است.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Copyright -->

            </div>
        </div>
        <!-- /Footer Bottom -->

    </footer>
    <!-- /Footer -->

</div>
<!-- /Main Wrapper -->

<!-- Bootstrap Core JS -->
<script src="../assets/admin/chart/popper.min.js"></script>
<script src="../assets/bzamani/bootstrap.min.js"></script>

<!-- Sticky Sidebar JS -->


<!-- Select2 JS -->
<script src="../assets/bzamani/select2.min.js"></script>


<!-- Custom JS -->
<script src="../assets/admin/chart/script.js"></script>


</body>

</html>
